n8n-workflows/Activity_Handler.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "event",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -464,
        176
      ],
      "id": "1b1e96c4-7e47-4f0a-883f-ef93e37fe69b",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "const event = $('Execute Workflow Trigger').first().json.event;\n\nreturn [{\n  json: {\n    ...event\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        176
      ],
      "id": "51d67b26-4f1b-445a-bfcf-2f9e838536ed",
      "name": "Prepare LLM Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an activity classifier for a life-tracking system.\n\nAssign probability scores (0-100) to each category. Scores must add up to exactly 100.\n\n## Categories\n\nwork → Productive, focused effort on projects, coding, building, debugging, refining systems, testing, or task-oriented development.\nleisure → Relaxed, non-productive enjoyment: scrolling, watching videos, browsing, casual reading, coffee breaks.\nstudy → Intentional learning or skill-building not directly tied to immediate project work.\nhealth → Physical or mental self-care: exercise, eating meals, hygiene, mindfulness.\nsleep → Going to bed, waking up, napping, or sleep transitions.\nrelationships → Social interaction: chatting with friends/family/partners, or personal/social AI conversations.\nadmin → Organizational/maintenance tasks: planning schedules, managing todos, fixing tools/setup, meta work on tracking system.\n\n## Key Guidelines\n- Heavily favor the most dominant theme.\n- Sleep-related messages → give sleep the highest score.\n- Project-related AI chats → work.\n- Eating/drinking → health (split with leisure if combined).\n- Meta work on tracking system → admin (or work if core building).\n- Omit any category with score ≤5 (treat as 0).\n\nOutput ONLY lines for categories with score >5, in any order:\ncategory_name|X\n\n(Printed scores must sum to exactly 100, integers only)\n\n## Examples\nworking on the router agent implementation\nwork|98\nadmin|2\n\nsipping coffee while scrolling social media\nleisure|88\nhealth|12\n\nresearching common data structures for fun\nstudy|82\nwork|18\n\nsolving leetcode puzzles to improve skills\nstudy|90\nleisure|10\n\nwatching history videos about ancient Rome\nleisure|83\nstudy|17\n\ngoing to bed after a long day\nsleep|93\nhealth|7\n\njust woke up and getting coffee\nsleep|70\nhealth|22\nleisure|8\n\nchatting with a friend about weekend plans\nrelationships|87\nleisure|13\n\nhaving lunch\nhealth|92\nleisure|8\n\nrefining the intent classifier prompt\nwork|88\nadmin|12\n\norganizing my todo list and reviewing logs\nadmin|88\nwork|12\n\n## User Message\n{{ $json.clean_text }}",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -16,
        176
      ],
      "id": "2dd1f4dc-78b0-4033-a937-406f26a03508",
      "name": "Activity Classifier"
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM output in pipe format: \"category|score\"\nlet text = $input.first().json.text.trim();\n\nconst event = $('Execute Workflow Trigger').first().json.event;\n\ntry {\n  // Parse pipe format: \"work|98\\nadmin|2\"\n  const lines = text.split('\\n').filter(line => line.includes('|'));\n  const scores = {};\n  let topCategory = null;\n  let topScore = 0;\n  \n  lines.forEach(line => {\n    const [category, scoreStr] = line.split('|').map(s => s.trim());\n    const score = parseInt(scoreStr);\n    \n    if (!isNaN(score)) {\n      scores[category] = score;\n      \n      if (score > topScore) {\n        topScore = score;\n        topCategory = category;\n      }\n    }\n  });\n  \n  // Ensure we have at least one category\n  if (!topCategory) {\n    throw new Error('No valid categories found in LLM response');\n  }\n  \n  return [{\n    json: {\n      category_name: topCategory,\n      confidence: topScore / 100,  // Convert to 0-1 range\n      all_scores: scores,\n      description: event.clean_text,  // Use original clean_text as description\n      ...event  // Pass through all event fields\n    }\n  }];\n} catch (error) {\n  // Fallback: if parsing fails, default to \"admin\" category\n  return [{\n    json: {\n      category_name: \"admin\",\n      confidence: 0.5,\n      all_scores: {},\n      description: event.clean_text,\n      parse_error: error.message,\n      ...event\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        176
      ],
      "id": "64bce4a7-4817-4c4a-bdcd-cce8919976f5",
      "name": "Parse LLM Response"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Parse LLM Response').item.json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_CHANNEL_KAIRON_LOGS }}",
          "mode": "id"
        },
        "content": "=**[Activity Classification]**\n**Message:** {{ $json.clean_text }}\n**Category:** {{ $json.category_name }}\n**Confidence:** [ {{ Object.entries($json.all_scores || {}).sort((a, b) => b[1] - a[1]).map(([cat, score]) => `${cat}:${score}%`).join(' | ') }} ]",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        560,
        80
      ],
      "id": "f41db37c-1745-46c4-877a-3bc5740e3fc0",
      "name": "Log to Kairon Logs",
      "webhookId": "bd9abd19-64d4-4da4-8578-07aa4dedadbf",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_log (\n  raw_event_id,\n  timestamp,\n  category,\n  description,\n  metadata\n)\nVALUES (\n  $1::uuid,\n  NOW(),\n  $3::activity_category,\n  $2,\n  jsonb_build_object(\n    'llm_classified', true,\n    'confidence', $4::numeric,\n    'all_scores', $5::jsonb\n  )\n)\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.raw_event_id }},={{ $json.description }},={{ $json.category_name }},={{ $json.confidence }},={{ JSON.stringify($json.all_scores) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        560,
        272
      ],
      "id": "931a2264-0015-4844-8e7a-6fa0ed5b1df6",
      "name": "Store Activity",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_state (user_login, sleeping, last_observation_at)\nVALUES (\n  $2,\n  ($1::activity_category = 'sleep'),\n  NOW()\n)\nON CONFLICT (user_login) \nDO UPDATE SET\n  sleeping = EXCLUDED.sleeping,\n  last_observation_at = EXCLUDED.last_observation_at,\n  updated_at = NOW()\nRETURNING *;",
        "options": {
          "queryReplacement": "=={{ $json.category }},={{ $('Parse LLM Response').item.json.author_login}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        784,
        272
      ],
      "id": "212257b3-0ce3-4dc5-86e9-0b16546279dc",
      "name": "Update User State",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        120,
        400
      ],
      "id": "44a595ec-342a-41ae-9add-1e2b1d1405af",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -8,
        400
      ],
      "id": "f49e6e9f-3377-4b78-8e14-fb347cdfb89e",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Parse LLM Response').item.json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Parse LLM Response').item.json.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $('Parse LLM Response').item.json.message_id }}",
        "emoji": "=🔘"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1008,
        272
      ],
      "id": "41949da6-f87c-4fdc-a673-9253a2e5f905",
      "name": "React with 🔘",
      "webhookId": "7d6473eb-7f05-4fc7-ba61-8a8ae16deae0",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare LLM Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Context": {
      "main": [
        [
          {
            "node": "Activity Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activity Classifier": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Log to Kairon Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Activity": {
      "main": [
        [
          {
            "node": "Update User State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User State": {
      "main": [
        [
          {
            "node": "React with 🔘",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Activity Classifier",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Activity Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
