n8n-workflows/Activity_Handler.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "event",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        880,
        832
      ],
      "id": "76b76172-d574-417b-bb6f-5111c113aaa5",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name FROM activity_categories WHERE active = true ORDER BY sort_order, name;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1104,
        832
      ],
      "id": "823fdb2c-8171-47b4-aab3-590fce03238f",
      "name": "Get Active Categories",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const categories = $input.all().map(item => item.json.name).join(', ');\nconst event = $('Execute Workflow Trigger').first().json.event;\n\nreturn [{\n  json: {\n    categories,\n    ...event\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        832
      ],
      "id": "26be5af2-5401-40c3-9a97-ac86be310236",
      "name": "Prepare LLM Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an activity classifier for a life tracking system.\n\nRate how well the user's message fits each category. Provide a confidence score (0-1) for each category.\n\n## Available Categories\n{{ $json.categories }}\n\n## Instructions\n\n1. Provide a score (0-1) for relevant categories\n2. Higher score = better fit for that category\n3. All scores should sum to approximately 1.0\n4. If it seems like sleep-related activity, give \"sleep\" a very high score\n5. Output ONLY valid JSON\n\n## Examples\n\nInput: \"working on the router agent implementation\"\nOutput: {\"work\": 0.98, \"leisure\": 0.02}\n\nInput: \"taking a coffee break\"\nOutput: {\"leisure\": 0.85, \"health\": 0.15}\n\nInput: \"researching common data structures\"\nOutput: {\"work\": 0.28, \"leisure\": 0.02, \"study\": 0.7}\n\nInput: \"solving leetcode puzzles\"\nOutput: {\"work\": 0.1, \"leisure\": 0.05, \"study\": 0.85}\n\nInput: \"watching videos about Rome\"\nOutput: {\"leisure\": 0.85, \"study\": 0.15}\n\n## User Message\n{{ $json.clean_text }}",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1552,
        832
      ],
      "id": "f27f2982-fc04-4d06-83ce-213a47f85587",
      "name": "Activity Classifier"
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM output (strip markdown if present)\nlet text = $input.first().json.text.trim();\n\n// Remove markdown code block markers if present\ntext = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n\nconst event = $('Execute Workflow Trigger').first().json.event;\nconst categories = $('Prepare LLM Context').first().json.categories;\n\ntry {\n  const parsed = JSON.parse(text);\n  const scores = parsed;\n  \n  // Determine category by finding highest score\n  const entries = Object.entries(scores);\n  const [category_name, confidence] = entries.reduce((max, curr) => \n    curr[1] > max[1] ? curr : max\n  );\n  \n  return [{\n    json: {\n      category_name,\n      confidence,\n      all_scores: scores,\n      description: event.clean_text,  // Use original clean_text as description\n      ...event  // Pass through all event fields\n    }\n  }];\n} catch (error) {\n  // Fallback: if parsing fails, default to \"other\" category\n  return [{\n    json: {\n      category_name: \"other\",\n      confidence: 0.5,\n      all_scores: {},\n      description: event.clean_text,\n      parse_error: error.message,\n      ...event\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        832
      ],
      "id": "9ed0128c-2f6b-466f-b0f3-df40c523d7a6",
      "name": "Parse LLM Response"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Parse LLM Response').item.json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_CHANNEL_KAIRON_LOGS }}",
          "mode": "id"
        },
        "content": "=**[Activity Classification]**\n**Message:** {{ $json.clean_text }}\n**Category:** {{ $json.category_name }}\n**Confidence:** [ {{ Object.entries($json.all_scores || {}).map(([cat, score]) => `${cat}:${(score * 100).toFixed(0)}%`).join(' | ') }} ]",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2128,
        736
      ],
      "id": "5df5114d-5eda-4162-b5c5-31777179b43a",
      "name": "Log to Kairon Logs",
      "webhookId": "bd9abd19-64d4-4da4-8578-07aa4dedadbf",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_log (\n  raw_event_id,\n  timestamp,\n  category_id,\n  description,\n  metadata\n)\nSELECT\n  $1::uuid,\n  NOW(),\n  ac.id,\n  $2,\n  jsonb_build_object(\n    'llm_classified', true,\n    'confidence', $4::numeric,\n    'all_scores', $5::jsonb\n  )\nFROM activity_categories ac\nWHERE ac.name = $3\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.raw_event_id }},={{ $json.description }},={{ $json.category_name }},={{ $json.confidence }},={{ JSON.stringify($json.all_scores) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2128,
        928
      ],
      "id": "90969e3d-a6b9-4798-9bf1-145f0780a61b",
      "name": "Store Activity",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_state\nSET \n  last_observation_at = NOW(),\n  sleeping = EXISTS(\n    SELECT 1 FROM activity_categories ac\n    WHERE ac.id = $1::uuid AND ac.is_sleep_category = true\n  )\nWHERE user_login = $2\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.category_id }},={{ $('Parse LLM Response').item.json.author_login}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2352,
        928
      ],
      "id": "f2b43708-73c9-4598-bcc8-74b326d7c574",
      "name": "Update User State",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Parse LLM Response').item.json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Parse LLM Response').item.json.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $('Parse LLM Response').item.json.message_id }}",
        "emoji": "=🕒"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2576,
        928
      ],
      "id": "e4ebefeb-bb2a-429d-8f23-cb35c397e204",
      "name": "React with 🕒",
      "webhookId": "7d6473eb-7f05-4fc7-ba61-8a8ae16deae0",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1712,
        1072
      ],
      "id": "53e26d16-4370-48d7-b324-b023d9eb5ce5",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1536,
        1072
      ],
      "id": "8f701803-1f40-4a9d-b99d-4f1d3a5f5763",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Active Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Categories": {
      "main": [
        [
          {
            "node": "Prepare LLM Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Context": {
      "main": [
        [
          {
            "node": "Activity Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activity Classifier": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Log to Kairon Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Activity": {
      "main": [
        [
          {
            "node": "Update User State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User State": {
      "main": [
        [
          {
            "node": "React with 🕒",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Activity Classifier",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Activity Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
