n8n-workflows/Auto_Backfill.json
{
  "updatedAt": "2025-12-24T11:08:41.352Z",
  "createdAt": "2025-12-23T12:17:03.830Z",
  "id": "qfwF87c3wub8oujg",
  "name": "Auto_Backfill",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "cron-trigger",
      "name": "CronTrigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Find projections missing embeddings\nSELECT \n  p.id as projection_id,\n  p.projection_type,\n  p.data->>'description' as description,\n  p.data->>'text' as text\nFROM projections p\nLEFT JOIN embeddings e ON p.id = e.projection_id\nWHERE e.id IS NULL\n  AND p.status IN ('auto_confirmed', 'confirmed')\nLIMIT 20;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        256,
        -96
      ],
      "id": "find-missing-embeddings",
      "name": "FindMissingEmbeddings",
      "credentials": {
        "postgres": {
          "id": "GIpVtzgs3wiCmQBQ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        512,
        -96
      ],
      "id": "loop-embeddings",
      "name": "LoopEmbeddings",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EMBEDDING_SERVICE_URL }}/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"texts\": [{{ JSON.stringify($json.description || $json.text || \"\") }}]\n}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        -96
      ],
      "id": "embed-text",
      "name": "EmbedText",
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CgUAxK0i4YhrZ2Wp",
          "mode": "list",
          "cachedResultName": "Execute_Queries",
          "cachedResultUrl": "/workflow/CgUAxK0i4YhrZ2Wp"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ctx": "={{ $json.ctx }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1008,
        -96
      ],
      "id": "insert-embedding",
      "name": "InsertEmbedding",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nconst projectionId = item.projection_id;\nconst text = item.description || item.text || \"\";\nconst embeddings = $(\"EmbedText\").first().json.embeddings;\n\nif (!embeddings || !embeddings[0]) return {};\n\nconst vector = \"[\" + embeddings[0].join(\",\") + \"]\";\n\nreturn {\n  json: {\n    ctx: {\n      db_queries: [{\n        key: \"embedding\",\n        sql: \"INSERT INTO embeddings (projection_id, model, embedding_data, embedded_text, embedding) SELECT $1, \\u0027all-MiniLM-L6-v2\\u0027, \\u0027{}\\u0027, $2, $3::vector WHERE NOT EXISTS (SELECT 1 FROM embeddings WHERE projection_id = $1) ON CONFLICT DO NOTHING;\",\n        params: [projectionId, text, vector]\n      }]\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        64
      ],
      "id": "prepare-embedding-query",
      "name": "PrepareEmbeddingQuery"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Find traces with missing projections\nSELECT \n  t.id as trace_id,\n  t.event_id,\n  t.data->>'completion' as completion,\n  t.trace_chain,\n  e.timezone\nFROM traces t\nJOIN events e ON t.event_id = e.id\nWHERE t.step_name = 'multi_capture'\n  AND (t.data->>'capture_count')::int > (\n    SELECT COUNT(*) FROM projections p WHERE p.trace_id = t.id\n  )\nLIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        256,
        304
      ],
      "id": "find-incomplete-traces",
      "name": "FindIncompleteTraces",
      "credentials": {
        "postgres": {
          "id": "GIpVtzgs3wiCmQBQ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const trace = item.json;\n  let parsed;\n  try {\n    parsed = JSON.parse(trace.completion);\n  } catch (e) {\n    console.error(`Failed to parse completion for trace ${trace.trace_id}: ${e.message}`);\n    continue;\n  }\n\n  const types = ['activity', 'note', 'todo'];\n  for (const type of types) {\n    const data = parsed[type];\n    if (data && data.confidence >= 0.5) {\n      results.push({\n        json: {\n          trace_id: trace.trace_id,\n          event_id: trace.event_id,\n          trace_chain: trace.trace_chain,\n          timezone: trace.timezone,\n          type: type,\n          data: data\n        }\n      });\n    }\n  }\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        304
      ],
      "id": "parse-missing-projections",
      "name": "ParseMissingProjections"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CgUAxK0i4YhrZ2Wp",
          "mode": "list",
          "cachedResultName": "Execute_Queries",
          "cachedResultUrl": "/workflow/CgUAxK0i4YhrZ2Wp"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ctx": "={{ $json.ctx }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        752,
        304
      ],
      "id": "insert-missing-projections",
      "name": "InsertMissingProjections",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nreturn {\n  json: {\n    ctx: {\n      db_queries: [{\n        key: \"projection\",\n        sql: \"INSERT INTO projections (trace_id, event_id, trace_chain, projection_type, data, status, timezone) SELECT $1::uuid, $2::uuid, $3::uuid[], $4, $5::jsonb, \\u0027auto_confirmed\\u0027, $6 WHERE NOT EXISTS (SELECT 1 FROM projections WHERE trace_id = $1 AND projection_type = $4);\",\n        params: [\n          item.trace_id,\n          item.event_id,\n          \"{\" + item.trace_chain.join(\",\") + \"}\",\n          item.type,\n          JSON.stringify(item.data),\n          item.timezone\n        ]\n      }]\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        464
      ],
      "id": "prepare-projection-query",
      "name": "PrepareProjectionQuery"
    }
  ],
  "connections": {
    "CronTrigger": {
      "main": [
        [
          {
            "node": "FindMissingEmbeddings",
            "type": "main",
            "index": 0
          },
          {
            "node": "FindIncompleteTraces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindMissingEmbeddings": {
      "main": [
        [
          {
            "node": "LoopEmbeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopEmbeddings": {
      "main": [
        [],
        [
          {
            "node": "EmbedText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EmbedText": {
      "main": [
        [
          {
            "node": "PrepareEmbeddingQuery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareEmbeddingQuery": {
      "main": [
        [
          {
            "node": "InsertEmbedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertEmbedding": {
      "main": [
        [
          {
            "node": "LoopEmbeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindIncompleteTraces": {
      "main": [
        [
          {
            "node": "ParseMissingProjections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseMissingProjections": {
      "main": [
        [
          {
            "node": "PrepareProjectionQuery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareProjectionQuery": {
      "main": [
        [
          {
            "node": "InsertMissingProjections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:CronTrigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "versionId": "46663391-e1ac-40cd-b7e4-059523b6c3d2",
  "activeVersionId": "46663391-e1ac-40cd-b7e4-059523b6c3d2",
  "versionCounter": 186,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-23T12:17:03.830Z",
      "createdAt": "2025-12-23T12:17:03.830Z",
      "role": "workflow:owner",
      "workflowId": "qfwF87c3wub8oujg",
      "projectId": "erM3nntdLL53noWi",
      "project": {
        "updatedAt": "2025-12-23T09:23:39.658Z",
        "createdAt": "2025-12-23T09:16:56.460Z",
        "id": "erM3nntdLL53noWi",
        "name": "Chris Irineo <chriskevini@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-23T09:16:56.460Z",
            "createdAt": "2025-12-23T09:16:56.460Z",
            "userId": "2a851a2d-b7e5-4b3c-aefb-6eaaa79e0659",
            "projectId": "erM3nntdLL53noWi",
            "user": {
              "updatedAt": "2025-12-24T08:40:46.063Z",
              "createdAt": "2025-12-23T09:16:54.881Z",
              "id": "2a851a2d-b7e5-4b3c-aefb-6eaaa79e0659",
              "email": "chriskevini@gmail.com",
              "firstName": "Chris",
              "lastName": "Irineo",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-23T09:23:43.723Z",
                "personalization_survey_n8n_version": "1.123.5"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "CgUAxK0i4YhrZ2Wp",
                "userActivatedAt": 1766487000077,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-24T11:08:41.354Z",
    "createdAt": "2025-12-24T11:08:41.354Z",
    "versionId": "46663391-e1ac-40cd-b7e4-059523b6c3d2",
    "workflowId": "qfwF87c3wub8oujg",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 15
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "cron-trigger",
        "name": "CronTrigger"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- Find projections missing embeddings\nSELECT \n  p.id as projection_id,\n  p.projection_type,\n  p.data->>'description' as description,\n  p.data->>'text' as text\nFROM projections p\nLEFT JOIN embeddings e ON p.id = e.projection_id\nWHERE e.id IS NULL\n  AND p.status IN ('auto_confirmed', 'confirmed')\nLIMIT 20;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          256,
          -96
        ],
        "id": "find-missing-embeddings",
        "name": "FindMissingEmbeddings",
        "credentials": {
          "postgres": {
            "id": "GIpVtzgs3wiCmQBQ",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          512,
          -96
        ],
        "id": "loop-embeddings",
        "name": "LoopEmbeddings",
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.EMBEDDING_SERVICE_URL }}/embed",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"texts\": [{{ JSON.stringify($json.description || $json.text || \"\") }}]\n}",
          "options": {
            "timeout": 10000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          752,
          -96
        ],
        "id": "embed-text",
        "name": "EmbedText",
        "continueOnFail": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "CgUAxK0i4YhrZ2Wp",
            "mode": "list",
            "cachedResultName": "Execute_Queries",
            "cachedResultUrl": "/workflow/CgUAxK0i4YhrZ2Wp"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "ctx": "={{ $json.ctx }}"
            }
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1008,
          -96
        ],
        "id": "insert-embedding",
        "name": "InsertEmbedding",
        "continueOnFail": true
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $json;\nconst projectionId = item.projection_id;\nconst text = item.description || item.text || \"\";\nconst embeddings = $(\"EmbedText\").first().json.embeddings;\n\nif (!embeddings || !embeddings[0]) return {};\n\nconst vector = \"[\" + embeddings[0].join(\",\") + \"]\";\n\nreturn {\n  json: {\n    ctx: {\n      db_queries: [{\n        key: \"embedding\",\n        sql: \"INSERT INTO embeddings (projection_id, model, embedding_data, embedded_text, embedding) SELECT $1, \\u0027all-MiniLM-L6-v2\\u0027, \\u0027{}\\u0027, $2, $3::vector WHERE NOT EXISTS (SELECT 1 FROM embeddings WHERE projection_id = $1) ON CONFLICT DO NOTHING;\",\n        params: [projectionId, text, vector]\n      }]\n    }\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          64
        ],
        "id": "prepare-embedding-query",
        "name": "PrepareEmbeddingQuery"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- Find traces with missing projections\nSELECT \n  t.id as trace_id,\n  t.event_id,\n  t.data->>'completion' as completion,\n  t.trace_chain,\n  e.timezone\nFROM traces t\nJOIN events e ON t.event_id = e.id\nWHERE t.step_name = 'multi_capture'\n  AND (t.data->>'capture_count')::int > (\n    SELECT COUNT(*) FROM projections p WHERE p.trace_id = t.id\n  )\nLIMIT 5;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          256,
          304
        ],
        "id": "find-incomplete-traces",
        "name": "FindIncompleteTraces",
        "credentials": {
          "postgres": {
            "id": "GIpVtzgs3wiCmQBQ",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const trace = item.json;\n  let parsed;\n  try {\n    parsed = JSON.parse(trace.completion);\n  } catch (e) {\n    console.error(`Failed to parse completion for trace ${trace.trace_id}: ${e.message}`);\n    continue;\n  }\n\n  const types = ['activity', 'note', 'todo'];\n  for (const type of types) {\n    const data = parsed[type];\n    if (data && data.confidence >= 0.5) {\n      results.push({\n        json: {\n          trace_id: trace.trace_id,\n          event_id: trace.event_id,\n          trace_chain: trace.trace_chain,\n          timezone: trace.timezone,\n          type: type,\n          data: data\n        }\n      });\n    }\n  }\n}\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          512,
          304
        ],
        "id": "parse-missing-projections",
        "name": "ParseMissingProjections"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "CgUAxK0i4YhrZ2Wp",
            "mode": "list",
            "cachedResultName": "Execute_Queries",
            "cachedResultUrl": "/workflow/CgUAxK0i4YhrZ2Wp"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "ctx": "={{ $json.ctx }}"
            }
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          752,
          304
        ],
        "id": "insert-missing-projections",
        "name": "InsertMissingProjections",
        "continueOnFail": true
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $json;\nreturn {\n  json: {\n    ctx: {\n      db_queries: [{\n        key: \"projection\",\n        sql: \"INSERT INTO projections (trace_id, event_id, trace_chain, projection_type, data, status, timezone) SELECT $1::uuid, $2::uuid, $3::uuid[], $4, $5::jsonb, \\u0027auto_confirmed\\u0027, $6 WHERE NOT EXISTS (SELECT 1 FROM projections WHERE trace_id = $1 AND projection_type = $4);\",\n        params: [\n          item.trace_id,\n          item.event_id,\n          \"{\" + item.trace_chain.join(\",\") + \"}\",\n          item.type,\n          JSON.stringify(item.data),\n          item.timezone\n        ]\n      }]\n    }\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          640,
          464
        ],
        "id": "prepare-projection-query",
        "name": "PrepareProjectionQuery"
      }
    ],
    "connections": {
      "CronTrigger": {
        "main": [
          [
            {
              "node": "FindMissingEmbeddings",
              "type": "main",
              "index": 0
            },
            {
              "node": "FindIncompleteTraces",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FindMissingEmbeddings": {
        "main": [
          [
            {
              "node": "LoopEmbeddings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LoopEmbeddings": {
        "main": [
          [],
          [
            {
              "node": "EmbedText",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "EmbedText": {
        "main": [
          [
            {
              "node": "PrepareEmbeddingQuery",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PrepareEmbeddingQuery": {
        "main": [
          [
            {
              "node": "InsertEmbedding",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "InsertEmbedding": {
        "main": [
          [
            {
              "node": "LoopEmbeddings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FindIncompleteTraces": {
        "main": [
          [
            {
              "node": "ParseMissingProjections",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ParseMissingProjections": {
        "main": [
          [
            {
              "node": "PrepareProjectionQuery",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PrepareProjectionQuery": {
        "main": [
          [
            {
              "node": "InsertMissingProjections",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Chris Irineo",
    "name": null,
    "description": null
  }
}
