n8n-workflows/Command_Handler.json
{
  "name": "Command_Handler",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "command_string"
            },
            {
              "name": "guild_id"
            },
            {
              "name": "channel_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "260e4e98-5573-4210-86c1-b987eaa1afb9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "command",
              "name": "command",
              "value": "={{ $json.command_string.trim().split(/\\s+/)[0] }}",
              "type": "string"
            },
            {
              "id": "args",
              "name": "args",
              "value": "={{ $json.command_string.trim().split(/\\s+/).slice(1) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "3881e3ae-89b3-455e-89bc-00bbac559d0f",
      "name": "Parse Command and Args"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "ping",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ping"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "get"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "set",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "set"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "stats"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "recent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "recent"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "status"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "help"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "e16c4304-caad-488e-9e3b-4259617872f2",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "response",
              "value": "🏓 pong",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -320
      ],
      "id": "98194b45-0511-4eac-b275-543a031ea124",
      "name": "Handle ping"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM config WHERE key = $1",
        "options": {
          "queryReplacement": "={{ $('Parse Command and Args').item.json.args[0] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        672,
        -224
      ],
      "id": "query-get",
      "name": "Query Get Config",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO config (key, value, updated_at)\nVALUES ($1, $2, NOW())\nON CONFLICT (key) DO UPDATE\nSET value = EXCLUDED.value, updated_at = NOW()\nRETURNING key, value",
        "options": {
          "queryReplacement": "={{ $('Parse Command and Args').item.json.args[0] }},={{ $('Parse Command and Args').item.json.args.slice(1).join(' ') }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        672,
        -128
      ],
      "id": "query-set",
      "name": "Query Set Config",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  (SELECT COUNT(*) FROM activity_log WHERE timestamp >= CURRENT_DATE) as activities_today,\n  (SELECT COUNT(*) FROM notes WHERE timestamp >= DATE_TRUNC('week', CURRENT_DATE)) as notes_this_week,\n  (SELECT COUNT(*) FROM raw_events WHERE source_type = 'discord') as total_events,\n  (SELECT last_observation_at FROM user_state LIMIT 1) as last_activity",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        672,
        -32
      ],
      "id": "query-stats",
      "name": "Query Stats",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  received_at,\n  tag,\n  clean_text,\n  message_url\nFROM raw_events\nWHERE source_type = 'discord'\nORDER BY received_at DESC\nLIMIT $1",
        "options": {
          "queryReplacement": "={{ parseInt($('Parse Command and Args').item.json.args[0]) || 10 }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        672,
        64
      ],
      "id": "query-recent",
      "name": "Query Recent Events",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  user_login,\n  sleeping,\n  last_observation_at,\n  EXTRACT(EPOCH FROM (NOW() - last_observation_at))/60 as minutes_since_activity\nFROM user_state\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        672,
        160
      ],
      "id": "query-status",
      "name": "Query User Status",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "response",
              "value": "=📚 **Available Commands**\n\n**Configuration:**\n`::get <key>` - Get a config value\n`::set <key> <value>` - Set a config value\n\n**Information:**\n`::stats` - Show activity statistics\n`::recent [N]` - Show last N events (default 10)\n`::status` - Show your current state\n\n**System:**\n`::ping` - Test if system is working\n`::help` - Show this message\n\n**Examples:**\n`::set north_star Focus on deep work`\n`::get north_star`\n`::recent 5`",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        256
      ],
      "id": "handle-help",
      "name": "Handle help"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format get command response\nconst key = $('Parse Command and Args').item.json.args[0];\nconst result = $input.item.json;\n\nif (!result.value) {\n  return {\n    response: `❌ Config key \\`${key}\\` not found`\n  };\n}\n\nreturn {\n  response: `**${key}:** ${result.value}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -224
      ],
      "id": "format-get",
      "name": "Format Get Response"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format set command response\nconst result = $input.item.json;\n\nreturn {\n  response: `✅ Set **${result.key}** = ${result.value}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -128
      ],
      "id": "format-set",
      "name": "Format Set Response"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format stats response\nconst stats = $input.item.json;\n\nconst lastActivity = stats.last_activity \n  ? new Date(stats.last_activity).toLocaleString()\n  : 'Never';\n\nreturn {\n  response: `📊 **Statistics**\\n\\n` +\n    `Activities today: ${stats.activities_today}\\n` +\n    `Notes this week: ${stats.notes_this_week}\\n` +\n    `Total events: ${stats.total_events}\\n` +\n    `Last activity: ${lastActivity}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -32
      ],
      "id": "format-stats",
      "name": "Format Stats Response"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format recent events response\nconst events = $input.all();\n\nif (events.length === 0) {\n  return { response: '📭 No recent events found' };\n}\n\nlet response = `📜 **Recent Events (${events.length})**\\n\\n`;\n\nevents.forEach((item, i) => {\n  const event = item.json;\n  const time = new Date(event.received_at).toLocaleTimeString();\n  const tag = event.tag || '(untagged)';\n  const text = event.clean_text.substring(0, 50) + \n    (event.clean_text.length > 50 ? '...' : '');\n  \n  response += `${i + 1}. ${time} ${tag} ${text}\\n`;\n});\n\nreturn { response };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        64
      ],
      "id": "format-recent",
      "name": "Format Recent Response"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format status response\nconst status = $input.item.json;\n\nconst sleepIcon = status.sleeping ? '😴' : '👁️';\nconst sleepStatus = status.sleeping ? 'Sleeping' : 'Awake';\nconst lastActivity = status.last_observation_at\n  ? new Date(status.last_observation_at).toLocaleString()\n  : 'Never';\nconst minutesAgo = Math.round(status.minutes_since_activity || 0);\n\nreturn {\n  response: `${sleepIcon} **Status**\\n\\n` +\n    `State: ${sleepStatus}\\n` +\n    `Last activity: ${lastActivity}\\n` +\n    `Time since: ${minutesAgo} minutes ago`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        160
      ],
      "id": "format-status",
      "name": "Format Status Response"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Unknown command handler\nconst command = $('Parse Command and Args').item.json.command;\n\nreturn {\n  response: `❌ Unknown command: \\`${command}\\`\\n\\nUse \\`::help\\` to see available commands.`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        352
      ],
      "id": "handle-unknown",
      "name": "Handle Unknown Command"
    },
    {
      "parameters": {
        "jsCode": "// Combine all branches - find the first one with data\nconst activeInput = items.find(input => input && input.json && input.json.response);\n\nif (activeInput) {\n  return [{ json: activeInput.json }];\n} else {\n  return [{ json: { response: '❌ Command processing error' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "fc2ac950-7f5b-4f06-af71-fadb046d6c82",
      "name": "Combine Data Streams"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ],
      "id": "eb506035-63ec-4603-bc3d-efed55dab962",
      "name": "Send Response",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse Command and Args",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command and Args": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Handle ping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Get Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Set Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Recent Events",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query User Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Unknown Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle ping": {
      "main": [
        [
          {
            "node": "Combine Data Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Get Config": {
      "main": [
        [
          {
            "node": "Format Get Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Set Config": {
      "main": [
        [
          {
            "node": "Format Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Stats": {
      "main": [
        [
          {
            "node": "Format Stats Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Recent Events": {
      "main": [
        [
          {
            "node": "Format Recent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query User Status": {
      "main": [
        [
          {
            "node": "Format Status Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle help": {
      "main": [
        [
          {
            "node": "Combine Data Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Get Response": {
      "main": [
        [
          {
            "node": "Combine Data Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Set Response": {
      "main": [
        [
          {
            "node": "Combine Data Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Stats Response": {
      "main": [
        [
          {
            "node": "Combine Data Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Recent Response": {
      "main": [
        [
          {
            "node": "Combine Data Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Status Response": {
      "main": [
        [
          {
            "node": "Combine Data Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Unknown Command": {
      "main": [
        [
          {
            "node": "Combine Data Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Data Streams": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
