n8n-workflows/Command_Handler.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "event",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        5456
      ],
      "id": "575ae9d1-396d-44a8-9e0e-3053f9e14103",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "command",
              "name": "command",
              "value": "={{ $json.event.clean_text.trim().split(/\\s+/)[0] }}",
              "type": "string"
            },
            {
              "id": "args",
              "name": "args",
              "value": "={{ $json.event.clean_text.trim().split(/\\s+/).slice(1) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        5456
      ],
      "id": "ec8369ae-986f-469e-99e5-7c4aaf499433",
      "name": "Parse Command and Args"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "ping",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9e2a0d1b-6254-4b67-a743-3e5b2367a01c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ping"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "33cb86c7-ccaf-4e61-bc6a-e8ed32676451"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "set",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2150078e-a4bb-4872-bfdb-36245afa5701"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "set"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fe31fc91-b7dc-4554-97bf-8024d8f6af25"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stats"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "recent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a807c42d-404f-419d-8129-d7c71ed6051c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5094be05-8bc0-4702-a6da-ecbd5913c93f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c42b06ed-ca87-489d-a4d8-d2e861db2239"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d8a3f1e9-2c4b-4d7e-9a1f-3e5c7b9d1a2b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        544,
        5360
      ],
      "id": "25bc3cf2-5a64-4ada-a254-d67877f7a86d",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Handle ping command\nconst event = $('When Executed by Another Workflow').first().json.event;\n\nreturn {\n  response: '🏓 pong',\n  ...event\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        4784
      ],
      "id": "f753ed58-994b-48f4-8c96-6ca16048c211",
      "name": "Handle ping"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM config WHERE key = COALESCE($1, '')",
        "options": {
          "queryReplacement": "={{ $('Parse Command and Args').item.json.args[0] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        768,
        4976
      ],
      "id": "60e422c2-0802-4904-b7cc-75291283dfb2",
      "name": "Query Get Config",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO config (key, value, updated_at)\nVALUES ($1, $2, NOW())\nON CONFLICT (key) DO UPDATE\nSET value = EXCLUDED.value, updated_at = NOW()\nRETURNING key, value",
        "options": {
          "queryReplacement": "={{ $('Parse Command and Args').item.json.args[0] }},={{ $('Parse Command and Args').item.json.args.slice(1).join(' ') }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        768,
        5168
      ],
      "id": "3ce14aba-748b-47ce-97ad-25d60bd67376",
      "name": "Query Set Config",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  (SELECT COUNT(*) FROM activity_log WHERE timestamp >= CURRENT_DATE) as activities_today,\n  (SELECT COUNT(*) FROM notes WHERE timestamp >= DATE_TRUNC('week', CURRENT_DATE)) as notes_this_week,\n  (SELECT COUNT(*) FROM raw_events WHERE source_type = 'discord') as total_events,\n  (SELECT last_observation_at FROM user_state LIMIT 1) as last_activity",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        768,
        5360
      ],
      "id": "f4ad5eaf-c858-453a-a2cb-b50fcdf0eaae",
      "name": "Query Stats",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get recent activities or notes based on subcommand\n-- Simplified: run appropriate query based on first param\nSELECT \n  'activity' as type,\n  a.id,\n  SUBSTRING(a.id::text, 1, 8) as short_id,\n  a.timestamp,\n  ac.name as category_name,\n  a.description as text\nFROM activity_log a\nJOIN activity_categories ac ON a.category_id = ac.id\nWHERE $1::text IN ('activities', 'activity', '')\nORDER BY a.timestamp DESC\nLIMIT $2::int\n\nUNION ALL\n\nSELECT \n  'note' as type,\n  n.id,\n  SUBSTRING(n.id::text, 1, 8) as short_id,\n  n.timestamp,\n  nc.name as category_name,\n  COALESCE(n.title, '') || CASE WHEN n.title IS NOT NULL THEN ': ' ELSE '' END || LEFT(n.text, 50) as text\nFROM notes n\nJOIN note_categories nc ON n.category_id = nc.id\nWHERE $1::text IN ('notes', 'note')\nORDER BY n.timestamp DESC\nLIMIT $2::int;",
        "options": {
          "queryReplacement": "={{ $('Parse Command and Args').item.json.args[0] || 'activities' }},={{ parseInt($('Parse Command and Args').item.json.args[1]) || 10 }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        768,
        5552
      ],
      "id": "b0bb15fd-0d11-49d4-8267-47308763030e",
      "name": "Query Recent Events",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  user_login,\n  sleeping,\n  last_observation_at,\n  EXTRACT(EPOCH FROM (NOW() - last_observation_at))/60 as minutes_since_activity\nFROM user_state\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        768,
        5744
      ],
      "id": "8ab5765f-3b10-4167-8470-9aa93b70baae",
      "name": "Query User Status",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handle help command\nconst event = $('When Executed by Another Workflow').first().json.event;\n\nconst helpText = `📚 **Available Commands**\n\n**Configuration:**\n\\`::get <key>\\` - Get a config value\n\\`::set <key> <value>\\` - Set a config value\n\n**Information:**\n\\`::stats\\` - Show activity statistics\n\\`::recent activities [N]\\` - Show last N activities (default 10)\n\\`::recent notes [N]\\` - Show last N notes (default 10)\n\\`::status\\` - Show your current state\n\n**Data Management:**\n\\`::delete activity <short-id> [<id2> ...]\\` - Delete activities by short ID\n\\`::delete note <short-id> [<id2> ...]\\` - Delete notes by short ID\n\n**System:**\n\\`::ping\\` - Test if system is working\n\\`::help\\` - Show this message\n\n**Config Keys:**\n- \\`north_star\\` - Your guiding principle\n- \\`summary_time\\` - Daily summary time (format: HH:MM or HH, e.g., \"20:00\" or \"20\")\n\n**Examples:**\n\\`::set north_star Focus on deep work\\`\n\\`::recent activities 20\\`\n\\`::delete activity a1b2c3d4\\`\n\\`::delete activity e5f6g7h8 i9j0k1l2\\` (multiple)`;\n\nreturn {\n  response: helpText,\n  ...event\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        5936
      ],
      "id": "7f1e85e9-87de-4851-8a45-1c82e77d463f",
      "name": "Handle help"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format get command response (validation already done)\nconst event = $('When Executed by Another Workflow').first().json.event;\nconst args = $('Parse Command and Args').item.json.args;\nconst key = args[0];\nconst result = $input.first()?.json;\n\n// Check if query returned data\nif (!result || !result.value) {\n  return {\n    response: `❌ Config key \\`${key}\\` not found.\\n\\nUse \\`::set ${key} <value>\\` to set it first.`,\n    ...event\n  };\n}\n\nreturn {\n  response: `**${key}:** ${result.value}`,\n  ...event\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        4976
      ],
      "id": "f2c67bd1-1a3c-4fd8-b94b-aa82c9cbd7b4",
      "name": "Format Get Response"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format set command response (validation already done)\nconst result = $input.first()?.json;\nconst event = $('When Executed by Another Workflow').first().json.event;\n\n// Check if database operation succeeded\nif (!result || !result.key) {\n  return {\n    response: `❌ Failed to set config value. Please try again.`,\n    ...event\n  };\n}\n\nreturn {\n  response: `✅ Set **${result.key}** = ${result.value}`,\n  ...event\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        5168
      ],
      "id": "f710eb2b-c1b9-4c1d-af54-147f6985fd1c",
      "name": "Format Set Response"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format stats response\nconst stats = $input.item.json;\nconst event = $('When Executed by Another Workflow').first().json.event;\n\nconst lastActivity = stats.last_activity \n  ? new Date(stats.last_activity).toLocaleString()\n  : 'Never';\n\nreturn {\n  response: `📊 **Statistics**\\n\\n` +\n    `Activities today: ${stats.activities_today}\\n` +\n    `Notes this week: ${stats.notes_this_week}\\n` +\n    `Total events: ${stats.total_events}\\n` +\n    `Last activity: ${lastActivity}`,\n  ...event\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        5360
      ],
      "id": "863abae4-3a74-4d4a-a1f4-2085290c9350",
      "name": "Format Stats Response"
    },
    {
      "parameters": {
        "jsCode": "// Format recent items response with short IDs\nconst items = $input.all();\nconst event = $('When Executed by Another Workflow').first().json.event;\nconst args = $('Parse Command and Args').item.json.args;\nconst itemType = args[0] || 'activities';\n\nif (items.length === 0) {\n  return { \n    response: `📭 No recent ${itemType} found`,\n    ...event\n  };\n}\n\n// Determine icon and title based on type\nconst firstItem = items[0].json;\nconst isActivity = firstItem.type === 'activity';\nconst icon = isActivity ? '📊' : '📝';\nconst title = isActivity ? 'Activities' : 'Notes';\n\nlet response = `${icon} **Recent ${title} (${items.length})**\\n\\n`;\n\nitems.forEach((item, i) => {\n  const data = item.json;\n  const date = new Date(data.timestamp);\n  const dateStr = date.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });\n  const timeStr = date.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: false });\n  \n  const text = data.text.length > 60 \n    ? data.text.substring(0, 60) + '...' \n    : data.text;\n  \n  response += `${i + 1}. \\`[${data.short_id}]\\` ${dateStr} ${timeStr} - **${data.category_name}** - ${text}\\n`;\n});\n\nresponse += `\\n💡 Use \\`::delete activity <short-id>\\` or \\`::delete note <short-id>\\` to delete items`;\n\nreturn { response, ...event };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        5552
      ],
      "id": "33c619dd-864b-4ce4-b11d-f81dbb9d2d11",
      "name": "Format Recent Response"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format status response\nconst status = $input.item.json;\nconst event = $('When Executed by Another Workflow').first().json.event;\n\nconst sleepIcon = status.sleeping ? '😴' : '👁️';\nconst sleepStatus = status.sleeping ? 'Sleeping' : 'Awake';\nconst lastActivity = status.last_observation_at\n  ? new Date(status.last_observation_at).toLocaleString()\n  : 'Never';\nconst minutesAgo = Math.round(status.minutes_since_activity || 0);\n\nreturn {\n  response: `${sleepIcon} **Status**\\n\\n` +\n    `State: ${sleepStatus}\\n` +\n    `Last activity: ${lastActivity}\\n` +\n    `Time since: ${minutesAgo} minutes ago`,\n  ...event\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        5744
      ],
      "id": "b2d3673a-05de-4626-b6b8-be0ea615aeb4",
      "name": "Format Status Response"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Unknown command handler\nconst command = $('Parse Command and Args').item.json.command;\nconst event = $('When Executed by Another Workflow').first().json.event;\n\nreturn {\n  response: `❌ Unknown command: \\`${command}\\`\\n\\nUse \\`::help\\` to see available commands.`,\n  ...event\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        6128
      ],
      "id": "9cf856a7-4e8d-404b-bcbc-4d826db2edec",
      "name": "Handle Unknown Command"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Delete activity or note by short ID (first 8 chars of UUID)\n-- Args: item_type (activity|note), short_id1, short_id2, ...\nWITH short_ids_input AS (\n  SELECT unnest(ARRAY[$2, $3, $4, $5, $6, $7, $8, $9, $10]::text[]) as short_id\n  WHERE unnest(ARRAY[$2, $3, $4, $5, $6, $7, $8, $9, $10]::text[]) != ''\n),\ndeleted_activities AS (\n  DELETE FROM activity_log\n  WHERE $1 = 'activity'\n    AND EXISTS (\n      SELECT 1 FROM short_ids_input \n      WHERE activity_log.id::text LIKE short_ids_input.short_id || '%'\n    )\n  RETURNING id, timestamp, description as text, 'activity' as type\n),\ndeleted_notes AS (\n  DELETE FROM notes\n  WHERE $1 = 'note'\n    AND EXISTS (\n      SELECT 1 FROM short_ids_input \n      WHERE notes.id::text LIKE short_ids_input.short_id || '%'\n    )\n  RETURNING id, timestamp, title || ': ' || text as text, 'note' as type\n)\nSELECT * FROM deleted_activities\nUNION ALL\nSELECT * FROM deleted_notes;",
        "options": {
          "queryReplacement": "={{ $('Parse Command and Args').item.json.args[0] || 'activity' }},={{ $('Parse Command and Args').item.json.args[1] || '' }},={{ $('Parse Command and Args').item.json.args[2] || '' }},={{ $('Parse Command and Args').item.json.args[3] || '' }},={{ $('Parse Command and Args').item.json.args[4] || '' }},={{ $('Parse Command and Args').item.json.args[5] || '' }},={{ $('Parse Command and Args').item.json.args[6] || '' }},={{ $('Parse Command and Args').item.json.args[7] || '' }},={{ $('Parse Command and Args').item.json.args[8] || '' }},={{ $('Parse Command and Args').item.json.args[9] || '' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        768,
        5936
      ],
      "id": "c1d2e3f4-a5b6-c7d8-e9f0-a1b2c3d4e5f6",
      "name": "Query Delete Items",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format delete response (validation already done)\nconst deleted = $input.all();\nconst event = $('When Executed by Another Workflow').first().json.event;\nconst args = $('Parse Command and Args').item.json.args;\nconst itemType = args[0];\n\n// Check if any items were actually deleted\nif (deleted.length === 0) {\n  const shortIds = args.slice(1).filter(id => id).join(', ');\n  return {\n    response: `❌ No ${itemType === 'activity' ? 'activities' : 'notes'} found with ID(s): ${shortIds}\\n\\nUse \\`::recent ${itemType === 'activity' ? 'activities' : 'notes'}\\` to see valid IDs.`,\n    ...event\n  };\n}\n\nif (deleted.length === 1) {\n  const item = deleted[0].json;\n  const text = item.text.length > 60 ? item.text.substring(0, 60) + '...' : item.text;\n  return {\n    response: `✅ Deleted ${item.type}: \"${text}\"`,\n    ...event\n  };\n}\n\nconst typeLabel = deleted[0].json.type === 'activity' ? 'activities' : 'notes';\nreturn {\n  response: `✅ Deleted ${deleted.length} ${typeLabel}`,\n  ...event\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        5936
      ],
      "id": "f7g8h9i0-j1k2-l3m4-n5o6-p7q8r9s0t1u2",
      "name": "Format Delete Response"
    },
    {
      "parameters": {
        "jsCode": "// Validate GET command\nconst event = $('When Executed by Another Workflow').first().json.event;\nconst args = $('Parse Command and Args').item?.json?.args || [];\nconst key = args[0];\n\n// Validation: check if key provided\nif (!key || key.trim() === '') {\n  return {\n    valid: false,\n    error_message: `❌ Missing config key. Syntax: \\`::get <key>\\`\\n\\nAvailable keys: north_star, summary_time\\nUse \\`::help\\` for more info.`,\n    ...event\n  };\n}\n\n// Valid\nreturn {\n  valid: true,\n  ...event\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        4976
      ],
      "id": "val-get-001",
      "name": "Validate Get"
    },
    {
      "parameters": {
        "jsCode": "// Validate SET command\nconst event = $('When Executed by Another Workflow').first().json.event;\nconst args = $('Parse Command and Args').item?.json?.args || [];\n\n// Validation: need at least 2 args (key and value)\nif (!args || args.length < 2) {\n  return {\n    valid: false,\n    error_message: `❌ Missing arguments. Syntax: \\`::set <key> <value>\\`\\n\\nExample: \\`::set north_star Be present and intentional\\`\\n\\nAvailable keys: north_star, summary_time`,\n    ...event\n  };\n}\n\nconst key = args[0];\nif (!key || key.trim() === '') {\n  return {\n    valid: false,\n    error_message: `❌ Invalid config key (empty string).\\n\\nExample: \\`::set north_star <your principle>\\``,\n    ...event\n  };\n}\n\n// Valid\nreturn {\n  valid: true,\n  ...event\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        5168
      ],
      "id": "val-set-001",
      "name": "Validate Set"
    },
    {
      "parameters": {
        "jsCode": "// Validate DELETE command\nconst event = $('When Executed by Another Workflow').first().json.event;\nconst args = $('Parse Command and Args').item?.json?.args || [];\nconst itemType = args[0];\n\n// Validation: need item type (activity/note)\nif (!itemType || !['activity', 'note', 'activities', 'notes'].includes(itemType)) {\n  return {\n    valid: false,\n    error_message: `❌ Invalid item type. Syntax: \\`::delete activity <short-id>\\` or \\`::delete note <short-id>\\`\\n\\nUse \\`::recent activities\\` or \\`::recent notes\\` to see valid IDs.`,\n    ...event\n  };\n}\n\n// Validation: need at least one short ID\nif (args.length < 2 || !args[1] || args[1].trim() === '') {\n  return {\n    valid: false,\n    error_message: `❌ Missing short ID. Syntax: \\`::delete ${itemType} <short-id>\\`\\n\\nExample: \\`::delete ${itemType} a1b2c3d4\\`\\nUse \\`::recent ${itemType === 'activity' || itemType === 'activities' ? 'activities' : 'notes'}\\` to see valid IDs.`,\n    ...event\n  };\n}\n\n// Validation: check short ID format (at least 4 chars)\nconst shortIds = args.slice(1).filter(id => id && id.trim() !== '');\nconst invalidIds = shortIds.filter(id => id.length < 4);\nif (invalidIds.length > 0) {\n  return {\n    valid: false,\n    error_message: `❌ Invalid short ID format: ${invalidIds.join(', ')}\\n\\nShort IDs must be at least 4 characters. Use \\`::recent ${itemType === 'activity' || itemType === 'activities' ? 'activities' : 'notes'}\\` to see valid IDs.`,\n    ...event\n  };\n}\n\n// Valid\nreturn {\n  valid: true,\n  ...event\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        5936
      ],
      "id": "val-del-001",
      "name": "Validate Delete"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        4976
      ],
      "id": "if-valid-get-001",
      "name": "If Valid Get"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        5168
      ],
      "id": "if-valid-set-001",
      "name": "If Valid Set"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        5936
      ],
      "id": "if-valid-del-001",
      "name": "If Valid Delete"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.error_message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        880,
        5680
      ],
      "id": "send-error-001",
      "name": "Send Error Message",
      "webhookId": "error-webhook-001",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1440,
        5456
      ],
      "id": "a4af79eb-4f2c-4154-b987-da7bf409a7f8",
      "name": "Send Response",
      "webhookId": "26f551ce-e3bd-40ae-953b-33588a9edcd8",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse Command and Args",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command and Args": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Handle ping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Get",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Recent Events",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query User Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Unknown Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle ping": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Get Config": {
      "main": [
        [
          {
            "node": "Format Get Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Set Config": {
      "main": [
        [
          {
            "node": "Format Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Stats": {
      "main": [
        [
          {
            "node": "Format Stats Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Recent Events": {
      "main": [
        [
          {
            "node": "Format Recent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query User Status": {
      "main": [
        [
          {
            "node": "Format Status Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle help": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Get Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Set Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Stats Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Recent Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Status Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Unknown Command": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Get": {
      "main": [
        [
          {
            "node": "If Valid Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Set": {
      "main": [
        [
          {
            "node": "If Valid Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Delete": {
      "main": [
        [
          {
            "node": "If Valid Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid Get": {
      "main": [
        [
          {
            "node": "Query Get Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid Set": {
      "main": [
        [
          {
            "node": "Query Set Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid Delete": {
      "main": [
        [
          {
            "node": "Query Delete Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Delete Items": {
      "main": [
        [
          {
            "node": "Format Delete Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Delete Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
