n8n-workflows/Daily_Summary_Generator.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -704,
        384
      ],
      "id": "8c8b7eb7-1e56-46d9-8382-314d5c1c7f7c",
      "name": "Every 5 Minutes"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM config WHERE key = 'summary_time';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -480,
        384
      ],
      "id": "9cf68032-3d1b-4b95-a1a9-b5f7752b36ff",
      "name": "Get Summary Time",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse configured time and check if we should run\nconst currentHour = $now.hour\n\n// Get configured time (default to 20 if not set)\nconst inputItems = $input.all();\nlet targetHour = 20;\n\nif (inputItems.length > 0 && inputItems[0].json.value) {\n  const configTime = inputItems[0].json.value; // Format: \"HH:MM\" or \"HH\"\n  if (configTime.includes(':')) {\n    targetHour = parseInt(configTime.split(':')[0]);\n  } else {\n    targetHour = parseInt(configTime);\n  }\n}\n\nreturn [{ json: { current_hour: currentHour, target_hour: targetHour } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        384
      ],
      "id": "1a015f61-52f8-4019-8c32-0997a51b4a81",
      "name": "Parse Config Time"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "time-match",
              "leftValue": "={{ $json.current_hour }}",
              "rightValue": "={{ $json.target_hour }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -32,
        384
      ],
      "id": "2802a05c-dd10-4b16-a1ad-5fb5473b71ff",
      "name": "Check If Time to Run"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM config WHERE key = 'last_summary_date';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        192,
        -96
      ],
      "id": "check-last-summary",
      "name": "Check Last Summary Date",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if we already ran today\nconst todayDate = $now.format('yyyy-MM-dd');\nconst inputItems = $input.all();\n\nlet lastSummaryDate = null;\nif (inputItems.length > 0 && inputItems[0].json.value) {\n  lastSummaryDate = inputItems[0].json.value;\n}\n\n// If last summary was today, stop execution\nif (lastSummaryDate === todayDate) {\n  return [];\n}\n\n// Continue - we need to generate summary\nreturn [{ json: { should_run: true, today: todayDate } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -96
      ],
      "id": "check-already-ran",
      "name": "Check If Already Ran Today"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM config WHERE key = 'north_star';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        192,
        96
      ],
      "id": "2ad004d2-e858-4bd3-87dd-605292c7ac59",
      "name": "Get North Star",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  a.timestamp,\n  ac.name as category,\n  a.description\nFROM activity_log a\nJOIN activity_categories ac ON a.category_id = ac.id\nWHERE DATE(a.timestamp) = CURRENT_DATE\nORDER BY a.timestamp;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        192,
        288
      ],
      "id": "4e98188d-6c19-4c67-a662-b9998b928cc6",
      "name": "Get Today's Activities",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  n.timestamp,\n  nc.name as category,\n  n.title,\n  n.text\nFROM notes n\nJOIN note_categories nc ON n.category_id = nc.id\nWHERE DATE(n.timestamp) = CURRENT_DATE\nORDER BY n.timestamp;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        192,
        480
      ],
      "id": "a708072e-4528-4640-91a5-2cf6fc852f24",
      "name": "Get Today's Notes",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  ac.name as category,\n  COUNT(*) as count\nFROM activity_log a\nJOIN activity_categories ac ON a.category_id = ac.id\nWHERE DATE(a.timestamp) = CURRENT_DATE\nGROUP BY ac.name\nORDER BY count DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        192,
        672
      ],
      "id": "55176bae-372e-46dd-afb0-12ddacf07b24",
      "name": "Get Category Breakdown",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        416,
        352
      ],
      "id": "ba6a4d31-7ba5-4104-8f8a-b8d84a0249ba",
      "name": "Merge All Query Results"
    },
    {
      "parameters": {
        "jsCode": "// Safely merge all data for LLM summarization\n// Handles empty results and errors gracefully\n\nconst allItems = $input.all();\n\n// Extract north star\nlet northStar = 'Not set';\nconst northStarItems = allItems.filter(item => item.json.value !== undefined && !item.json.error);\nif (northStarItems.length > 0) {\n  northStar = northStarItems[0].json.value;\n}\n\n// Extract activities (has 'description' field)\nconst activityItems = allItems.filter(item => \n  item.json.description !== undefined && \n  !item.json.error\n);\n\n// Extract notes (has 'text' field but not 'description')\nconst noteItems = allItems.filter(item => \n  item.json.text !== undefined && \n  item.json.description === undefined &&\n  !item.json.error\n);\n\n// Extract breakdown (has 'count' field and 'category' but not description/text)\nconst breakdownItems = allItems.filter(item => \n  item.json.count !== undefined && \n  item.json.category !== undefined &&\n  item.json.description === undefined &&\n  item.json.text === undefined &&\n  !item.json.error\n);\n\n// Format activities list\nlet activitiesList = '';\nif (activityItems.length === 0) {\n  activitiesList = '(No activities logged today)';\n} else {\n  activityItems.forEach(item => {\n    const time = new Date(item.json.timestamp).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' });\n    activitiesList += `- ${time} [${item.json.category}] ${item.json.description}\\n`;\n  });\n}\n\n// Format notes list\nlet notesList = '';\nif (noteItems.length === 0) {\n  notesList = '(No notes captured today)';\n} else {\n  noteItems.forEach(item => {\n    const time = new Date(item.json.timestamp).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' });\n    const title = item.json.title ? `**${item.json.title}**: ` : '';\n    notesList += `- ${time} [${item.json.category}] ${title}${item.json.text}\\n`;\n  });\n}\n\n// Format category breakdown\nlet breakdownText = '';\nif (breakdownItems.length === 0) {\n  breakdownText = '(No category data)';\n} else {\n  breakdownItems.forEach(item => {\n    breakdownText += `- ${item.json.category}: ${item.json.count} activities\\n`;\n  });\n}\n\nreturn [{\n  json: {\n    north_star: northStar,\n    activities_list: activitiesList,\n    notes_list: notesList,\n    category_breakdown: breakdownText,\n    activity_count: activityItems.length,\n    note_count: noteItems.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        384
      ],
      "id": "0f143297-af82-4375-87b0-9b91d6bbe254",
      "name": "Prepare Summary Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are generating a daily summary for a life tracking system.\n\n**Today's Date:** {{ $now.format('yyyy-MM-dd') }}\n\n**User's North Star:** {{ $json.north_star }}\n\n**Today's Activities ({{ $json.activity_count }} total):**\n{{ $json.activities_list }}\n\n**Today's Notes ({{ $json.note_count }} total):**\n{{ $json.notes_list }}\n\n**Category Breakdown:**\n{{ $json.category_breakdown }}\n\n---\n\nGenerate a concise daily summary (2-3 paragraphs) that:\n\n1. **Highlights key accomplishments** - What did the user get done today?\n2. **Notes patterns or insights** - Any interesting observations about their day?\n3. **Relates to their north star** - How does today connect to their goals? (if relevant)\n4. **Ends with encouragement** - Brief positive reflection or motivation\n\nUse a warm, encouraging tone. Format with markdown for Discord. Start with a heading like \"# Daily Summary - <Today's Date>\"\n\nIf there were no activities or notes today, acknowledge that rest/downtime is valuable and encourage reflection.",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        864,
        384
      ],
      "id": "925c0acc-6506-4e61-957f-b4d05d35b515",
      "name": "Generate Summary with LLM"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_GUILD_ID }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_CHANNEL_OBSIDIAN_BOARD }}",
          "mode": "id"
        },
        "content": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1216,
        384
      ],
      "id": "cf9481d6-2cae-45c1-b1eb-d4dc72ba6c6e",
      "name": "Post to #obsidian-board",
      "webhookId": "58ab7668-0a2a-4b1e-8245-a70e0ae0054d",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO config (key, value) VALUES ('last_summary_date', $1) ON CONFLICT (key) DO UPDATE SET value = $1 RETURNING *;",
        "options": {
          "queryReplacement": "={{ $now.format('yyyy-MM-dd') }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1440,
        384
      ],
      "id": "update-last-summary",
      "name": "Update Last Summary Date",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nex-agi/deepseek-v3.1-nex-n1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        872,
        608
      ],
      "id": "c9951f91-832f-4dc3-9ea9-4319105f8441",
      "name": "deepseek-v3.1-nex",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "tngtech/deepseek-r1t2-chimera:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1000,
        608
      ],
      "id": "3ac6448a-5c7f-4ac0-8dd4-10b155e2e335",
      "name": "deepseek-r1t2-chimera",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Summary Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Summary Time": {
      "main": [
        [
          {
            "node": "Parse Config Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Config Time": {
      "main": [
        [
          {
            "node": "Check If Time to Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Time to Run": {
      "main": [
        [
          {
            "node": "Check Last Summary Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Last Summary Date": {
      "main": [
        [
          {
            "node": "Check If Already Ran Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Already Ran Today": {
      "main": [
        [
          {
            "node": "Get North Star",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Today's Activities",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Today's Notes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Category Breakdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get North Star": {
      "main": [
        [
          {
            "node": "Merge All Query Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Activities": {
      "main": [
        [
          {
            "node": "Merge All Query Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Today's Notes": {
      "main": [
        [
          {
            "node": "Merge All Query Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Category Breakdown": {
      "main": [
        [
          {
            "node": "Merge All Query Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge All Query Results": {
      "main": [
        [
          {
            "node": "Prepare Summary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Summary Data": {
      "main": [
        [
          {
            "node": "Generate Summary with LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary with LLM": {
      "main": [
        [
          {
            "node": "Post to #obsidian-board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to #obsidian-board": {
      "main": [
        [
          {
            "node": "Update Last Summary Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deepseek-v3.1-nex": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Summary with LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "deepseek-r1t2-chimera": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Summary with LLM",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
