n8n-workflows/Discord_Event_Router.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "={{ $env.WEBHOOK_PATH }}",
        "options": {}
      },
      "id": "1003e606-4a37-4ce9-ac86-53e21b6594d7",
      "name": "Discord Webhook Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -256,
        64
      ],
      "webhookId": "discord-events"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-message",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-reaction",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "reaction",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reaction"
            }
          ]
        },
        "options": {}
      },
      "id": "375b6932-4817-4f8b-9928-10fdd40968cd",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -32,
        64
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "k8ALz60eG7kYqxK9",
          "mode": "list",
          "cachedResultUrl": "/workflow/k8ALz60eG7kYqxK9",
          "cachedResultName": "Emoji_Reaction_Router"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        192,
        160
      ],
      "id": "a4681d61-ef90-4763-a860-6fd74ddf512b",
      "name": "Emoji Reaction Router"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NMMQUQveF3aitpti",
          "mode": "list",
          "cachedResultUrl": "/workflow/NMMQUQveF3aitpti",
          "cachedResultName": "Discord_Message_Router"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        192,
        -32
      ],
      "id": "d0214f51-a01c-49a0-940e-8edc211fec18",
      "name": "Discord Message Router"
    }
  ],
  "connections": {
    "Discord Webhook Entry": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Discord Message Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emoji Reaction Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
