n8n-workflows/Discord_Message_Ingestion.json
{
  "name": "Discord_Message_Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Discord Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "discord-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Parse tag from message content\nconst content = $input.item.json.content || '';\nconst firstToken = content.trim().split(/\\s+/)[0];\n\nlet tag = null;\nlet clean_text = content;\n\nif (firstToken === '!!' || firstToken === '++') {\n  tag = firstToken;\n  clean_text = content.slice(2).trim();\n} else if (firstToken.startsWith('::')) {\n  tag = firstToken;\n  clean_text = content.slice(firstToken.length).trim();\n}\n\nconst message_url = `https://discord.com/channels/${$input.item.json.guild_id}/${$input.item.json.channel_id}/${$input.item.json.message_id}`;\n\nreturn {\n  ...item.json,\n  tag,\n  clean_text,\n  message_url\n};"
      },
      "id": "parse-tag",
      "name": "Parse Tag & Clean Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_events (\n  source_type,\n  discord_guild_id,\n  discord_channel_id,\n  discord_message_id,\n  message_url,\n  author_login,\n  thread_id,\n  raw_text,\n  clean_text,\n  tag\n) VALUES (\n  'discord',\n  $1, $2, $3, $4, $5, $6, $7, $8, $9\n)\nON CONFLICT (discord_message_id) DO NOTHING\nRETURNING *;",
        "options": {}
      },
      "id": "store-raw-event",
      "name": "Store Raw Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Kairon Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "in-thread",
              "leftValue": "={{ $json.thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-thread",
      "name": "Is In Thread?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tag-activity",
              "leftValue": "={{ $json.tag }}",
              "rightValue": "!!",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "tag-thread-start",
              "leftValue": "={{ $json.tag }}",
              "rightValue": "++",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "tag-command",
              "leftValue": "={{ $json.tag }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "startsWith",
                "rightValue": "::"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-tag",
      "name": "Check Tag",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1120, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-commit",
              "leftValue": "={{ $json.tag }}",
              "rightValue": "++",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-commit",
      "name": "Is Commit?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1120, 140]
    },
    {
      "parameters": {
        "content": "## Thread Message Path\n\nMessages in threads go here.\n\nChecks if it's a commit command (++)\nOtherwise continues conversation."
      },
      "id": "note-thread",
      "name": "Thread Path Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1120, 40]
    },
    {
      "parameters": {
        "content": "## Main Channel Path\n\nMessages in #arcane-shell.\n\nChecks for tags:\n- !! → Activity\n- ++ → Thread Start  \n- :: → Command\n- None → Router Agent"
      },
      "id": "note-main",
      "name": "Main Path Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1120, 360]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "emoji",
              "name": "emoji",
              "value": "🕒",
              "type": "string"
            },
            {
              "id": "intent",
              "name": "intent",
              "value": "Activity",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "handle-activity-tagged",
      "name": "Handle !! Activity",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 340],
      "notes": "TODO: Extract category + description via LLM\nTODO: Write to activity_log"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "emoji",
              "name": "emoji",
              "value": "💭",
              "type": "string"
            },
            {
              "id": "intent",
              "name": "intent",
              "value": "ThreadStart",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "handle-thread-start-tagged",
      "name": "Handle ++ Thread Start",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 460],
      "notes": "TODO: Create Discord thread\nTODO: Execute Thread_Agent sub-workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "emoji",
              "name": "emoji",
              "value": "⚙️",
              "type": "string"
            },
            {
              "id": "intent",
              "name": "intent",
              "value": "Command",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "handle-command",
      "name": "Handle :: Command",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 580],
      "notes": "TODO: Parse command name\nTODO: Execute command handler"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "emoji",
              "name": "emoji",
              "value": "🤖",
              "type": "string"
            },
            {
              "id": "intent",
              "name": "intent",
              "value": "Agentic",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "handle-agentic",
      "name": "Router Agent (Agentic)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 700],
      "notes": "TODO: Execute Router_Agent sub-workflow\nTODO: Route based on tool called"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "emoji",
              "name": "emoji",
              "value": "✅",
              "type": "string"
            },
            {
              "id": "intent",
              "name": "intent",
              "value": "Commit",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "handle-commit",
      "name": "Commit Thread",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 60],
      "notes": "TODO: Load conversation_messages\nTODO: Summarize with LLM\nTODO: Create note + activity"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "emoji",
              "name": "emoji",
              "value": "💬",
              "type": "string"
            },
            {
              "id": "intent",
              "name": "intent",
              "value": "Chat",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "handle-thread-chat",
      "name": "Thread Chat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 180],
      "notes": "TODO: Execute Thread_Agent sub-workflow\nTODO: Store response to conversation_messages"
    },
    {
      "parameters": {
        "url": "=https://discord.com/api/v10/channels/{{ $json.channel_id }}/messages/{{ $json.message_id }}/reactions/{{ $json.emoji }}/@me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "send-reaction",
      "name": "Send Emoji Reaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 400],
      "credentials": {
        "discordApi": {
          "id": "YOUR_DISCORD_CREDENTIAL_ID",
          "name": "Discord API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\", \"message_id\": $json.message_id } }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 400]
    }
  ],
  "connections": {
    "Discord Webhook": {
      "main": [
        [
          {
            "node": "Parse Tag & Clean Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tag & Clean Text": {
      "main": [
        [
          {
            "node": "Store Raw Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Raw Event": {
      "main": [
        [
          {
            "node": "Is In Thread?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is In Thread?": {
      "main": [
        [
          {
            "node": "Is Commit?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Commit?": {
      "main": [
        [
          {
            "node": "Commit Thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Thread Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tag": {
      "main": [
        [
          {
            "node": "Handle !! Activity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle ++ Thread Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle :: Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router Agent (Agentic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle !! Activity": {
      "main": [
        [
          {
            "node": "Send Emoji Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle ++ Thread Start": {
      "main": [
        [
          {
            "node": "Send Emoji Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle :: Command": {
      "main": [
        [
          {
            "node": "Send Emoji Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Agent (Agentic)": {
      "main": [
        [
          {
            "node": "Send Emoji Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Thread": {
      "main": [
        [
          {
            "node": "Send Emoji Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thread Chat": {
      "main": [
        [
          {
            "node": "Send Emoji Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Emoji Reaction": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-16T00:00:00.000Z",
  "versionId": "1"
}
