n8n-workflows/Discord_Message_Router.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "={{ $env.WEBHOOK_PATH }}",
        "options": {}
      },
      "id": "c2707a9b-e7d8-4de9-bf27-e4cb193c5a8b",
      "name": "Discord Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2304,
        4144
      ],
      "webhookId": "discord-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_events (\n  source_type,\n  discord_guild_id,\n  discord_channel_id,\n  discord_message_id,\n  message_url,\n  author_login,\n  thread_id,\n  raw_text,\n  clean_text,\n  tag\n) VALUES (\n  'discord',\n  $1, $2, $3, $4, $5, $6, $7, $8, $9\n)\nON CONFLICT (discord_message_id) DO NOTHING\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.event.guild_id }},{{ $json.event.channel_id }},{{ $json.event.message_id }},{{ $json.event.message_url }},{{ $json.event.author_login }},{{ $json.event.thread_id }},{{ $json.event.raw_text }},{{ $json.event.clean_text }},{{ $json.event.tag }},"
        }
      },
      "id": "278ca1fb-05a0-474b-a74b-f1dc11a3ee0a",
      "name": "Store Raw Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -832,
        4048
      ],
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "add-raw-event-id",
              "name": "event",
              "value": "={{ Object.assign({}, $('Build Event Object').item.json.event, { raw_event_id: $json.id }) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        4048
      ],
      "id": "365b5416-42d9-4040-8cc6-ae0b7d7f580d",
      "name": "Add Raw Event ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "!!",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c10146f0-bf28-4ff8-9478-df57f6a70ad0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "605cd974-50d7-474b-9b9c-719e1e880f6b",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "++",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d353c1c1-cb81-4bfd-ba4b-f93c94d890f1",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "::",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3b33f54e-2b45-4471-940c-eabe0299142c",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "..",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "fce7b05c-9134-4391-bc2d-fe6c1bf0f553",
      "name": "Check Tag",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -160,
        4304
      ]
    },
    {
      "parameters": {
        "content": "## Thread Message Path\n\nMessages in threads go here.\n\nChecks if it's a commit command (++)\nOtherwise continues conversation.",
        "height": 416,
        "width": 480
      },
      "id": "52caa9b2-0fae-468c-8dc6-5d442901fe5a",
      "name": "Thread Path Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        3600
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZQCULmYAVMN7I6ww",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZQCULmYAVMN7I6ww",
          "cachedResultName": "Activity_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        4048
      ],
      "id": "1ce49e2a-6d87-47bc-bc93-0ad2afad7e28",
      "name": "Handle !! Activity"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nsLfmVGA6NeCJJRu",
          "mode": "list",
          "cachedResultUrl": "/workflow/nsLfmVGA6NeCJJRu",
          "cachedResultName": "Thread_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "raw_event_id",
              "displayName": "raw_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "clean_text",
              "displayName": "clean_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "guild_id",
              "displayName": "guild_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "author_login",
              "displayName": "author_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        4240
      ],
      "id": "09fc2bb5-4f10-4b55-98da-32827b67cd3e",
      "name": "Handle ++ Thread Start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "emoji",
              "name": "emoji",
              "value": "✅",
              "type": "string"
            },
            {
              "id": "intent",
              "name": "intent",
              "value": "Commit",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d87f1a8d-9693-45fe-9365-a7181e323fef",
      "name": "Commit Thread",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        64,
        3664
      ],
      "notes": "TODO: Load conversation_messages\nTODO: Summarize with LLM\nTODO: Create note + activity"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "emoji",
              "name": "emoji",
              "value": "💬",
              "type": "string"
            },
            {
              "id": "intent",
              "name": "intent",
              "value": "Chat",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "25124e60-81e4-4ec1-9ee6-16f47c4f12d6",
      "name": "Thread Chat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        64,
        3856
      ],
      "notes": "TODO: Execute Thread_Agent sub-workflow\nTODO: Store response to conversation_messages"
    },
    {
      "parameters": {
        "content": "## Main Channel Path\n\nMessages in #arcane-shell.\n\nChecks for tags:\n- !! → Activity\n- ++ → Thread Start  \n- :: → Command\n- None → Router Agent",
        "height": 736,
        "width": 480
      },
      "id": "bdc50ece-af12-4727-affd-f56343d5514c",
      "name": "Main Path Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        4048
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "91cb07bc-c96e-4220-abdb-05844ba93f75",
              "leftValue": "={{ $json.event.thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        4048
      ],
      "id": "a87c6d0c-4558-406e-8671-da6325faaf80",
      "name": "If in Thread"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0ceb9e91-e374-4346-8706-97df7d95cfe6",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        3664
      ],
      "id": "024789e6-bd62-41db-92e8-aeae6e19d9c4",
      "name": "If Commit"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7Qq2qMUBmnyAhLxg",
          "mode": "list",
          "cachedResultUrl": "/workflow/7Qq2qMUBmnyAhLxg",
          "cachedResultName": "Note_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "raw_event_id",
              "displayName": "raw_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "clean_text",
              "displayName": "clean_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "guild_id",
              "displayName": "guild_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        4624
      ],
      "id": "a248e41f-1860-49a8-81a3-005f5f1eb58b",
      "name": "Handle .. Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a message classifier for a life tracking system.\n\nClassify the message into ONE of these tags and provide confidence.\n\n## Tags\n\n**!!** = Activity (what user is doing/did)\n- Present/past tense actions\n- Examples: \"working on router\", \"took a break\", \"fixed the bug\"\n\n**..** = Note (thoughts, insights, decisions)\n- Declarative observations (NOT questions)\n- Ideas, reflections, decisions\n- Examples: \"interesting pattern\", \"should prioritize X\", \"decided to do Y\"\n\n**++** = Question/Exploration (start conversation)\n- Questions (who/what/when/where/why/how)\n- Requests for help\n- Examples: \"what did I do yesterday?\", \"help me plan\", \"why is X happening?\"\n\n**::** = Command (rare system commands)\n- Examples: \"stats\", \"help\", \"pause\"\n\n## Output Format\n\nOutput ONLY this (nothing else): TAG|CONFIDENCE\n\nWhere:\n- TAG is one of: !! or .. or ++ or ::\n- CONFIDENCE is one of: high or medium or low\n\n## Confidence Guide\n\n- **high**: Very clear classification (90%+ confident)\n- **medium**: Reasonable but some ambiguity (60-90% confident)  \n- **low**: Unclear or could be multiple (<60% confident)\n\n**If low confidence:** Choose ++ (safer to start conversation than misclassify)\n\n## Examples\n\nInput: \"working on the router agent\"\nOutput: !!|high\n\nInput: \"async communication reduces context switching\"\nOutput: ..|high\n\nInput: \"what did I do yesterday?\"\nOutput: ++|high\n\nInput: \"hmm not sure\"\nOutput: ++|low\n\nInput: \"still working on it\"\nOutput: !!|medium\n\nRemember: Output ONLY the tag and confidence. Nothing else.\n\n## User Message\n{{ $('Discord Webhook').item.json.body.content }}",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1408,
        4268
      ],
      "id": "e7ffd14a-7e23-45d2-9841-4f2831cf5c5c",
      "name": "Intent Classifier"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.body.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.body.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.body.message_id }}",
        "emoji": "=👀"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -2080,
        4144
      ],
      "id": "fa13ad1f-f980-4b7c-8278-58b980df92a5",
      "name": "React with 👀",
      "webhookId": "3ebf8398-5c0b-41c5-b3e7-3a3fb5cd8e67",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "model": "amazon/nova-2-lite-v1:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1400,
        4492
      ],
      "id": "192aebe7-b4ef-4ee5-862a-62eea12bc5f4",
      "name": "nova-2-lite-v1",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Discord Webhook').item.json.body.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_CHANNEL_KAIRON_LOGS }}",
          "mode": "id"
        },
        "content": "=**[Raw Message]**\n{{ $('Discord Webhook').item.json.body.content }}\n**[Auto-tag|Confidence]**\n{{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1056,
        4316
      ],
      "id": "e38c7ab2-29c8-485f-94b6-3233bb00144c",
      "name": "Log classification to #kairon-logs",
      "webhookId": "18ae6288-f1c3-401a-9dcc-f832d8126ddf",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1272,
        4492
      ],
      "id": "5cc2f477-97b2-4a6a-a6e3-7e974d813c58",
      "name": "gpt-oss-20b",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "v6t7HCxr2OOXvb2z",
          "mode": "list",
          "cachedResultUrl": "/workflow/v6t7HCxr2OOXvb2z",
          "cachedResultName": "Command_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        4432
      ],
      "id": "5eb4dffb-1805-40da-a5e6-39a941aef9ca",
      "name": "Handle :: Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0eccc231-bed6-4ca0-a35e-62e7a6da63ed",
              "name": "tag",
              "value": "={{ $('Discord Webhook').item.json.body.content.match(/\\+\\+|!!|::|\\.\\./).first() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        4144
      ],
      "id": "cfd550c6-1f3b-4a7e-9f0f-cd9d07cd6847",
      "name": "Parse Tag"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "event-object",
              "name": "event",
              "value": "={{ {\n  clean_text: $('Discord Webhook').first().json.body.content.replace(/\\+\\+|!!|::|\\.\\./, '').trim(),\n  guild_id: $('Discord Webhook').item.json.body.guild_id,\n  channel_id: $('Discord Webhook').item.json.body.channel_id,\n  message_id: $('Discord Webhook').item.json.body.message_id,\n  author_login: $('Discord Webhook').item.json.body.author.login,\n  thread_id: $('Discord Webhook').item.json.body.thread_id,\n  message_url: 'https://discord.com/channels/' + $('Discord Webhook').item.json.body.guild_id + '/' + $('Discord Webhook').item.json.body.channel_id + '/' + $('Discord Webhook').item.json.body.message_id,\n  raw_text: $('Discord Webhook').item.json.body.content,\n  tag: $('Parse Tag').item.json.tag || $json.text.match(/\\+\\+|!!|::|\\.\\./).first() || \"++\"\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        4048
      ],
      "id": "1d5f7373-0997-41b8-8ba4-90f7d7ddc0a6",
      "name": "Build Event Object"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "49f84632-af0b-4306-9cdb-b5d5ea07706b",
              "leftValue": "={{ $json.tag }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4a814004-d6e5-4edc-bd01-add0860c5ab6",
              "leftValue": "={{ $('Discord Webhook').item.json.body.thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1632,
        4144
      ],
      "id": "6a129c83-b79e-4ac2-a6b2-e91bd2de2f42",
      "name": "If Tag or Thread Detected"
    }
  ],
  "connections": {
    "Discord Webhook": {
      "main": [
        [
          {
            "node": "React with 👀",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Raw Event": {
      "main": [
        [
          {
            "node": "Add Raw Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Raw Event ID": {
      "main": [
        [
          {
            "node": "If in Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tag": {
      "main": [
        [
          {
            "node": "Handle !! Activity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle ++ Thread Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle :: Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle .. Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If in Thread": {
      "main": [
        [
          {
            "node": "If Commit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Commit": {
      "main": [
        [
          {
            "node": "Commit Thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Thread Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Log classification to #kairon-logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Event Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "React with 👀": {
      "main": [
        [
          {
            "node": "Parse Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nova-2-lite-v1": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-oss-20b": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Parse Tag": {
      "main": [
        [
          {
            "node": "If Tag or Thread Detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Event Object": {
      "main": [
        [
          {
            "node": "Store Raw Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Tag or Thread Detected": {
      "main": [
        [
          {
            "node": "Build Event Object",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
