n8n-workflows/Discord_Message_Router.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "={{ $env.WEBHOOK_PATH }}",
        "options": {}
      },
      "id": "5831c030-b407-481c-aed5-acdd54516b40",
      "name": "Discord Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -5312,
        5824
      ],
      "webhookId": "discord-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_events (\n  source_type,\n  discord_guild_id,\n  discord_channel_id,\n  discord_message_id,\n  message_url,\n  author_login,\n  thread_id,\n  raw_text,\n  clean_text,\n  tag\n) VALUES (\n  'discord',\n  $1, $2, $3, $4, $5, $6, $7, $8, $9\n)\nON CONFLICT (discord_message_id) \nDO UPDATE SET discord_message_id = EXCLUDED.discord_message_id\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.event.guild_id }},{{ $json.event.channel_id }},{{ $json.event.message_id }},{{ $json.event.message_url }},{{ $json.event.author_login }},{{ $json.event.thread_id }},{{ $json.event.raw_text }},{{ $json.event.clean_text }},{{ $json.event.tag }},"
        }
      },
      "id": "ece46d52-b9e7-41fe-9fda-0488260559aa",
      "name": "Store Raw Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -3840,
        5728
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "add-raw-event-id",
              "name": "event",
              "value": "={{ Object.assign({}, $('Build Event Object').item.json.event, { raw_event_id: $json.id }) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3616,
        5728
      ],
      "id": "45b4fe90-8a32-43b8-baa5-87586bf1674d",
      "name": "Add Raw Event ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "!!",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c10146f0-bf28-4ff8-9478-df57f6a70ad0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "605cd974-50d7-474b-9b9c-719e1e880f6b",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "++",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d353c1c1-cb81-4bfd-ba4b-f93c94d890f1",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "::",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3b33f54e-2b45-4471-940c-eabe0299142c",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "..",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "7fd40d91-ac87-4a87-bf47-7896b8433432",
      "name": "Check Tag",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -3168,
        5984
      ]
    },
    {
      "parameters": {
        "content": "## Thread Message Path\n\nMessages in threads go here.\n\nChecks if it's a commit command (++)\nOtherwise continues conversation.",
        "height": 416,
        "width": 480
      },
      "id": "2afda0dd-85b7-4024-b4a1-15139cb4c661",
      "name": "Thread Path Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3248,
        5280
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZQCULmYAVMN7I6ww",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZQCULmYAVMN7I6ww",
          "cachedResultName": "Activity_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2944,
        5728
      ],
      "id": "790643ca-a0e5-4330-91cf-36551dd18eda",
      "name": "Handle !! Activity"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nsLfmVGA6NeCJJRu",
          "mode": "list",
          "cachedResultUrl": "/workflow/nsLfmVGA6NeCJJRu",
          "cachedResultName": "Thread_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2944,
        5920
      ],
      "id": "cd5ebe5d-a01b-41cc-8e46-e91bbb35a792",
      "name": "Handle ++ Thread Start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "emoji",
              "name": "emoji",
              "value": "✅",
              "type": "string"
            },
            {
              "id": "intent",
              "name": "intent",
              "value": "Commit",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "69db7d6e-1ce7-4023-8be6-d8d6e407ab27",
      "name": "Commit Thread",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -2944,
        5344
      ],
      "notes": "TODO: Load conversation_messages\nTODO: Summarize with LLM\nTODO: Create note + activity"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "e78T3OMl6pDxTb13",
          "mode": "list",
          "cachedResultUrl": "/workflow/e78T3OMl6pDxTb13",
          "cachedResultName": "Thread_Continuation_Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2944,
        5536
      ],
      "id": "16ea8da9-7f3d-46a8-bbc7-e9e57503d264",
      "name": "Handle Thread Continuation"
    },
    {
      "parameters": {
        "content": "## Main Channel Path\n\nMessages in #arcane-shell.\n\nChecks for tags:\n- !! → Activity\n- ++ → Thread Start  \n- :: → Command\n- None → Router Agent",
        "height": 736,
        "width": 480
      },
      "id": "1639814d-0769-47d1-a64d-cf38eb196566",
      "name": "Main Path Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3248,
        5728
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "91cb07bc-c96e-4220-abdb-05844ba93f75",
              "leftValue": "={{ $json.event.thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3392,
        5728
      ],
      "id": "fd24ebbf-99eb-4ae8-823b-63d779d4af52",
      "name": "If in Thread"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0ceb9e91-e374-4346-8706-97df7d95cfe6",
              "leftValue": "={{ $json.event.tag }}",
              "rightValue": "--",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3152,
        5488
      ],
      "id": "6c25bceb-1ed3-4959-b901-cb406593af20",
      "name": "If Commit"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7Qq2qMUBmnyAhLxg",
          "mode": "list",
          "cachedResultUrl": "/workflow/7Qq2qMUBmnyAhLxg",
          "cachedResultName": "Note_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2944,
        6304
      ],
      "id": "9a579e01-de2e-432c-8b30-a65b6b85cb2d",
      "name": "Handle .. Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a message classifier for a life tracking system.\n\nClassify the message into ONE of these tags and provide confidence.\n\n## Tags\n\n**!!** = Activity (what user is doing/did)\n- Present/past tense actions\n- Examples: \"working on router\", \"took a break\", \"fixed the bug\"\n\n**..** = Note (thoughts, insights, decisions)\n- Declarative observations (NOT questions)\n- Ideas, reflections, decisions\n- Examples: \"interesting pattern\", \"should prioritize X\", \"decided to do Y\"\n\n**++** = Question/Exploration (start conversation)\n- Questions (who/what/when/where/why/how)\n- Requests for help\n- Examples: \"what did I do yesterday?\", \"help me plan\", \"why is X happening?\"\n\n**::** = Command (rare system commands)\n- Examples: \"stats\", \"help\", \"pause\"\n\n## Output Format\n\nOutput ONLY this (nothing else): TAG|CONFIDENCE\n\nWhere:\n- TAG is one of: !! or .. or ++ or ::\n- CONFIDENCE is one of: high or medium or low\n\n## Confidence Guide\n\n- **high**: Very clear classification (90%+ confident)\n- **medium**: Reasonable but some ambiguity (60-90% confident)  \n- **low**: Unclear or could be multiple (<60% confident)\n\n**If low confidence:** Choose ++ (safer to start conversation than misclassify)\n\n## Examples\n\nInput: \"working on the router agent\"\nOutput: !!|high\n\nInput: \"async communication reduces context switching\"\nOutput: ..|high\n\nInput: \"what did I do yesterday?\"\nOutput: ++|high\n\nInput: \"hmm not sure\"\nOutput: ++|low\n\nInput: \"still working on it\"\nOutput: !!|medium\n\nRemember: Output ONLY the tag and confidence. Nothing else.\n\n## User Message\n{{ $('Discord Webhook').item.json.body.content }}",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -4416,
        5952
      ],
      "id": "76fbf9c4-d370-48b1-9397-d6d43073988b",
      "name": "Intent Classifier"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Discord Webhook').item.json.body.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_CHANNEL_KAIRON_LOGS }}",
          "mode": "id"
        },
        "content": "=**[Raw Message]**\n{{ $('Discord Webhook').item.json.body.content }}\n**[Auto-tag|Confidence]**\n{{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -4064,
        6000
      ],
      "id": "df900c14-83f0-4664-b60c-f957a0f5b693",
      "name": "Log classification to #kairon-logs",
      "webhookId": "18ae6288-f1c3-401a-9dcc-f832d8126ddf",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "v6t7HCxr2OOXvb2z",
          "mode": "list",
          "cachedResultUrl": "/workflow/v6t7HCxr2OOXvb2z",
          "cachedResultName": "Command_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2944,
        6112
      ],
      "id": "1241f295-afa4-49c8-ba07-ca193d830c59",
      "name": "Handle :: Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0eccc231-bed6-4ca0-a35e-62e7a6da63ed",
              "name": "tag",
              "value": "={{ $('Discord Webhook').item.json.body.content.match(/\\+\\+|!!|::|\\.\\.|--/)?.first() || null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4864,
        5824
      ],
      "id": "4c6551bd-0c27-41ca-ba51-553f59f62c11",
      "name": "Parse Tag"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "event-object",
              "name": "event",
              "value": "={{ {\n  clean_text: $('Discord Webhook').first().json.body.content.replace(/\\+\\+|!!|::|\\.\\.|--/, '').trim(),\n  guild_id: $('Discord Webhook').item.json.body.guild_id,\n  channel_id: $('Discord Webhook').item.json.body.channel_id,\n  message_id: $('Discord Webhook').item.json.body.message_id,\n  author_login: $('Discord Webhook').item.json.body.author.login,\n  thread_id: $('Discord Webhook').item.json.body.thread_id,\n  message_url: 'https://discord.com/channels/' + $('Discord Webhook').item.json.body.guild_id + '/' + $('Discord Webhook').item.json.body.channel_id + '/' + $('Discord Webhook').item.json.body.message_id,\n  raw_text: $('Discord Webhook').item.json.body.content,\n  tag: $('Parse Tag').item.json.tag || ($json.text ? $json.text.match(/\\+\\+|!!|::|\\.\\.|--/)?.first() : null) || ($('Discord Webhook').item.json.body.thread_id ? null : '++')\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4064,
        5728
      ],
      "id": "c9764ef2-7a13-420c-92dc-01129ecd3405",
      "name": "Build Event Object"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "49f84632-af0b-4306-9cdb-b5d5ea07706b",
              "leftValue": "={{ $json.tag }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4a814004-d6e5-4edc-bd01-add0860c5ab6",
              "leftValue": "={{ $('Discord Webhook').item.json.body.thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4640,
        5824
      ],
      "id": "7cc8ba83-95c3-40d0-9fd4-807b39ac1000",
      "name": "If Tag or Thread Detected"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -4224,
        6208
      ],
      "id": "48656988-6161-42b7-b056-626469a7f709",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -4400,
        6208
      ],
      "id": "11a177e7-c521-4050-a1a2-7ba0a83d846b",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2672,
        6016
      ],
      "id": "19590025-ba07-4b49-b52d-4ce7cda7e2d8",
      "name": "Wait 1 s (rate-limiting deterence)",
      "webhookId": "ae300d22-0f1a-4eac-9ead-3b7bb3b13d15"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.body.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.body.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.body.message_id }}",
        "emoji": "=🔵"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -5088,
        5824
      ],
      "id": "4843686e-a828-4611-9040-ae739b25ed5d",
      "name": "React with 🔵",
      "webhookId": "3ebf8398-5c0b-41c5-b3e7-3a3fb5cd8e67",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://discord.com/api/v10/channels/{{ $('Add Raw Event ID').item.json.event.channel_id }}/messages/{{ $('Add Raw Event ID').item.json.event.message_id }}/reactions/🔵/@me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2496,
        6016
      ],
      "id": "43b1d186-3f2a-47cc-9e50-b32eaaa933c8",
      "name": "Remove 🔵 Reaction",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "connections": {
    "Discord Webhook": {
      "main": [
        [
          {
            "node": "React with 🔵",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Raw Event": {
      "main": [
        [
          {
            "node": "Add Raw Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Raw Event ID": {
      "main": [
        [
          {
            "node": "If in Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tag": {
      "main": [
        [
          {
            "node": "Handle !! Activity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle ++ Thread Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle :: Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle .. Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle !! Activity": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle ++ Thread Start": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Thread Continuation": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If in Thread": {
      "main": [
        [
          {
            "node": "If Commit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Commit": {
      "main": [
        [
          {
            "node": "Commit Thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Thread Continuation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle .. Note": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Log classification to #kairon-logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Event Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle :: Command": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tag": {
      "main": [
        [
          {
            "node": "If Tag or Thread Detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Event Object": {
      "main": [
        [
          {
            "node": "Store Raw Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Tag or Thread Detected": {
      "main": [
        [
          {
            "node": "Build Event Object",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 s (rate-limiting deterence)": {
      "main": [
        [
          {
            "node": "Remove 🔵 Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "React with 🔵": {
      "main": [
        [
          {
            "node": "Parse Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
