n8n-workflows/Discord_Message_Router.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "={{ $env.WEBHOOK_PATH }}/message",
        "options": {}
      },
      "id": "dd605198-d92e-44c6-9683-c75da70e3ca5",
      "name": "Discord Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -5600,
        5648
      ],
      "webhookId": "discord-message-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_events (\n  source_type,\n  discord_guild_id,\n  discord_channel_id,\n  discord_message_id,\n  message_url,\n  author_login,\n  thread_id,\n  raw_text,\n  clean_text,\n  tag\n) VALUES (\n  'discord',\n  $1, $2, $3, $4, $5, $6, $7, $8, $9\n)\nON CONFLICT (discord_message_id) \nDO UPDATE SET discord_message_id = EXCLUDED.discord_message_id\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.event.guild_id }},{{ $json.event.channel_id }},{{ $json.event.message_id }},{{ $json.event.message_url }},{{ $json.event.author_login }},{{ $json.event.thread_id }},{{ $json.event.raw_text }},{{ $json.event.clean_text }},{{ $json.event.tag }},"
        }
      },
      "id": "2cf5af24-fe15-4ea7-b189-e712a8b7f887",
      "name": "Store Raw Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -4128,
        5552
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "add-raw-event-id",
              "name": "event",
              "value": "={{ Object.assign({}, $('Build Event Object').item.json.event, { raw_event_id: $json.id }) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3904,
        5552
      ],
      "id": "18a100d7-9892-47eb-95ba-e613ba2ab13a",
      "name": "Add Raw Event ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "!!",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c10146f0-bf28-4ff8-9478-df57f6a70ad0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "605cd974-50d7-474b-9b9c-719e1e880f6b",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "++",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d353c1c1-cb81-4bfd-ba4b-f93c94d890f1",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "::",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3b33f54e-2b45-4471-940c-eabe0299142c",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "..",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "save-thread-condition",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "--",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "todo-condition",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "$$",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "8130cd93-4791-4610-b1fb-b30d6bb8ccd1",
      "name": "Check Tag",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -3456,
        5808
      ]
    },
    {
      "parameters": {
        "content": "## Thread Message Path\n\nMessages in threads go here.\n\nChecks if it's a commit command (++)\nOtherwise continues conversation.",
        "height": 416,
        "width": 480
      },
      "id": "3c99012f-654c-442d-98c5-8ae798f37ea7",
      "name": "Thread Path Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3536,
        5104
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZQCULmYAVMN7I6ww",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZQCULmYAVMN7I6ww",
          "cachedResultName": "Activity_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3232,
        5552
      ],
      "id": "ea3c5e75-ba28-46be-ab74-6740a3e6d1ce",
      "name": "Handle !! Activity"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nsLfmVGA6NeCJJRu",
          "mode": "list",
          "cachedResultUrl": "/workflow/nsLfmVGA6NeCJJRu",
          "cachedResultName": "Thread_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3232,
        5744
      ],
      "id": "ff55a4c8-583b-4abe-a417-d2bdf091e867",
      "name": "Handle ++ Thread Start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "emoji",
              "name": "emoji",
              "value": "✅",
              "type": "string"
            },
            {
              "id": "intent",
              "name": "intent",
              "value": "Commit",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "229f86c1-1b7e-4848-9249-b4972619f749",
      "name": "Commit Thread",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -3232,
        5168
      ],
      "notes": "TODO: Load conversation_messages\nTODO: Summarize with LLM\nTODO: Create note + activity"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "e78T3OMl6pDxTb13",
          "mode": "list",
          "cachedResultUrl": "/workflow/e78T3OMl6pDxTb13",
          "cachedResultName": "Thread_Continuation_Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3232,
        5360
      ],
      "id": "2493e2bc-322a-435e-8af9-e99a2b3404bd",
      "name": "Handle Thread Continuation"
    },
    {
      "parameters": {
        "content": "## Main Channel Path\n\nMessages in #arcane-shell.\n\nChecks for tags:\n- !! → Activity\n- ++ → Thread Start  \n- :: → Command\n- None → Router Agent",
        "height": 736,
        "width": 480
      },
      "id": "fa4d7d32-ff5e-4160-8e50-8537eb2e6891",
      "name": "Main Path Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3536,
        5552
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "91cb07bc-c96e-4220-abdb-05844ba93f75",
              "leftValue": "={{ $json.event.thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3680,
        5552
      ],
      "id": "371ddf8c-d1e6-4498-a5e4-74469e363029",
      "name": "If in Thread"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0ceb9e91-e374-4346-8706-97df7d95cfe6",
              "leftValue": "={{ $json.event.tag }}",
              "rightValue": "--",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3440,
        5312
      ],
      "id": "496f7aa0-7353-4cf9-8e05-ee64801d2f1e",
      "name": "If Commit"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7Qq2qMUBmnyAhLxg",
          "mode": "list",
          "cachedResultUrl": "/workflow/7Qq2qMUBmnyAhLxg",
          "cachedResultName": "Note_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3232,
        6128
      ],
      "id": "7dd7298e-a06a-4c13-a2ce-05e99d12d302",
      "name": "Handle .. Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intent classifier for a life-tracking system.\n\nAssign probability scores (0-100) to each intent. Scores must add up to exactly 100.\n\n# Intents\n\n!! → Logging an activity  \nDescribes what **I am personally doing right now** or **just did** (present/recent past tense from first-person perspective).  \nStrong indicators: \"I am\", \"I'm\", \"-ing verbs\" describing my action, \"just [did something]\".\n\n.. → Jotting a note  \nObservations, realizations, facts, ideas, or reflections **not tied to a current action**.  \nStrong indicators: statements about others/things (\"X is Y\", \"A can B\"), general observations, future ideas.\n\n++ → Starting conversation / seeking response  \nExplicit questions or requests for help/advice.  \nStrong indicators: \"?\", \"why\", \"how\", \"should I\", \"what if\".\n\n# Key Distinction\n\n**Activity vs Note - The Person Test:**\n- About ME doing something NOW → !!\n- About ANYTHING ELSE (people, tools, ideas, observations) → ..\n\n**Examples:**\n- \"working with the API\" → !! (I am doing this)\n- \"the API is fast\" → .. (observation about the API)\n- \"meeting with Sarah\" → !! (I am doing this)\n- \"Sarah prefers morning meetings\" → .. (fact about Sarah)\n- \"debugging the parser\" → !! (I am doing this)\n- \"the parser needs refactoring\" → .. (observation about code)\n\n# Guidelines\n- First-person + action verb → almost always !!\n- Third-person or \"X is/can/should\" → almost always ..\n- Questions → almost always ++\n- When in doubt: Who/what is the subject? If it's ME and an action, it's !!\n\n# Output EXACTLY these three lines, nothing else:\n!!|X\n..|Y\n++|Z\n\n(X+Y+Z=100, integers only)\n\n# Examples\n\nrefining the authentication flow\n!!|97\n..|2\n++|1\n\njust woke up feeling groggy\n!!|94\n..|5\n++|1\n\ntesting the new endpoint\n!!|96\n..|3\n++|1\n\nscrolling Twitter during lunch\n!!|98\n..|1\n++|1\n\nheading to bed now\n!!|97\n..|2\n++|1\n\nthe new framework is really fast\n!!|3\n..|95\n++|2\n\nthis tool has great error handling\n!!|2\n..|96\n++|2\n\nTom prefers async communication\n!!|1\n..|97\n++|2\n\nneed to improve my sleep schedule\n!!|8\n..|90\n++|2\n\nadd validation to the form\n!!|5\n..|93\n++|2\n\nswitch to using environment variables\n!!|10\n..|88\n++|2\n\nwhy does the query fail sometimes\n!!|2\n..|10\n++|88\n\nshould I refactor this module\n!!|3\n..|8\n++|89\n\nhow can I optimize this query\n!!|4\n..|11\n++|85\n\n# User Message\n{{ $('Discord Webhook').first().json.body.content }}\n",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -4704,
        5776
      ],
      "id": "a43e3f77-47f1-4df0-bc1a-818a0f36a2cf",
      "name": "Intent Classifier"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Discord Webhook').item.json.body.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_CHANNEL_KAIRON_LOGS }}",
          "mode": "id"
        },
        "content": "=**[Intent Classification]**\n**Message:** {{ $('Discord Webhook').item.json.body.content }}\n**Scores:** [ {{ $json.text.split('\\n').filter(line => line.includes('|')).map(line => { const [tag, score] = line.split('|'); return { tag, score: parseInt(score) }; }).sort((a, b) => b.score - a.score).map(item => `${item.tag}:${item.score}%`).join(' | ') }} ]",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -4352,
        5824
      ],
      "id": "d1efec41-1c7a-40ba-8b7f-3a766b893dc8",
      "name": "Log classification to #kairon-logs",
      "webhookId": "18ae6288-f1c3-401a-9dcc-f832d8126ddf",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "v6t7HCxr2OOXvb2z",
          "mode": "list",
          "cachedResultUrl": "/workflow/v6t7HCxr2OOXvb2z",
          "cachedResultName": "Command_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3232,
        5936
      ],
      "id": "47a505c1-5dac-41ab-a081-89e17aab43d3",
      "name": "Handle :: Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0eccc231-bed6-4ca0-a35e-62e7a6da63ed",
              "name": "tag",
              "value": "={{ (() => {\n  const content = $('Discord Webhook').item.json.body.content;\n  // Check for tags at position 0 with whitespace or EOL after\n  const tagMatch = content.match(/^(!!|act|\\.\\.|\\.\\.|note|\\+\\+|chat|--|save|::|cmd|\\$\\$|todo)(\\s+|$)/i);\n  if (tagMatch) {\n    // Normalize word alternatives to symbols\n    const tag = tagMatch[1].toLowerCase();\n    if (tag === 'act') return '!!';\n    if (tag === 'note') return '..';\n    if (tag === 'chat') return '++';\n    if (tag === 'save') return '--';\n    if (tag === 'cmd' || tag === '::') return '::';\n    if (tag === 'todo' || tag === '$$') return '$$';\n    return tagMatch[1];  // Return symbol as-is\n  }\n  return null;\n})() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5152,
        5648
      ],
      "id": "0726cc67-ec03-4e1c-b2bd-8abeb9a8ed5f",
      "name": "Parse Tag"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "event-object",
              "name": "event",
              "value": "={{ {\n  clean_text: $('Discord Webhook').first().json.body.content.replace(/^(!!|act|\\.\\.|\\.\\.|note|\\+\\+|chat|--|save|::|cmd|\\$\\$|todo)(\\s+|$)/i, '').trim(),\n  guild_id: $('Discord Webhook').item.json.body.guild_id,\n  channel_id: $('Discord Webhook').item.json.body.channel_id,\n  message_id: $('Discord Webhook').item.json.body.message_id,\n  author_login: $('Discord Webhook').item.json.body.author.login,\n  thread_id: $('Discord Webhook').item.json.body.thread_id,\n  message_url: 'https://discord.com/channels/' + $('Discord Webhook').item.json.body.guild_id + '/' + $('Discord Webhook').item.json.body.channel_id + '/' + $('Discord Webhook').item.json.body.message_id,\n  raw_text: $('Discord Webhook').item.json.body.content,\n  tag: $('Parse Tag').item.json.tag || (() => {\n    // Parse LLM classifier output if present\n    const llmText = $json.text;\n    if (llmText && llmText.includes('|')) {\n      const lines = llmText.split('\\n').filter(line => line.includes('|'));\n      let maxScore = 0;\n      let maxTag = null;\n      lines.forEach(line => {\n        const [tag, scoreStr] = line.split('|').map(s => s.trim());\n        const score = parseInt(scoreStr);\n        if (!isNaN(score) && score > maxScore) {\n          maxScore = score;\n          maxTag = tag;\n        }\n      });\n      return maxTag;\n    }\n    // Fallback: if in thread without tag, default to ++\n    return $('Discord Webhook').item.json.body.thread_id ? '++' : '..';\n  })()\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4352,
        5552
      ],
      "id": "cff719f5-e88c-42e5-8607-ba2199691ca6",
      "name": "Build Event Object"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "49f84632-af0b-4306-9cdb-b5d5ea07706b",
              "leftValue": "={{ $json.tag }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4a814004-d6e5-4edc-bd01-add0860c5ab6",
              "leftValue": "={{ $('Discord Webhook').item.json.body.thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4928,
        5648
      ],
      "id": "370cc567-a981-43e9-b2e5-56edf9775e20",
      "name": "If Tag or Thread Detected"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -4512,
        6032
      ],
      "id": "3d8d048f-6ce9-4fcb-9632-ae56211999a8",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -4688,
        6032
      ],
      "id": "3673f0e8-0bf2-47a6-a621-22f3a6e953c7",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2960,
        5840
      ],
      "id": "c58f98b4-c400-4411-b042-abe7736cc0a4",
      "name": "Wait 1 s (rate-limiting deterence)",
      "webhookId": "ae300d22-0f1a-4eac-9ead-3b7bb3b13d15"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.body.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.body.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.body.message_id }}",
        "emoji": "=🔵"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -5376,
        5648
      ],
      "id": "46c284d1-a685-4621-8ffa-c529b6412df1",
      "name": "React with 🔵",
      "webhookId": "3ebf8398-5c0b-41c5-b3e7-3a3fb5cd8e67",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://discord.com/api/v10/channels/{{ $('Add Raw Event ID').item.json.event.channel_id }}/messages/{{ $('Add Raw Event ID').item.json.event.message_id }}/reactions/🔵/@me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2784,
        5840
      ],
      "id": "de7b4c83-35a0-48bf-8edb-015208a6cde7",
      "name": "Remove 🔵 Reaction",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "connections": {
    "Discord Webhook": {
      "main": [
        [
          {
            "node": "React with 🔵",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Raw Event": {
      "main": [
        [
          {
            "node": "Add Raw Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Raw Event ID": {
      "main": [
        [
          {
            "node": "If in Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tag": {
      "main": [
        [
          {
            "node": "Handle !! Activity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle ++ Thread Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle :: Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle .. Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle !! Activity": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle ++ Thread Start": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Thread Continuation": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If in Thread": {
      "main": [
        [
          {
            "node": "If Commit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Commit": {
      "main": [
        [
          {
            "node": "Commit Thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Thread Continuation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle .. Note": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Log classification to #kairon-logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Event Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle :: Command": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tag": {
      "main": [
        [
          {
            "node": "If Tag or Thread Detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Event Object": {
      "main": [
        [
          {
            "node": "Store Raw Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Tag or Thread Detected": {
      "main": [
        [
          {
            "node": "Build Event Object",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 s (rate-limiting deterence)": {
      "main": [
        [
          {
            "node": "Remove 🔵 Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "React with 🔵": {
      "main": [
        [
          {
            "node": "Parse Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
