n8n-workflows/Emoji_Reaction_Router.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "return {\n  ...$input.first().json.body\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        512
      ],
      "id": "48e34db2-679b-4824-824f-28f3e88ad421",
      "name": "Parse Reaction Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "60b25b9e-4a74-4500-85ba-facfd310ec5d",
              "leftValue": "={{ $json.action }}",
              "rightValue": "add",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        512
      ],
      "id": "4dfeed47-15be-49b7-b869-b651e1cdbd07",
      "name": "Is Add Reaction?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT conversation_id FROM thread_extractions WHERE summary_message_id = $1;",
        "options": {
          "queryReplacement": "={{ $json.message_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        304,
        512
      ],
      "id": "ed6288ec-cfca-4427-97e5-838b30a22260",
      "name": "Check if Summary Message",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1b12bd86-dd74-426c-99e6-62d0a936eef4",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        528,
        512
      ],
      "id": "88c7fca9-d7ba-4f9e-84d9-e064f7c91e0f",
      "name": "Is Summary Message?"
    },
    {
      "parameters": {
        "jsCode": "// Combine reaction data with conversation_id\nconst reaction = $('Parse Reaction Payload').first().json;\nconst dbResult = $('Check if Summary Message').first().json;\n\nreturn [{\n  json: {\n    ...reaction,\n    conversation_id: dbResult.conversation_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        512
      ],
      "id": "05763a80-1726-466f-b290-b0e8cde38fdc",
      "name": "Prepare Handler Input"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        512
      ],
      "id": "69985f4f-f8a9-4fc1-a66e-3a6b0c482f48",
      "name": "Discord Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "po34MNNwDBJKdf4N",
          "mode": "list",
          "cachedResultUrl": "/workflow/po34MNNwDBJKdf4N",
          "cachedResultName": "Save_Extraction"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        976,
        512
      ],
      "id": "bab6860a-5d6f-4090-b757-234487c32435",
      "name": "Save Extraction",
      "notes": "Replace workflowId with actual ID after creating Handle_Extraction_Save workflow"
    }
  ],
  "connections": {
    "Parse Reaction Payload": {
      "main": [
        [
          {
            "node": "Is Add Reaction?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Add Reaction?": {
      "main": [
        [
          {
            "node": "Check if Summary Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Check if Summary Message": {
      "main": [
        [
          {
            "node": "Is Summary Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Summary Message?": {
      "main": [
        [
          {
            "node": "Prepare Handler Input",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Handler Input": {
      "main": [
        [
          {
            "node": "Save Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Webhook": {
      "main": [
        [
          {
            "node": "Parse Reaction Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Extraction": {
      "main": [
        []
      ]
    }
  },
  "meta": {
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
