n8n-workflows/Generate_Daily_Summary.json
{
  "name": "Generate_Daily_Summary",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        1856
      ],
      "id": "workflow-trigger",
      "name": "When Called by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Extract trigger_reason from caller, prepare event data\nconst input = $json;\nconst triggerReason = input.trigger_reason || 'cron';\nconst today = $now.toFormat('yyyy-MM-dd');\n\nreturn [{ json: { should_run: true, today: today, trigger_reason: triggerReason } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        1856
      ],
      "id": "prepare-event-data",
      "name": "Prepare Event Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Insert system event for daily summary\nINSERT INTO events (idempotency_key, event_type, payload)\nVALUES (\n  $1,\n  'system',\n  jsonb_build_object(\n    'trigger_type', 'daily_summary',\n    'trigger_reason', $2,\n    'scheduled_date', $3\n  )\n)\nON CONFLICT (event_type, idempotency_key) DO UPDATE SET id = events.id\nRETURNING id, idempotency_key;",
        "options": {
          "queryReplacement": "=scheduled:daily_summary:{{ $json.today }}:{{ $json.trigger_reason }},={{ $json.trigger_reason }},={{ $json.today }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        592,
        1856
      ],
      "id": "insert-event",
      "name": "Insert Event",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Initialize ctx with event_id and prepare db_queries for Query_DB\nconst eventResult = $json;\nconst checkResult = $(\"Prepare Event Data\").first().json;\n\nconst db_queries = [\n  {\n    key: 'north_star',\n    sql: `SELECT value FROM config WHERE key = 'north_star'`\n  },\n  {\n    key: 'activities',\n    sql: `SELECT \n            (p.data->>'timestamp')::timestamptz as timestamp,\n            p.data->>'category' as category,\n            p.data->>'description' as description\n          FROM projections p\n          WHERE p.projection_type = 'activity'\n            AND p.status IN ('auto_confirmed', 'confirmed')\n            AND DATE((p.data->>'timestamp')::timestamptz) = CURRENT_DATE\n          ORDER BY (p.data->>'timestamp')::timestamptz`\n  },\n  {\n    key: 'notes',\n    sql: `SELECT \n            (p.data->>'timestamp')::timestamptz as timestamp,\n            p.data->>'category' as category,\n            p.data->>'text' as text\n          FROM projections p\n          WHERE p.projection_type = 'note'\n            AND p.status IN ('auto_confirmed', 'confirmed')\n            AND DATE((p.data->>'timestamp')::timestamptz) = CURRENT_DATE\n          ORDER BY (p.data->>'timestamp')::timestamptz`\n  },\n  {\n    key: 'breakdown',\n    sql: `SELECT \n            p.data->>'category' as category,\n            COUNT(*) as count\n          FROM projections p\n          WHERE p.projection_type = 'activity'\n            AND p.status IN ('auto_confirmed', 'confirmed')\n            AND DATE((p.data->>'timestamp')::timestamptz) = CURRENT_DATE\n          GROUP BY p.data->>'category'\n          ORDER BY count DESC`\n  }\n];\n\nreturn [{\n  json: {\n    ctx: {\n      event: {\n        event_id: eventResult.id,\n        trigger_type: \"daily_summary\",\n        trigger_reason: checkResult.trigger_reason,\n        today: checkResult.today,\n        trace_chain: [eventResult.id]\n      },\n      db_queries\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1856
      ],
      "id": "init-ctx",
      "name": "Initialize ctx"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UpiUvzlgVuMdYsnp",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1040,
        1856
      ],
      "id": "execute-query-db",
      "name": "Query_DB"
    },
    {
      "parameters": {
        "jsCode": "// Build LLM context from Query_DB results\nconst ctx = $json.ctx;\nconst db = ctx.db || {};\n\n// Extract north star\nconst northStar = db.north_star?.results?.[0]?.value || 'Not set';\n\n// Extract activities\nconst activityItems = db.activities?.results || [];\n\n// Extract notes\nconst noteItems = db.notes?.results || [];\n\n// Extract breakdown\nconst breakdownItems = db.breakdown?.results || [];\n\n// Format activities list\nlet activitiesList = '';\nif (activityItems.length === 0) {\n  activitiesList = '(No activities logged today)';\n} else {\n  activityItems.forEach(item => {\n    const time = new Date(item.timestamp).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' });\n    activitiesList += `- ${time} [${item.category}] ${item.description}\\n`;\n  });\n}\n\n// Format notes list\nlet notesList = '';\nif (noteItems.length === 0) {\n  notesList = '(No notes captured today)';\n} else {\n  noteItems.forEach(item => {\n    const time = new Date(item.timestamp).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' });\n    notesList += `- ${time} [${item.category}] ${item.text}\\n`;\n  });\n}\n\n// Format category breakdown\nlet categoryBreakdown = '';\nif (breakdownItems.length === 0) {\n  categoryBreakdown = '(No data)';\n} else {\n  breakdownItems.forEach(item => {\n    categoryBreakdown += `- ${item.category}: ${item.count}\\n`;\n  });\n}\n\nreturn [{\n  json: {\n    ctx,\n    north_star: northStar,\n    activities_list: activitiesList,\n    notes_list: notesList,\n    category_breakdown: categoryBreakdown,\n    activity_count: activityItems.length,\n    note_count: noteItems.length,\n    inference_start: Date.now(),\n    llm_input: {\n      north_star: northStar,\n      activity_count: activityItems.length,\n      note_count: noteItems.length\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        1856
      ],
      "id": "e29ca6f7-efbc-418c-b9cd-e61fa111e178",
      "name": "Prepare Summary Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a life coach reviewing a new client's daily logging data. Current date: {{ $now.format('yyyy-MM-dd') }}\n\n**Client's North Star:** {{ $json.north_star }}\n\n**Today's Activities ({{ $json.activity_count }} logged):**\n{{ $json.activities_list }}\n\n**Today's Notes ({{ $json.note_count }} logged):**\n{{ $json.notes_list }}\n\n**Category Breakdown:**\n{{ $json.category_breakdown }}\n\n---\n\n## Your Task\nProvide meta-feedback about HOW the client is logging, not just WHAT they logged. You're helping them become better at self-tracking.\n\n**Consider:**\n1. **Logging frequency** - Are they logging consistently? Gaps that suggest untracked time?\n2. **Detail quality** - Are descriptions rich enough to be useful later? Too terse? Too verbose?\n3. **Category usage** - Are they using categories effectively? Missing obvious ones?\n4. **Note vs Activity** - Are they distinguishing observations from actions well?\n5. **Alignment signals** - Does the day's shape move toward their north star?\n\n**Output Format:**\nStart with `# Daily Review - {{ $now.format('MMM d') }}`\n\nThen 2-3 short paragraphs:\n- First: One specific observation about their logging patterns today\n- Second: One concrete suggestion to improve their tracking (be specific!)\n- Third (optional): Brief encouragement or connection to their north star\n\n**Tone:** Warm but direct. A coach who cares about their growth, not a cheerleader.\n\n**If minimal data:** Note the gap honestly. Suggest what they might track tomorrow. Don't fill silence with generic encouragement.",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1488,
        1856
      ],
      "id": "4c73ad0b-072b-41c5-a6a7-5e3069f63663",
      "name": "Generate Summary with LLM"
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM response and prepare for trace/projection storage\nconst prepareData = $('Prepare Summary Data').first().json;\nconst llmText = $json.text?.trim() || '';\nconst durationMs = Date.now() - prepareData.inference_start;\nconst ctx = prepareData.ctx;\n\n// Format trace_chain for PostgreSQL\nconst traceChain = ctx.event.trace_chain || [];\nconst traceChainPg = '{' + traceChain.join(',') + '}';\n\nreturn [{\n  json: {\n    ctx,\n    summary_text: llmText,\n    duration_ms: durationMs,\n    trace_chain_pg: traceChainPg,\n    llm_input: prepareData.llm_input,\n    llm_input_json: JSON.stringify(prepareData.llm_input)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        1856
      ],
      "id": "parse-llm-response",
      "name": "Parse LLM Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO traces (event_id, step_name, data, trace_chain)\nVALUES (\n  $1::uuid,\n  'daily_summary',\n  jsonb_build_object(\n    'input', $2::jsonb,\n    'prompt', 'daily-summary-prompt',\n    'completion', $3,\n    'result', jsonb_build_object('summary', $3),\n    'duration_ms', $4::integer\n  ),\n  $5::uuid[]\n)\nRETURNING id, trace_chain || id AS updated_trace_chain;",
        "options": {
          "queryReplacement": "={{ $json.ctx.event.event_id }},={{ $json.llm_input_json }},={{ $json.summary_text }},={{ $json.duration_ms }},={{ $json.trace_chain_pg }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1936,
        1856
      ],
      "id": "store-trace",
      "name": "Store Trace",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare projection data with trace_id\nconst traceResult = $json;\nconst parseData = $('Parse LLM Response').first().json;\nconst ctx = parseData.ctx;\n\nconst updatedTraceChain = traceResult.updated_trace_chain || [];\nconst updatedTraceChainPg = '{' + updatedTraceChain.join(',') + '}';\n\nreturn [{\n  json: {\n    ctx,\n    trace_id: traceResult.id,\n    trace_chain_pg: updatedTraceChainPg,\n    summary_text: parseData.summary_text,\n    projection_data: {\n      timestamp: new Date().toISOString(),\n      summary_date: ctx.event.today,\n      text: parseData.summary_text,\n      activity_count: parseData.llm_input?.activity_count || 0,\n      note_count: parseData.llm_input?.note_count || 0\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        1856
      ],
      "id": "prepare-projection",
      "name": "Prepare Projection"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO projections (trace_id, event_id, trace_chain, projection_type, data, status, timezone)\nVALUES (\n  $1::uuid,\n  $2::uuid,\n  $3::uuid[],\n  'daily_summary',\n  $4::jsonb,\n  'auto_confirmed',\n  (SELECT value FROM config WHERE key = 'timezone')\n)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.trace_id }},={{ $json.ctx.event.event_id }},={{ $json.trace_chain_pg }},={{ JSON.stringify($json.projection_data) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2384,
        1856
      ],
      "id": "store-projection",
      "name": "Store Projection",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge projection result back with summary text for Discord\nconst projResult = $json;\nconst prepData = $('Prepare Projection').first().json;\n\nreturn [{\n  json: {\n    ctx: prepData.ctx,\n    projection_id: projResult.id,\n    summary_text: prepData.summary_text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        1856
      ],
      "id": "merge-for-discord",
      "name": "Merge for Discord"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_GUILD_ID }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_CHANNEL_OBSIDIAN_BOARD }}",
          "mode": "id"
        },
        "content": "={{ $json.summary_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2832,
        1856
      ],
      "id": "2d3ec420-6f75-49e0-8851-af9ba845977d",
      "name": "Post to #obsidian-board",
      "webhookId": "58ab7668-0a2a-4b1e-8245-a70e0ae0054d",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Update projection with Discord message ID for void/regenerate support\nUPDATE projections \nSET data = data || jsonb_build_object(\n  'discord_message_id', $1,\n  'discord_channel_id', $2,\n  'discord_guild_id', $3\n)\nWHERE id = $4::uuid\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.id }},={{ $env.DISCORD_CHANNEL_OBSIDIAN_BOARD }},={{ $env.DISCORD_GUILD_ID }},={{ $('Merge for Discord').first().json.projection_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3056,
        1856
      ],
      "id": "update-projection-message-id",
      "name": "Update Projection with Message ID",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO config (key, value) VALUES ('last_summary_date', $1) ON CONFLICT (key) DO UPDATE SET value = $1 RETURNING *;",
        "options": {
          "queryReplacement": "={{ $('Initialize ctx').first().json.ctx.event.today }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3280,
        1856
      ],
      "id": "3a056015-e868-4fbc-b433-cadee441431d",
      "name": "Update Last Summary Date",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1496,
        2080
      ],
      "id": "c8b0b429-e702-4351-8fdd-72d096e1898b",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1624,
        2080
      ],
      "id": "e496385a-60a2-4122-a8b3-ede7452fc36d",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Event Data": {
      "main": [
        [
          {
            "node": "Insert Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Event": {
      "main": [
        [
          {
            "node": "Initialize ctx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize ctx": {
      "main": [
        [
          {
            "node": "Query_DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query_DB": {
      "main": [
        [
          {
            "node": "Prepare Summary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Summary Data": {
      "main": [
        [
          {
            "node": "Generate Summary with LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary with LLM": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Store Trace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Trace": {
      "main": [
        [
          {
            "node": "Prepare Projection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Projection": {
      "main": [
        [
          {
            "node": "Store Projection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Projection": {
      "main": [
        [
          {
            "node": "Merge for Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge for Discord": {
      "main": [
        [
          {
            "node": "Post to #obsidian-board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to #obsidian-board": {
      "main": [
        [
          {
            "node": "Update Projection with Message ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Projection with Message ID": {
      "main": [
        [
          {
            "node": "Update Last Summary Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Summary with LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Summary with LLM",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "JOXLqn9TTznBdo7Q"
  },
  "staticData": {
    "node:Every 5 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "active": false
}
