n8n-workflows/Generate_Daily_Summary.json
{
  "name": "Generate_Daily_Summary",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        1856
      ],
      "id": "workflow-trigger",
      "name": "When Called by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Extract trigger_reason from caller, prepare event data\nconst input = $json;\nconst triggerReason = input.trigger_reason || 'cron';\nconst today = $now.toFormat('yyyy-MM-dd');\n\nreturn [{ json: { should_run: true, today: today, trigger_reason: triggerReason } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        1856
      ],
      "id": "prepare-event-data",
      "name": "Prepare Event Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Insert system event for daily summary\nINSERT INTO events (idempotency_key, event_type, payload)\nVALUES (\n  $1,\n  'system',\n  jsonb_build_object(\n    'trigger_type', 'daily_summary',\n    'trigger_reason', $2,\n    'scheduled_date', $3\n  )\n)\nON CONFLICT (event_type, idempotency_key) DO UPDATE SET id = events.id\nRETURNING id, idempotency_key;",
        "options": {
          "queryReplacement": "=scheduled:daily_summary:{{ $json.today }}:{{ $json.trigger_reason }},={{ $json.trigger_reason }},={{ $json.today }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        592,
        1856
      ],
      "id": "insert-event",
      "name": "Insert Event",
      "credentials": {
        "postgres": {
          "id": "p2SIY25QglSNcDnj"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Initialize ctx with event_id and prepare db_queries for Execute_Queries\nconst eventResult = $json;\nconst checkResult = $(\"Prepare Event Data\").first().json;\n\nconst db_queries = [\n  {\n    key: 'north_star',\n    sql: `SELECT value FROM config WHERE key = 'north_star'`\n  },\n  {\n    key: 'activities',\n    sql: `SELECT \n            (p.data->>'timestamp')::timestamptz as timestamp,\n            p.data->>'category' as category,\n            p.data->>'description' as description\n          FROM projections p\n          WHERE p.projection_type = 'activity'\n            AND p.status IN ('auto_confirmed', 'confirmed')\n            AND DATE((p.data->>'timestamp')::timestamptz) = CURRENT_DATE\n          ORDER BY (p.data->>'timestamp')::timestamptz`\n  },\n  {\n    key: 'notes',\n    sql: `SELECT \n            (p.data->>'timestamp')::timestamptz as timestamp,\n            p.data->>'category' as category,\n            p.data->>'text' as text\n          FROM projections p\n          WHERE p.projection_type = 'note'\n            AND p.status IN ('auto_confirmed', 'confirmed')\n            AND DATE((p.data->>'timestamp')::timestamptz) = CURRENT_DATE\n          ORDER BY (p.data->>'timestamp')::timestamptz`\n  },\n  {\n    key: 'breakdown',\n    sql: `SELECT \n            p.data->>'category' as category,\n            COUNT(*) as count\n          FROM projections p\n          WHERE p.projection_type = 'activity'\n            AND p.status IN ('auto_confirmed', 'confirmed')\n            AND DATE((p.data->>'timestamp')::timestamptz) = CURRENT_DATE\n          GROUP BY p.data->>'category'\n          ORDER BY count DESC`\n  }\n];\n\nreturn [{\n  json: {\n    ctx: {\n      event: {\n        event_id: eventResult.id,\n        trigger_type: \"daily_summary\",\n        trigger_reason: checkResult.trigger_reason,\n        today: checkResult.today,\n        trace_chain: [eventResult.id]\n      },\n      db_queries\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1856
      ],
      "id": "init-ctx",
      "name": "Initialize ctx"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Execute_Queries"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1040,
        1856
      ],
      "id": "execute-query-db",
      "name": "Execute_Queries (Read)"
    },
    {
      "parameters": {
        "jsCode": "// Build LLM context from Execute_Queries results\nconst ctx = $json.ctx;\nconst db = ctx.db || {};\n\n// Extract north star (use .row for single result)\nconst northStar = db.north_star?.row?.value || 'Not set';\n\n// Extract activities (use .rows for arrays)\nconst activityItems = db.activities?.rows || [];\n\n// Extract notes\nconst noteItems = db.notes?.rows || [];\n\n// Extract breakdown\nconst breakdownItems = db.breakdown?.rows || [];\n\n// Format activities list\nlet activitiesList = '';\nif (activityItems.length === 0) {\n  activitiesList = '(No activities logged today)';\n} else {\n  activityItems.forEach(item => {\n    const time = new Date(item.timestamp).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' });\n    activitiesList += `- ${time} [${item.category}] ${item.description}\\n`;\n  });\n}\n\n// Format notes list\nlet notesList = '';\nif (noteItems.length === 0) {\n  notesList = '(No notes captured today)';\n} else {\n  noteItems.forEach(item => {\n    const time = new Date(item.timestamp).toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' });\n    notesList += `- ${time} [${item.category}] ${item.text}\\n`;\n  });\n}\n\n// Format category breakdown\nlet categoryBreakdown = '';\nif (breakdownItems.length === 0) {\n  categoryBreakdown = '(No data)';\n} else {\n  breakdownItems.forEach(item => {\n    categoryBreakdown += `- ${item.category}: ${item.count}\\n`;\n  });\n}\n\nreturn [{\n  json: {\n    ctx,\n    north_star: northStar,\n    activities_list: activitiesList,\n    notes_list: notesList,\n    category_breakdown: categoryBreakdown,\n    activity_count: activityItems.length,\n    note_count: noteItems.length,\n    inference_start: Date.now(),\n    llm_input: {\n      north_star: northStar,\n      activity_count: activityItems.length,\n      note_count: noteItems.length\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        1856
      ],
      "id": "e29ca6f7-efbc-418c-b9cd-e61fa111e178",
      "name": "Prepare Summary Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a life coach reviewing a new client's daily logging data. Current date: {{ $now.format('yyyy-MM-dd') }}\n\n**Client's North Star:** {{ $json.north_star }}\n\n**Today's Activities ({{ $json.activity_count }} logged):**\n{{ $json.activities_list }}\n\n**Today's Notes ({{ $json.note_count }} logged):**\n{{ $json.notes_list }}\n\n**Category Breakdown:**\n{{ $json.category_breakdown }}\n\n---\n\n## Your Task\nProvide meta-feedback about HOW the client is logging, not just WHAT they logged. You're helping them become better at self-tracking.\n\n**Consider:**\n1. **Logging frequency** - Are they logging consistently? Gaps that suggest untracked time?\n2. **Detail quality** - Are descriptions rich enough to be useful later? Too terse? Too verbose?\n3. **Category usage** - Are they using categories effectively? Missing obvious ones?\n4. **Note vs Activity** - Are they distinguishing observations from actions well?\n5. **Alignment signals** - Does the day's shape move toward their north star?\n\n**Output Format:**\nStart with `# Daily Review - {{ $now.format('MMM d') }}`\n\nThen 2-3 short paragraphs:\n- First: One specific observation about their logging patterns today\n- Second: One concrete suggestion to improve their tracking (be specific!)\n- Third (optional): Brief encouragement or connection to their north star\n\n**Tone:** Warm but direct. A coach who cares about their growth, not a cheerleader.\n\n**If minimal data:** Note the gap honestly. Suggest what they might track tomorrow. Don't fill silence with generic encouragement.",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1488,
        1856
      ],
      "id": "4c73ad0b-072b-41c5-a6a7-5e3069f63663",
      "name": "Generate Summary with LLM"
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM response and prepare write queries for trace + projection\nconst prepareData = $('Prepare Summary Data').first().json;\nconst llmText = $json.text?.trim() || '';\nconst durationMs = Date.now() - prepareData.inference_start;\nconst ctx = prepareData.ctx;\n\n// Build projection data\nconst projectionData = {\n  timestamp: new Date().toISOString(),\n  summary_date: ctx.event.today,\n  text: llmText,\n  activity_count: prepareData.llm_input?.activity_count || 0,\n  note_count: prepareData.llm_input?.note_count || 0\n};\n\n// Prepare db_queries for Execute_Queries (Write)\nconst db_queries = [\n  {\n    key: 'trace',\n    sql: `INSERT INTO traces (event_id, step_name, data, trace_chain)\n          VALUES ($1::uuid, 'daily_summary', \n            jsonb_build_object(\n              'input', $2::jsonb,\n              'prompt', 'daily-summary-prompt',\n              'completion', $3,\n              'result', jsonb_build_object('summary', $3),\n              'duration_ms', $4::integer\n            ), $5::uuid[])\n          RETURNING id, trace_chain || id AS updated_trace_chain`,\n    params: [\n      ctx.event.event_id,\n      prepareData.llm_input,\n      llmText,\n      durationMs,\n      ctx.event.trace_chain || []\n    ]\n  },\n  {\n    key: 'projection',\n    sql: `INSERT INTO projections (trace_id, event_id, trace_chain, projection_type, data, status, timezone)\n          VALUES ($1::uuid, $2::uuid, $3::uuid[], 'daily_summary', $4::jsonb, 'auto_confirmed',\n            (SELECT value FROM config WHERE key = 'timezone'))\n          RETURNING id`,\n    params: [\n      '$results.trace.row.id',\n      ctx.event.event_id,\n      '$results.trace.row.updated_trace_chain',\n      projectionData\n    ]\n  }\n];\n\nreturn [{\n  json: {\n    ctx: {\n      ...ctx,\n      db_queries\n    },\n    summary_text: llmText\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        1856
      ],
      "id": "parse-llm-response",
      "name": "Prepare Write Queries"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Execute_Queries"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1936,
        1856
      ],
      "id": "execute-write-queries",
      "name": "Execute_Queries (Write)"
    },
    {
      "parameters": {
        "jsCode": "// Prepare for Discord - extract projection_id from write results\nconst ctx = $json.ctx;\nconst projectionId = ctx.db?.projection?.row?.id;\n\nreturn [{\n  json: {\n    ctx,\n    projection_id: projectionId,\n    summary_text: $('Prepare Write Queries').first().json.summary_text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        1856
      ],
      "id": "prepare-for-discord",
      "name": "Prepare for Discord"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_GUILD_ID }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_CHANNEL_OBSIDIAN_BOARD }}",
          "mode": "id"
        },
        "content": "={{ $json.summary_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2384,
        1856
      ],
      "id": "2d3ec420-6f75-49e0-8851-af9ba845977d",
      "name": "Post to #obsidian-board",
      "webhookId": "58ab7668-0a2a-4b1e-8245-a70e0ae0054d",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "discordBotApi": {
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare final update queries after Discord post\nconst discordResult = $json;\nconst prepData = $('Prepare for Discord').first().json;\nconst ctx = prepData.ctx;\n\nconst db_queries = [\n  {\n    key: 'update_projection',\n    sql: `UPDATE projections \n          SET data = data || jsonb_build_object(\n            'discord_message_id', $1,\n            'discord_channel_id', $2,\n            'discord_guild_id', $3\n          )\n          WHERE id = $4::uuid\n          RETURNING id`,\n    params: [\n      discordResult.id,\n      $env.DISCORD_CHANNEL_OBSIDIAN_BOARD || '',\n      $env.DISCORD_GUILD_ID || '',\n      prepData.projection_id\n    ]\n  },\n  {\n    key: 'update_config',\n    sql: `INSERT INTO config (key, value) VALUES ('last_summary_date', $1) \n          ON CONFLICT (key) DO UPDATE SET value = $1 \n          RETURNING *`,\n    params: [ctx.event.today]\n  }\n];\n\nreturn [{\n  json: {\n    ctx: {\n      ...ctx,\n      db_queries\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        1856
      ],
      "id": "prepare-final-updates",
      "name": "Prepare Final Updates"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Execute_Queries"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2832,
        1856
      ],
      "id": "execute-final-updates",
      "name": "Execute_Queries (Final)"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1496,
        2080
      ],
      "id": "c8b0b429-e702-4351-8fdd-72d096e1898b",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1624,
        2080
      ],
      "id": "e496385a-60a2-4122-a8b3-ede7452fc36d",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Event Data": {
      "main": [
        [
          {
            "node": "Insert Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Event": {
      "main": [
        [
          {
            "node": "Initialize ctx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize ctx": {
      "main": [
        [
          {
            "node": "Execute_Queries (Read)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute_Queries (Read)": {
      "main": [
        [
          {
            "node": "Prepare Summary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Summary Data": {
      "main": [
        [
          {
            "node": "Generate Summary with LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary with LLM": {
      "main": [
        [
          {
            "node": "Prepare Write Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Write Queries": {
      "main": [
        [
          {
            "node": "Execute_Queries (Write)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute_Queries (Write)": {
      "main": [
        [
          {
            "node": "Prepare for Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Discord": {
      "main": [
        [
          {
            "node": "Post to #obsidian-board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to #obsidian-board": {
      "main": [
        [
          {
            "node": "Prepare Final Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Updates": {
      "main": [
        [
          {
            "node": "Execute_Queries (Final)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Summary with LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Summary with LLM",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "JOXLqn9TTznBdo7Q"
  },
  "staticData": {
    "node:Every 5 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "active": false
}
