n8n-workflows/Multi_Capture.json
{
  "name": "Multi_Capture",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1600,
        816
      ],
      "id": "trigger-multi-extract",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Prepare for multi-capture\nconst ctx = $json.ctx;\n\nreturn [{\n  json: {\n    ctx: ctx,\n    inference_start: Date.now()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        720
      ],
      "id": "prepare-extraction",
      "name": "Prepare Capture"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://discord.com/api/v10/channels/{{ $json.ctx.event.channel_id }}/messages/{{ $json.ctx.event.message_id }}/reactions/🔵/@me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1376,
        912
      ],
      "id": "remove-blue-reaction",
      "name": "Remove 🔵 Reaction",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an extraction agent for a life-tracking system. Analyze the message and extract all relevant items.\n\n## Message to Analyze\n\n\"{{ $json.ctx.event.clean_text }}\"\n\n## Extraction Types\n\n### Activity (what the user is doing NOW)\nExtract if the message describes a CURRENT or RECENT action by the user.\n- **Categories:** work, leisure, study, health, sleep, relationships, admin\n- **Indicators:** \"I am\", \"I'm\", \"-ing verbs\", \"just did\", present/recent past tense\n\n### Note (observation, insight, or fact worth remembering)\nExtract if the message contains knowledge, observations, or reflections.\n- **Categories:** reflection (about self), fact (about world/others)\n- **Indicators:** observations about things/people, realizations, ideas, decisions\n\n### Todo (actionable task to complete)\nExtract if the message contains a clear task to do later.\n- **Priority:** high, medium, low\n- **Indicators:** \"need to\", \"should\", \"have to\", \"TODO\", future tasks\n\n## Key Rules\n\n1. A message can have 0, 1, 2, or 3 extractions\n2. Set confidence 0.0-1.0 based on how clearly the message indicates each type\n3. Only include extractions with confidence >= 0.5\n4. Prefer fewer high-confidence extractions over many low-confidence ones\n5. Activity describes what I'M doing; Note describes observations about anything else\n\n## Output Format\n\nOutput ONLY valid JSON, no explanation:\n\n{\"activity\": {\"category\": \"work\", \"description\": \"debugging auth\", \"confidence\": 0.92}, \"note\": {\"category\": \"reflection\", \"text\": \"noticed pattern in logs\", \"confidence\": 0.78}, \"todo\": null}",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1152,
        720
      ],
      "id": "multi-extractor",
      "name": "Multi Capturer"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {
          "timeout": 15000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1144,
        944
      ],
      "id": "mimo-v2-flash",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "timeout": 15000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1016,
        944
      ],
      "id": "nemotron-nano-9b",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse multi-capture JSON response\nconst llmText = $json.text?.trim() || '';\nconst prepareItem = $('Prepare Capture').first().json;\nconst ctx = prepareItem.ctx;\nconst inferenceStart = prepareItem.inference_start;\nconst durationMs = Date.now() - inferenceStart;\n\n// Format trace_chain for PostgreSQL uuid[] type\nconst traceChain = ctx.event.trace_chain || [];\nconst traceChainPg = '{' + traceChain.join(',') + '}';\n\n// Parse JSON from LLM output\nlet captures = { activity: null, note: null, todo: null };\nlet parseError = null;\n\ntry {\n  // Try to extract JSON from the response\n  let jsonStr = llmText;\n  \n  // Handle markdown code blocks\n  const jsonMatch = llmText.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    jsonStr = jsonMatch[1].trim();\n  }\n  \n  // Find JSON object in response\n  const objMatch = jsonStr.match(/\\{[\\s\\S]*\\}/);\n  if (objMatch) {\n    jsonStr = objMatch[0];\n  }\n  \n  captures = JSON.parse(jsonStr);\n} catch (e) {\n  parseError = e.message;\n  // Default to empty captures on parse error\n}\n\n// Filter by confidence threshold (0.5)\nconst CONFIDENCE_THRESHOLD = 0.5;\nconst validCaptures = [];\nconst emojis = [];\n\nif (captures.activity && captures.activity.confidence >= CONFIDENCE_THRESHOLD) {\n  validCaptures.push({\n    type: 'activity',\n    data: {\n      timestamp: new Date().toISOString(),\n      category: captures.activity.category || 'work',\n      description: captures.activity.description || ctx.event.clean_text,\n      confidence: captures.activity.confidence\n    }\n  });\n  emojis.push('🔘');\n}\n\nif (captures.note && captures.note.confidence >= CONFIDENCE_THRESHOLD) {\n  validCaptures.push({\n    type: 'note',\n    data: {\n      timestamp: new Date().toISOString(),\n      category: captures.note.category || 'reflection',\n      text: captures.note.text || ctx.event.clean_text,\n      confidence: captures.note.confidence\n    }\n  });\n  emojis.push('📝');\n}\n\nif (captures.todo && captures.todo.confidence >= CONFIDENCE_THRESHOLD) {\n  validCaptures.push({\n    type: 'todo',\n    data: {\n      timestamp: new Date().toISOString(),\n      priority: captures.todo.priority || 'medium',\n      description: captures.todo.description || ctx.event.clean_text,\n      confidence: captures.todo.confidence\n    }\n  });\n  emojis.push('✅');\n}\n\n// If no valid captures, fall back to note with low confidence\nif (validCaptures.length === 0) {\n  validCaptures.push({\n    type: 'note',\n    data: {\n      timestamp: new Date().toISOString(),\n      category: 'reflection',\n      text: ctx.event.clean_text,\n      confidence: 0.3\n    }\n  });\n  emojis.push('📝');\n}\n\nreturn [{\n  json: {\n    ctx: ctx,\n    captures: validCaptures,\n    emojis: emojis,\n    raw_response: llmText,\n    parse_error: parseError,\n    duration_ms: durationMs,\n    trace_chain_pg: traceChainPg\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        720
      ],
      "id": "parse-extractions",
      "name": "Parse Captures"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO traces (event_id, step_name, step_order, data, trace_chain)\nVALUES (\n  $1::uuid,\n  'multi_capture',\n  1,\n  jsonb_build_object(\n    'input', jsonb_build_object('text', $2),\n    'completion', $3,\n    'result', $4::jsonb,\n    'model', 'xiaomi/mimo-v2-flash:free',\n    'duration_ms', $5::integer,\n    'capture_count', $6::integer\n  ),\n  $7::uuid[]\n)\nRETURNING id, trace_chain || id AS updated_trace_chain;",
        "options": {
          "queryReplacement": "={{ $json.ctx.event.event_id }},={{ $json.ctx.event.clean_text }},={{ $json.raw_response }},={{ JSON.stringify($json.captures.map(c => ({ type: c.type, confidence: c.data.confidence }))) }},={{ $json.duration_ms }},={{ $json.captures.length }},={{ $json.trace_chain_pg }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -576,
        720
      ],
      "id": "store-llm-trace",
      "name": "Store LLM Trace",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge LLM trace result with capture data and split into separate items\nconst parseData = $('Parse Captures').first().json;\nconst traceResult = $json;\n\n// Get the new trace ID and updated chain from the DB result\nconst llmTraceId = traceResult.id;\nconst updatedTraceChain = traceResult.updated_trace_chain || [];\nconst updatedTraceChainPg = '{' + updatedTraceChain.join(',') + '}';\n\nconst captures = parseData.captures || [];\n\nreturn captures.map((capture, index) => ({\n  json: {\n    ctx: parseData.ctx,\n    capture: capture,\n    capture_index: index,\n    total_captures: captures.length,\n    emojis: parseData.emojis,\n    raw_response: parseData.raw_response,\n    duration_ms: parseData.duration_ms,\n    llm_trace_id: llmTraceId,\n    trace_chain_pg: updatedTraceChainPg\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        912
      ],
      "id": "split-extractions",
      "name": "Split Captures"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO projections (trace_id, event_id, trace_chain, projection_type, data, status)\nVALUES (\n  $1::uuid,\n  $2::uuid,\n  $3::uuid[],\n  $4,\n  $5::jsonb,\n  'auto_confirmed'\n)\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.llm_trace_id }},={{ $json.ctx.event.event_id }},={{ $json.trace_chain_pg }},={{ $json.capture.type }},={{ JSON.stringify($json.capture.data) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -128,
        912
      ],
      "id": "store-projection",
      "name": "Store Projection",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect all stored projections and prepare for reactions\nconst items = $input.all();\nconst firstItem = items[0]?.json || {};\n\n// Get emojis from the first item (they're all the same)\nconst emojis = firstItem.emojis || ['📝'];\nconst ctx = firstItem.ctx;\n\nreturn [{\n  json: {\n    ctx: ctx,\n    emojis: emojis,\n    projection_count: items.length,\n    projections: items.map(i => i.json)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        720
      ],
      "id": "collect-results",
      "name": "Collect Results"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://discord.com/api/v10/channels/{{ $json.ctx.event.channel_id }}/messages/{{ $json.ctx.event.message_id }}/reactions/{{ $json.emoji }}/@me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        528
      ],
      "id": "add-emoji-reactions",
      "name": "Add Emoji Reactions",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.ctx.event.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_CHANNEL_KAIRON_LOGS }}",
          "mode": "id"
        },
        "content": "=**[Multi-Capture]**\n**Message:** {{ $('Collect Results').item.json.ctx.event.clean_text }}\n**Captures:** {{ $('Collect Results').item.json.emojis.join(' ') }} ({{ $('Collect Results').item.json.projection_count }} items)",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        96,
        720
      ],
      "id": "log-to-kairon-logs",
      "name": "Log to Kairon Logs",
      "webhookId": "multi-capture-log",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a53ec39-1d98-4c37-afc3-804166e10731",
              "name": "emoji",
              "value": "={{(()=>{\n  let EMOJI = {\nactivity: \"🔘\",\nnote: \"📝\",\ntodo: \"✅\"\n  }\n  return EMOJI[$json.capture.type]\n})()}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        720
      ],
      "id": "caf7278e-93ed-44a1-a0e7-7fd83fda5e32",
      "name": "Set Emoji"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        96,
        528
      ],
      "id": "18bebcd7-34cb-43b8-947a-918034a69473",
      "name": "Wait 1 s",
      "webhookId": "471830ad-77d3-4266-9eca-bf75cfee85a2"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Capture",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove 🔵 Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Capture": {
      "main": [
        [
          {
            "node": "Multi Capturer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multi Capturer": {
      "main": [
        [
          {
            "node": "Parse Captures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Captures": {
      "main": [
        [
          {
            "node": "Store LLM Trace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store LLM Trace": {
      "main": [
        [
          {
            "node": "Split Captures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Captures": {
      "main": [
        [
          {
            "node": "Set Emoji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Projection": {
      "main": [
        []
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Log to Kairon Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Emoji Reactions": {
      "main": [
        [
          {
            "node": "Wait 1 s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Multi Capturer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Multi Capturer",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Set Emoji": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Projection",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Emoji Reactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 s": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "JOXLqn9TTznBdo7Q"
  },
  "staticData": null,
  "meta": null,
  "active": false
}
