n8n-workflows/Note_Handler.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "event",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        2976,
        -544
      ],
      "id": "795baa8a-2bd0-4e9e-84de-513fca974a5c",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "const categories = $input.all().map(item => item.json.name).join(', ');\nconst event = $('Execute Workflow Trigger').item.json.event;\n\nreturn [{\n  json: {\n    categories,\n    cleanText: event.clean_text,\n    ...event\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        -544
      ],
      "id": "abeb9e37-29f2-4877-92c6-26e599f4d115",
      "name": "Prepare LLM Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a note classifier for a life-tracking system.\n\nClassify notes into exactly 2 categories. Assign probability scores (0-100) that add up to exactly 100.\n\n# Categories\n\nfact → External, objective, declarative knowledge about the world or people (birthdays, preferences, allergies, likes/dislikes, factual statements about others).\n\nreflection → Internal, subjective knowledge (insights, decisions, observations, realizations, thoughts, self-analysis, patterns, emotional states, personal commitments).\n\n# The Core Distinction\n- fact = \"Things about the world/others\" (external reality)\n- reflection = \"Things about me/my mind\" (internal experience)\n\n# Key Guidelines\n- Declarative statements about others → fact (\"John loves coffee\", \"Sarah is allergic to nuts\")\n- Dates, birthdays, preferences of others → fact\n- Personal insights, realizations → reflection (\"I work better in mornings\")\n- Decisions, commitments → reflection (\"decided to switch to async\")\n- Self-observations → reflection (\"I've been more focused lately\")\n- General observations about yourself → reflection\n- When in doubt: Is it about THEM or about ME? → fact vs reflection\n\nOutput format (only lines with score >5):\ncategory_name|score\n\n(Scores must sum to exactly 100, integers only)\n\n# Examples\n\nJohn loves dark roast coffee\nfact|95\nreflection|5\n\nMom's birthday is June 12\nfact|98\nreflection|2\n\nSarah is allergic to nuts\nfact|96\nreflection|4\n\nDad prefers evening phone calls\nfact|94\nreflection|6\n\nnoticed an interesting pattern in my productivity\nreflection|94\nfact|6\n\nI work better in the mornings\nreflection|88\nfact|12\n\ndecided to switch to async communication\nreflection|92\nfact|8\n\nI've been forgetting people's preferences lately\nreflection|85\nfact|15\n\nreducing context switching improves focus\nreflection|70\nfact|30\n\nfeeling more energized after morning walks\nreflection|92\nfact|8\n\nEmily doesn't drink alcohol\nfact|97\nreflection|3\n\nI need to be more intentional about breaks\nreflection|88\nfact|12\n\n# User Message\n{{ $json.cleanText }}\n",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3424,
        -544
      ],
      "id": "148b0dd5-54c5-4a6c-a99a-2f761f921f8a",
      "name": "Note Classifier"
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM output in pipe format: \"category|score\"\nlet text = $input.item.json.text.trim();\n\nconst event = $('Execute Workflow Trigger').first().json.event;\n\ntry {\n  // Parse pipe format: \"idea|95\\ndecision|5\"\n  const lines = text.split('\\n').filter(line => line.includes('|'));\n  const scores = {};\n  let topCategory = null;\n  let topScore = 0;\n  \n  lines.forEach(line => {\n    const [category, scoreStr] = line.split('|').map(s => s.trim());\n    const score = parseInt(scoreStr);\n    \n    if (!isNaN(score)) {\n      scores[category] = score;\n      \n      if (score > topScore) {\n        topScore = score;\n        topCategory = category;\n      }\n    }\n  });\n  \n  // Ensure we have at least one category\n  if (!topCategory) {\n    throw new Error('No valid categories found in LLM response');\n  }\n  \n  return [{\n    json: {\n      category_name: topCategory,\n      text: event.clean_text,  // Use original message as note text (pure user thought)\n      ...event  // Pass through all event fields\n    }\n  }];\n} catch (error) {\n  // Fallback: if parsing fails, default to \"reflection\" category\n  return [{\n    json: {\n      category_name: \"reflection\",\n      text: event.clean_text,\n      parse_error: error.message,\n      ...event\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3776,
        -544
      ],
      "id": "893c39e3-aaaa-4194-ac4b-5748d63053fa",
      "name": "Parse LLM Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notes (\n  raw_event_id,\n  timestamp,\n  category,\n  text,\n  metadata\n)\nVALUES (\n  $1::uuid,\n  NOW(),\n  $3::note_category,\n  $2,\n  '{\"llm_classified\": true}'::jsonb\n)\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.raw_event_id }},={{ $json.text }},={{ $json.category_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        4000,
        -544
      ],
      "id": "744e0a3b-a1f7-4f70-a0cc-41f0028c97f3",
      "name": "Store Note",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Parse LLM Response').item.json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Parse LLM Response').item.json.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $('Parse LLM Response').item.json.message_id }}",
        "emoji": "=📝"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        4224,
        -544
      ],
      "id": "048b7f30-4a21-4656-888a-411ce6d1cd1b",
      "name": "React with 📝",
      "webhookId": "60c18aeb-3403-429d-8436-05ab229456b7",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3560,
        -320
      ],
      "id": "d2616491-0a65-46a2-8e20-2a8e7f20f798",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3432,
        -320
      ],
      "id": "8a0a3972-070a-4c5a-9ead-3ca98eae694e",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare LLM Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Context": {
      "main": [
        [
          {
            "node": "Note Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Note Classifier": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Store Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Note": {
      "main": [
        [
          {
            "node": "React with 📝",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Note Classifier",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Note Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
