n8n-workflows/Proactive_Agent_Cron.json
{
  "updatedAt": "2025-12-24T08:53:15.331Z",
  "createdAt": "2025-12-23T09:30:30.422Z",
  "id": "DvrsLMcIGlPThoeS",
  "name": "Proactive_Agent_Cron",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "schedule-trigger",
      "name": "Every5Minutes"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get next_pulse timestamp and current time\nSELECT \n  COALESCE(\n    (SELECT value::timestamptz FROM config WHERE key = 'next_pulse'),\n    NOW() - INTERVAL '1 minute'\n  ) as next_pulse,\n  NOW() as current_time,\n  COALESCE(\n    (SELECT value::timestamptz FROM config WHERE key = 'next_pulse'),\n    NOW() - INTERVAL '1 minute'\n  ) <= NOW() as should_run;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        224,
        0
      ],
      "id": "check-next-pulse",
      "name": "CheckNextPulse",
      "credentials": {
        "postgres": {
          "id": "GIpVtzgs3wiCmQBQ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-should-run",
              "leftValue": "={{ $json.should_run }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ],
      "id": "if-should-run",
      "name": "ShouldRun?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Set next_pulse to 2 hours from now (default interval)\n-- The Proactive_Agent can override this via its response\nUPDATE config \nSET value = (NOW() + INTERVAL '2 hours')::text, updated_at = NOW()\nWHERE key = 'next_pulse';\n\n-- If no row exists, insert one\nINSERT INTO config (key, value)\nVALUES ('next_pulse', (NOW() + INTERVAL '2 hours')::text)\nON CONFLICT (key) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        672,
        -80
      ],
      "id": "set-next-pulse",
      "name": "SetNextPulse(default)",
      "credentials": {
        "postgres": {
          "id": "GIpVtzgs3wiCmQBQ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Proactive_Agent\nreturn [{\n  json: {\n    trigger_reason: 'cron'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -80
      ],
      "id": "prepare-trigger-data",
      "name": "PrepareTriggerData"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lnxlZ8AFe7LhMMEA",
          "mode": "list",
          "cachedResultName": "Proactive_Agent",
          "cachedResultUrl": "/workflow/lnxlZ8AFe7LhMMEA"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1120,
        -80
      ],
      "id": "execute-proactive-agent",
      "name": "ExecuteProactiveAgent"
    }
  ],
  "connections": {
    "Every5Minutes": {
      "main": [
        [
          {
            "node": "CheckNextPulse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckNextPulse": {
      "main": [
        [
          {
            "node": "ShouldRun?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ShouldRun?": {
      "main": [
        [
          {
            "node": "SetNextPulse(default)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "SetNextPulse(default)": {
      "main": [
        [
          {
            "node": "PrepareTriggerData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareTriggerData": {
      "main": [
        [
          {
            "node": "ExecuteProactiveAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "NOJ7FqVhVLqw0n8D",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every5Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "versionId": "389d8efa-eb56-474e-9ecd-5197a9f9a016",
  "activeVersionId": "389d8efa-eb56-474e-9ecd-5197a9f9a016",
  "versionCounter": 218,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-23T09:30:30.422Z",
      "createdAt": "2025-12-23T09:30:30.422Z",
      "role": "workflow:owner",
      "workflowId": "DvrsLMcIGlPThoeS",
      "projectId": "erM3nntdLL53noWi",
      "project": {
        "updatedAt": "2025-12-23T09:23:39.658Z",
        "createdAt": "2025-12-23T09:16:56.460Z",
        "id": "erM3nntdLL53noWi",
        "name": "Chris Irineo <chriskevini@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-23T09:16:56.460Z",
            "createdAt": "2025-12-23T09:16:56.460Z",
            "userId": "2a851a2d-b7e5-4b3c-aefb-6eaaa79e0659",
            "projectId": "erM3nntdLL53noWi",
            "user": {
              "updatedAt": "2025-12-24T08:40:46.063Z",
              "createdAt": "2025-12-23T09:16:54.881Z",
              "id": "2a851a2d-b7e5-4b3c-aefb-6eaaa79e0659",
              "email": "chriskevini@gmail.com",
              "firstName": "Chris",
              "lastName": "Irineo",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-23T09:23:43.723Z",
                "personalization_survey_n8n_version": "1.123.5"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "CgUAxK0i4YhrZ2Wp",
                "userActivatedAt": 1766487000077,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-24T08:53:15.332Z",
    "createdAt": "2025-12-24T08:53:15.332Z",
    "versionId": "389d8efa-eb56-474e-9ecd-5197a9f9a016",
    "workflowId": "DvrsLMcIGlPThoeS",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 5
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "schedule-trigger",
        "name": "Every5Minutes"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- Get next_pulse timestamp and current time\nSELECT \n  COALESCE(\n    (SELECT value::timestamptz FROM config WHERE key = 'next_pulse'),\n    NOW() - INTERVAL '1 minute'\n  ) as next_pulse,\n  NOW() as current_time,\n  COALESCE(\n    (SELECT value::timestamptz FROM config WHERE key = 'next_pulse'),\n    NOW() - INTERVAL '1 minute'\n  ) <= NOW() as should_run;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          224,
          0
        ],
        "id": "check-next-pulse",
        "name": "CheckNextPulse",
        "credentials": {
          "postgres": {
            "id": "GIpVtzgs3wiCmQBQ",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-should-run",
                "leftValue": "={{ $json.should_run }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          448,
          0
        ],
        "id": "if-should-run",
        "name": "ShouldRun?"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- Set next_pulse to 2 hours from now (default interval)\n-- The Proactive_Agent can override this via its response\nUPDATE config \nSET value = (NOW() + INTERVAL '2 hours')::text, updated_at = NOW()\nWHERE key = 'next_pulse';\n\n-- If no row exists, insert one\nINSERT INTO config (key, value)\nVALUES ('next_pulse', (NOW() + INTERVAL '2 hours')::text)\nON CONFLICT (key) DO NOTHING;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          672,
          -80
        ],
        "id": "set-next-pulse",
        "name": "SetNextPulse(default)",
        "credentials": {
          "postgres": {
            "id": "GIpVtzgs3wiCmQBQ",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Prepare data for Proactive_Agent\nreturn [{\n  json: {\n    trigger_reason: 'cron'\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          896,
          -80
        ],
        "id": "prepare-trigger-data",
        "name": "PrepareTriggerData"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "lnxlZ8AFe7LhMMEA",
            "mode": "list",
            "cachedResultName": "Proactive_Agent",
            "cachedResultUrl": "/workflow/lnxlZ8AFe7LhMMEA"
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1120,
          -80
        ],
        "id": "execute-proactive-agent",
        "name": "ExecuteProactiveAgent"
      }
    ],
    "connections": {
      "Every5Minutes": {
        "main": [
          [
            {
              "node": "CheckNextPulse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CheckNextPulse": {
        "main": [
          [
            {
              "node": "ShouldRun?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ShouldRun?": {
        "main": [
          [
            {
              "node": "SetNextPulse(default)",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "SetNextPulse(default)": {
        "main": [
          [
            {
              "node": "PrepareTriggerData",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PrepareTriggerData": {
        "main": [
          [
            {
              "node": "ExecuteProactiveAgent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Chris Irineo",
    "name": null,
    "description": null
  }
}
