n8n-workflows/Route_Message.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO events (\n  event_type,\n  source,\n  payload,\n  idempotency_key\n) VALUES (\n  'discord_message',\n  'discord',\n  jsonb_build_object(\n    'content', $7,\n    'clean_text', $8,\n    'tag', $9,\n    'discord_guild_id', $1,\n    'discord_channel_id', $2,\n    'discord_message_id', $3,\n    'message_url', $4,\n    'author_login', $5,\n    'thread_id', $6\n  ),\n  $3\n)\nON CONFLICT (event_type, idempotency_key) DO UPDATE\nSET payload = EXCLUDED.payload\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.event.guild_id }},={{ $json.event.channel_id }},={{ $json.event.message_id }},={{ $json.event.message_url }},={{ $json.event.author_login }},={{ $json.event.thread_id }},={{ $json.event.raw_text }},={{ $json.event.clean_text }},={{ $json.event.tag }},"
        }
      },
      "id": "4a555af8-c5de-45df-a015-311c9edb109c",
      "name": "Store Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -11552,
        7168
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "add-event-id",
              "name": "event",
              "value": "={{ Object.assign({}, $('Build Event Object').item.json.event, { event_id: $json.id }) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11328,
        7168
      ],
      "id": "fddb9ff6-9595-4999-98b4-776d938244b4",
      "name": "Add Event ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "!!",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c10146f0-bf28-4ff8-9478-df57f6a70ad0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "605cd974-50d7-474b-9b9c-719e1e880f6b",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "++",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d353c1c1-cb81-4bfd-ba4b-f93c94d890f1",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "::",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3b33f54e-2b45-4471-940c-eabe0299142c",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "..",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "save-thread-condition",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "--",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "todo-condition",
                    "leftValue": "={{ $json.event.tag }}",
                    "rightValue": "$$",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "d523be42-e625-4d42-bd30-c09d16171ca4",
      "name": "Check Tag",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -10880,
        7392
      ]
    },
    {
      "parameters": {
        "content": "## Thread Message Path\n\nMessages in threads go here.\n\nChecks if it's a commit command (++)\nOtherwise continues conversation.",
        "height": 416,
        "width": 480
      },
      "id": "981f6a4e-9cf9-4d20-95b6-fef6ae6e9bec",
      "name": "Thread Path Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -10960,
        6720
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZQCULmYAVMN7I6ww",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZQCULmYAVMN7I6ww",
          "cachedResultName": "Activity_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -10656,
        7168
      ],
      "id": "a244c823-1db8-483d-913f-90d1f8380757",
      "name": "Handle !! Activity"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nsLfmVGA6NeCJJRu",
          "mode": "list",
          "cachedResultUrl": "/workflow/nsLfmVGA6NeCJJRu",
          "cachedResultName": "Thread_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -10656,
        7360
      ],
      "id": "547f83a3-7b94-444c-94bc-275659bb0c5a",
      "name": "Handle ++ Thread Start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "emoji",
              "name": "emoji",
              "value": "✅",
              "type": "string"
            },
            {
              "id": "intent",
              "name": "intent",
              "value": "Commit",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ca9aa37c-cee9-49a8-b45e-4ddb918b6453",
      "name": "Commit Thread",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -10656,
        6784
      ],
      "notes": "TODO: Load conversation_messages\nTODO: Summarize with LLM\nTODO: Create note + activity"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "e78T3OMl6pDxTb13",
          "mode": "list",
          "cachedResultUrl": "/workflow/e78T3OMl6pDxTb13",
          "cachedResultName": "Thread_Continuation_Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -10656,
        6976
      ],
      "id": "278f5e07-27a7-4867-9adc-373aa665c24d",
      "name": "Handle Thread Continuation"
    },
    {
      "parameters": {
        "content": "## Main Channel Path\n\nMessages in #arcane-shell.\n\nChecks for tags:\n- !! → Activity\n- ++ → Thread Start  \n- :: → Command\n- None → Router Agent",
        "height": 736,
        "width": 480
      },
      "id": "48a4f65b-e29e-4b67-a85b-6cb4b51c1603",
      "name": "Main Path Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -10960,
        7168
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "91cb07bc-c96e-4220-abdb-05844ba93f75",
              "leftValue": "={{ $json.event.thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -11104,
        7168
      ],
      "id": "957e9c2c-4afe-4ae0-812e-dc7a45ae3101",
      "name": "If in Thread"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0ceb9e91-e374-4346-8706-97df7d95cfe6",
              "leftValue": "={{ $json.event.tag }}",
              "rightValue": "--",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -10880,
        6880
      ],
      "id": "269bcc5d-90e6-4880-bbff-5371645020f0",
      "name": "If Commit"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7Qq2qMUBmnyAhLxg",
          "mode": "list",
          "cachedResultUrl": "/workflow/7Qq2qMUBmnyAhLxg",
          "cachedResultName": "Note_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -10656,
        7744
      ],
      "id": "ebf9639e-ea2c-44c4-9bc6-13c722c343c3",
      "name": "Handle .. Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intent classifier for a life-tracking system.\n\nAssign probability scores (0-100) to each intent. Scores must add up to exactly 100.\n\n# Intents\n\n!! → Logging an activity  \nDescribes what **I am personally doing right now** or **just did** (present/recent past tense from first-person perspective).  \nStrong indicators: \"I am\", \"I'm\", \"-ing verbs\" describing my action, \"just [did something]\".\n\n.. → Jotting a note  \nObservations, realizations, facts, ideas, or reflections **not tied to a current action**.  \nStrong indicators: statements about others/things (\"X is Y\", \"A can B\"), general observations, future ideas.\n\n++ → Starting conversation / seeking response  \nExplicit questions or requests for help/advice.  \nStrong indicators: \"?\", \"why\", \"how\", \"should I\", \"what if\".\n\n# Key Distinction\n\n**Activity vs Note - The Person Test:**\n- About ME doing something NOW → !!\n- About ANYTHING ELSE (people, tools, ideas, observations) → ..\n\n**Examples:**\n- \"working with the API\" → !! (I am doing this)\n- \"the API is fast\" → .. (observation about the API)\n- \"meeting with Sarah\" → !! (I am doing this)\n- \"Sarah prefers morning meetings\" → .. (fact about Sarah)\n- \"debugging the parser\" → !! (I am doing this)\n- \"the parser needs refactoring\" → .. (observation about code)\n\n# Guidelines\n- First-person + action verb → almost always !!\n- Third-person or \"X is/can/should\" → almost always ..\n- Questions → almost always ++\n- When in doubt: Who/what is the subject? If it's ME and an action, it's !!\n\n# Output EXACTLY these three lines, nothing else:\n!!|X\n..|Y\n++|Z\n\n(X+Y+Z=100, integers only)\n\n# Examples\n\nrefining the authentication flow\n!!|97\n..|2\n++|1\n\njust woke up feeling groggy\n!!|94\n..|5\n++|1\n\ntesting the new endpoint\n!!|96\n..|3\n++|1\n\nscrolling Twitter during lunch\n!!|98\n..|1\n++|1\n\nheading to bed now\n!!|97\n..|2\n++|1\n\nthe new framework is really fast\n!!|3\n..|95\n++|2\n\nthis tool has great error handling\n!!|2\n..|96\n++|2\n\nTom prefers async communication\n!!|1\n..|97\n++|2\n\nneed to improve my sleep schedule\n!!|8\n..|90\n++|2\n\nadd validation to the form\n!!|5\n..|93\n++|2\n\nswitch to using environment variables\n!!|10\n..|88\n++|2\n\nwhy does the query fail sometimes\n!!|2\n..|10\n++|88\n\nshould I refactor this module\n!!|3\n..|8\n++|89\n\nhow can I optimize this query\n!!|4\n..|11\n++|85\n\n# User Message\n{{ $('Discord Webhook').first().json.body.content }}\n",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -12128,
        7388
      ],
      "id": "fab40ef4-263a-4fff-9e7d-34723c68cfe0",
      "name": "Intent Classifier"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Discord Webhook').item.json.body.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_CHANNEL_KAIRON_LOGS }}",
          "mode": "id"
        },
        "content": "=**[Intent Classification]**\n**Message:** {{ $('Discord Webhook').item.json.body.content }}\n**Scores:** [ {{ $json.text.split('\\n').filter(line => line.includes('|')).map(line => { const [tag, score] = line.split('|'); return { tag, score: parseInt(score) }; }).sort((a, b) => b.score - a.score).map(item => `${item.tag}:${item.score}%`).join(' | ') }} ]",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -11776,
        6944
      ],
      "id": "9180697a-fc96-4ac7-835d-60655584bb59",
      "name": "Log classification to #kairon-logs",
      "webhookId": "18ae6288-f1c3-401a-9dcc-f832d8126ddf",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "v6t7HCxr2OOXvb2z",
          "mode": "list",
          "cachedResultUrl": "/workflow/v6t7HCxr2OOXvb2z",
          "cachedResultName": "Command_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -10656,
        7552
      ],
      "id": "499516b2-2b63-4002-bfe5-9253e4c45aab",
      "name": "Handle :: Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0eccc231-bed6-4ca0-a35e-62e7a6da63ed",
              "name": "tag",
              "value": "={{ (() => {\n  const content = $('Discord Webhook').item.json.body.content;\n  // Check for tags at position 0 with whitespace or EOL after\n  const tagMatch = content.match(/^(!!|act|\\.\\.|\\.\\.|note|\\+\\+|chat|--|save|::|cmd|\\$\\$|todo)(\\s+|$)/i);\n  if (tagMatch) {\n    // Normalize word alternatives to symbols\n    const tag = tagMatch[1].toLowerCase();\n    if (tag === 'act') return '!!';\n    if (tag === 'note') return '..';\n    if (tag === 'chat') return '++';\n    if (tag === 'save') return '--';\n    if (tag === 'cmd' || tag === '::') return '::';\n    if (tag === 'todo' || tag === '$$') return '$$';\n    return tagMatch[1];  // Return symbol as-is\n  }\n  return null;\n})() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12576,
        7264
      ],
      "id": "1803ed8f-663e-4579-b3e0-e8e9a16203f2",
      "name": "Parse Tag"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "event-object",
              "name": "event",
              "value": "={{ {\n  clean_text: $('Discord Webhook').first().json.body.content.replace(/^(!!|act|\\.\\.|\\.\\.|note|\\+\\+|chat|--|save|::|cmd|\\$\\$|todo)(\\s+|$)/i, '').trim(),\n  guild_id: $('Discord Webhook').item.json.body.guild_id,\n  channel_id: $('Discord Webhook').item.json.body.channel_id,\n  message_id: $('Discord Webhook').item.json.body.message_id,\n  author_login: $('Discord Webhook').item.json.body.author.login,\n  thread_id: $('Discord Webhook').item.json.body.thread_id,\n  message_url: 'https://discord.com/channels/' + $('Discord Webhook').item.json.body.guild_id + '/' + $('Discord Webhook').item.json.body.channel_id + '/' + $('Discord Webhook').item.json.body.message_id,\n  raw_text: $('Discord Webhook').item.json.body.content,\n  tag: $('Parse Tag').item.json.tag || (() => {\n    // Parse LLM classifier output if present\n    const llmText = $json.text;\n    if (llmText && llmText.includes('|')) {\n      const lines = llmText.split('\\n').filter(line => line.includes('|'));\n      let maxScore = 0;\n      let maxTag = null;\n      lines.forEach(line => {\n        const [tag, scoreStr] = line.split('|').map(s => s.trim());\n        const score = parseInt(scoreStr);\n        if (!isNaN(score) && score > maxScore) {\n          maxScore = score;\n          maxTag = tag;\n        }\n      });\n      return maxTag;\n    }\n    // Fallback: if in thread without tag, default to ++\n    return $('Discord Webhook').item.json.body.thread_id ? '++' : '..';\n  })()\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11776,
        7168
      ],
      "id": "0207d469-8925-4b66-8c4f-872b78fc7e8d",
      "name": "Build Event Object"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "49f84632-af0b-4306-9cdb-b5d5ea07706b",
              "leftValue": "={{ $json.tag }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4a814004-d6e5-4edc-bd01-add0860c5ab6",
              "leftValue": "={{ $('Discord Webhook').item.json.body.thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -12352,
        7264
      ],
      "id": "253b8334-feb5-4ea9-94aa-c78660dd2c9e",
      "name": "If Tag or Thread Detected"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -11992,
        7612
      ],
      "id": "2d1c739b-2d72-4b0e-9ef4-e5fd9e4d11a4",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -12120,
        7612
      ],
      "id": "d417aeb8-eca7-4ae9-90fb-cfdce37e57e0",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -10432,
        7264
      ],
      "id": "700e9363-0b5d-40bb-8de7-fbc17de32679",
      "name": "Wait 1 s (rate-limiting deterence)",
      "webhookId": "ae300d22-0f1a-4eac-9ead-3b7bb3b13d15"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.body.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.body.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.body.message_id }}",
        "emoji": "=🔵"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -12576,
        7072
      ],
      "id": "f6072f53-9275-440a-8c0e-c947d6fbb9e7",
      "name": "React with 🔵",
      "webhookId": "3ebf8398-5c0b-41c5-b3e7-3a3fb5cd8e67",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://discord.com/api/v10/channels/{{ $('Add Raw Event ID').item.json.event.channel_id }}/messages/{{ $('Add Raw Event ID').item.json.event.message_id }}/reactions/🔵/@me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -10208,
        7264
      ],
      "id": "57a0ed3a-a514-453a-bc40-e1a43628ae00",
      "name": "Remove 🔵 Reaction",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -12800,
        7168
      ],
      "id": "d10cc42d-5fa9-430e-b95a-d6a0a4397e91",
      "name": "Discord Webhook"
    }
  ],
  "connections": {
    "Store Event": {
      "main": [
        [
          {
            "node": "Add Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Event ID": {
      "main": [
        [
          {
            "node": "If in Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tag": {
      "main": [
        [
          {
            "node": "Handle !! Activity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle ++ Thread Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle :: Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle .. Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle !! Activity": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle ++ Thread Start": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Thread Continuation": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If in Thread": {
      "main": [
        [
          {
            "node": "If Commit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Commit": {
      "main": [
        [
          {
            "node": "Commit Thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Thread Continuation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle .. Note": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Log classification to #kairon-logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Event Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle :: Command": {
      "main": [
        [
          {
            "node": "Wait 1 s (rate-limiting deterence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tag": {
      "main": [
        [
          {
            "node": "If Tag or Thread Detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Event Object": {
      "main": [
        [
          {
            "node": "Store Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Tag or Thread Detected": {
      "main": [
        [
          {
            "node": "Build Event Object",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 s (rate-limiting deterence)": {
      "main": [
        [
          {
            "node": "Remove 🔵 Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "React with 🔵": {
      "main": [
        []
      ]
    },
    "Discord Webhook": {
      "main": [
        [
          {
            "node": "React with 🔵",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
