n8n-workflows/Route_Discord_Event.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "={{ $env.WEBHOOK_PATH }}",
        "options": {}
      },
      "id": "1003e606-4a37-4ce9-ac86-53e21b6594d7",
      "name": "Discord Webhook Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -480,
        240
      ],
      "webhookId": "discord-events"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-message",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-reaction",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "reaction",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reaction"
            }
          ]
        },
        "options": {}
      },
      "id": "375b6932-4817-4f8b-9928-10fdd40968cd",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -256,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parse-tag",
              "name": "tag",
              "value": "={{ (() => {\n  const content = $json.body.content;\n  if (!content) return null;\n  const tagMatch = content.match(/^(!!|act|\\.\\.|\\.\\.|note|\\+\\+|chat|--|save|::|cmd|\\$\\$|todo)(\\s+|$)/i);\n  if (tagMatch) {\n    const tag = tagMatch[1].toLowerCase();\n    if (tag === 'act') return '!!';\n    if (tag === 'note') return '..';\n    if (tag === 'chat') return '++';\n    if (tag === 'save') return '--';\n    if (tag === 'cmd' || tag === '::') return '::';\n    if (tag === 'todo' || tag === '$$') return '$$';\n    return tagMatch[1];\n  }\n  return null;\n})() }}",
              "type": "string"
            },
            {
              "id": "clean-text",
              "name": "clean_text",
              "value": "={{ $json.body.content ? $json.body.content.replace(/^(!!|act|\\.\\.|\\.\\.|note|\\+\\+|chat|--|save|::|cmd|\\$\\$|todo)(\\s+|$)/i, '').trim() : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        144
      ],
      "id": "parse-tag-node",
      "name": "Parse Message"
    },
    {
      "parameters": {
        "jsCode": "const reaction = $json.body;\nconst emojiMap = {\n  '1️⃣': 1, '2️⃣': 2, '3️⃣': 3,\n  '4️⃣': 4, '5️⃣': 5, '6️⃣': 6,\n  '7️⃣': 7, '8️⃣': 8, '9️⃣': 9, '🔟': 10\n};\n\nconst emoji = reaction.emoji;\nconst extractionIndex = emojiMap[emoji] || null;\nconst messageId = reaction.message_id;\nconst userId = reaction.user?.id || reaction.user_id;\nconst syntheticId = `reaction_${messageId}_${userId}_${emoji}_${extractionIndex}`;\n\nreturn [{\n  json: {\n    synthetic_id: syntheticId,\n    emoji: emoji,\n    extraction_index: extractionIndex\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        336
      ],
      "id": "parse-reaction-node",
      "name": "Parse Reaction"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO events (\n  event_type,\n  source,\n  payload,\n  idempotency_key\n) VALUES (\n  'discord_message',\n  'discord',\n  jsonb_build_object(\n    'content', $7,\n    'clean_text', $8,\n    'tag', $9,\n    'discord_guild_id', $1,\n    'discord_channel_id', $2,\n    'discord_message_id', $3,\n    'message_url', $4,\n    'author_login', $5,\n    'thread_id', $6\n  ),\n  $3\n)\nON CONFLICT (event_type, idempotency_key) DO UPDATE\nSET payload = EXCLUDED.payload\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.body.guild_id }},={{ $json.body.channel_id }},={{ $json.body.message_id }},={{ 'https://discord.com/channels/' + $json.body.guild_id + '/' + $json.body.channel_id + '/' + $json.body.message_id }},={{ $json.body.author.login }},={{ $json.body.thread_id || null }},={{ $json.body.content }},={{ $('Parse Message').item.json.clean_text }},={{ $('Parse Message').item.json.tag || null }}"
        }
      },
      "id": "store-message-event",
      "name": "Store Message Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        192,
        144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO events (\n  event_type,\n  source,\n  payload,\n  idempotency_key\n) VALUES (\n  'discord_reaction',\n  'discord',\n  jsonb_build_object(\n    'discord_guild_id', $1,\n    'discord_channel_id', $2,\n    'discord_message_id', $3,\n    'author_login', $4,\n    'thread_id', $5,\n    'emoji', $6,\n    'extraction_index', $7,\n    'action', $8\n  ),\n  $9\n)\nON CONFLICT (event_type, idempotency_key) DO NOTHING\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.body.guild_id }},={{ $json.body.channel_id }},={{ $json.body.message_id }},={{ $json.body.user?.login || $json.body.user_id }},={{ $json.body.thread_id || null }},={{ $('Parse Reaction').item.json.emoji }},={{ $('Parse Reaction').item.json.extraction_index }},={{ $json.body.action }},={{ $('Parse Reaction').item.json.synthetic_id }}"
        }
      },
      "id": "store-reaction-event",
      "name": "Store Reaction Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        192,
        336
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "build-event-obj",
              "name": "event",
              "value": "={{ {\n  event_id: $json.id,\n  event_type: 'discord_message',\n  guild_id: $('Discord Webhook Entry').item.json.body.guild_id,\n  channel_id: $('Discord Webhook Entry').item.json.body.channel_id,\n  message_id: $('Discord Webhook Entry').item.json.body.message_id,\n  author_login: $('Discord Webhook Entry').item.json.body.author.login,\n  thread_id: $('Discord Webhook Entry').item.json.body.thread_id || null,\n  message_url: 'https://discord.com/channels/' + $('Discord Webhook Entry').item.json.body.guild_id + '/' + $('Discord Webhook Entry').item.json.body.channel_id + '/' + $('Discord Webhook Entry').item.json.body.message_id,\n  raw_text: $('Discord Webhook Entry').item.json.body.content,\n  clean_text: $('Parse Message').item.json.clean_text,\n  tag: $('Parse Message').item.json.tag\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        144
      ],
      "id": "build-message-event",
      "name": "Build Message Event Object"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "build-reaction-event-obj",
              "name": "event",
              "value": "={{ {\n  event_id: $json.id,\n  event_type: 'discord_reaction',\n  guild_id: $('Discord Webhook Entry').item.json.body.guild_id,\n  channel_id: $('Discord Webhook Entry').item.json.body.channel_id,\n  message_id: $('Discord Webhook Entry').item.json.body.message_id,\n  author_login: $('Discord Webhook Entry').item.json.body.user?.login || $('Discord Webhook Entry').item.json.body.user_id,\n  thread_id: $('Discord Webhook Entry').item.json.body.thread_id || null,\n  emoji: $('Parse Reaction').item.json.emoji,\n  extraction_index: $('Parse Reaction').item.json.extraction_index,\n  action: $('Discord Webhook Entry').item.json.body.action\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        336
      ],
      "id": "build-reaction-event",
      "name": "Build Reaction Event Object"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "k8ALz60eG7kYqxK9",
          "mode": "list",
          "cachedResultUrl": "/workflow/k8ALz60eG7kYqxK9",
          "cachedResultName": "Route_Reaction"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": ["event"],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        640,
        336
      ],
      "id": "a4681d61-ef90-4763-a860-6fd74ddf512b",
      "name": "Route Reaction"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NMMQUQveF3aitpti",
          "mode": "list",
          "cachedResultUrl": "/workflow/NMMQUQveF3aitpti",
          "cachedResultName": "Route_Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": ["event"],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        640,
        144
      ],
      "id": "d0214f51-a01c-49a0-940e-8edc211fec18",
      "name": "Route Message"
    }
  ],
  "connections": {
    "Discord Webhook Entry": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Store Message Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reaction": {
      "main": [
        [
          {
            "node": "Store Reaction Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Message Event": {
      "main": [
        [
          {
            "node": "Build Message Event Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Reaction Event": {
      "main": [
        [
          {
            "node": "Build Reaction Event Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message Event Object": {
      "main": [
        [
          {
            "node": "Route Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reaction Event Object": {
      "main": [
        [
          {
            "node": "Route Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  },
  "name": "Route_Discord_Event"
}
