n8n-workflows/Route_Event.json
{
  "name": "Route_Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "={{ $env.WEBHOOK_PATH }}",
        "options": {}
      },
      "id": "cd624af2-2b2d-4c54-a6f2-c16f72817ee4",
      "name": "Discord Webhook Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -768,
        256
      ],
      "webhookId": "discord-events"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        -128
      ],
      "id": "cron-nudge",
      "name": "Nudge Cron (Every 15 Min)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        544
      ],
      "id": "cron-summary",
      "name": "Summary Cron (Every 5 Min)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Generate_Nudge"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "trigger_reason": "cron"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -544,
        -128
      ],
      "id": "execute-nudge-cron",
      "name": "Execute Generate_Nudge"
    },
    {
      "parameters": {
        "jsCode": "// Build query for summary config\nreturn [{\n  json: {\n    ctx: {\n      db_queries: [{\n        key: 'summary_config',\n        sql: `SELECT key, value FROM config WHERE key IN ('summary_time', 'last_summary_date');`,\n        params: []\n      }]\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        544
      ],
      "id": "build-summary-config-query",
      "name": "Build Summary Config Query"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Execute_Queries"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -320,
        544
      ],
      "id": "get-summary-config",
      "name": "Get Summary Config"
    },
    {
      "parameters": {
        "jsCode": "// Check if we should run summary (time matches AND not already run today)\nconst ctx = $json.ctx;\nconst configRows = ctx.db?.summary_config?.rows || [];\nconst currentHour = $now.hour;\nconst todayDate = $now.toFormat('yyyy-MM-dd');\n\n// Extract config values\nlet targetHour = 20; // default\nlet lastSummaryDate = null;\n\nfor (const item of configRows) {\n  if (item.key === 'summary_time') {\n    const configTime = item.value;\n    if (configTime.includes(':')) {\n      targetHour = parseInt(configTime.split(':')[0]);\n    } else {\n      targetHour = parseInt(configTime);\n    }\n  } else if (item.key === 'last_summary_date') {\n    lastSummaryDate = item.value;\n  }\n}\n\n// Check 1: Is it the right hour?\nif (currentHour !== targetHour) {\n  return [];\n}\n\n// Check 2: Already ran today?\nif (lastSummaryDate === todayDate) {\n  return [];\n}\n\n// Continue - time matches and not run today\nreturn [{ json: { should_run: true, today: todayDate, trigger_reason: 'cron' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        544
      ],
      "id": "check-summary-time",
      "name": "Check Should Run Summary"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Generate_Daily_Summary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "trigger_reason": "cron"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        128,
        544
      ],
      "id": "execute-summary-cron",
      "name": "Execute Generate_Daily_Summary"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "condition-message",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "condition-reaction",
                    "leftValue": "={{ $json.body.event_type }}",
                    "rightValue": "reaction",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reaction"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "id": "1c5b0871-58a8-457f-8b94-c1225e4e38b7",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -544,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nconst emojiMap = {\n  '1\ufe0f\u20e3': 1, '2\ufe0f\u20e3': 2, '3\ufe0f\u20e3': 3,\n  '4\ufe0f\u20e3': 4, '5\ufe0f\u20e3': 5, '6\ufe0f\u20e3': 6,\n  '7\ufe0f\u20e3': 7, '8\ufe0f\u20e3': 8, '9\ufe0f\u20e3': 9, '\ud83d\udd1f': 10\n};\n\nconst emoji = body.emoji;\nconst extractionIndex = emojiMap[emoji] || null;\nconst messageId = body.message_id;\nconst userId = body.user?.id || body.user_id;\nconst timestamp = Date.now();\nconst syntheticId = `reaction_${messageId}_${userId}_${emoji}_${timestamp}`;\n\nreturn [{\n  json: {\n    ...body,\n    synthetic_id: syntheticId,\n    emoji: emoji,\n    extraction_index: extractionIndex\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        352
      ],
      "id": "1ffa970a-a79d-4d92-ad89-666e68c48276",
      "name": "Parse Reaction"
    },
    {
      "parameters": {
        "jsCode": "// Build store message query for Execute_Queries\nconst parsed = $json;\nconst body = $('Discord Webhook Entry').item.json.body;\n\nconst messageUrl = `https://discord.com/channels/${body.guild_id}/${body.channel_id}/${body.message_id}`;\n\nreturn [{\n  json: {\n    ctx: {\n      db_queries: [{\n        key: 'event',\n        sql: `INSERT INTO events (\n  event_type,\n  payload,\n  idempotency_key,\n  timezone\n) VALUES (\n  $11,\n  jsonb_build_object(\n    'content', $7,\n    'clean_text', $8,\n    'tag', $9,\n    'discord_guild_id', $1,\n    'discord_channel_id', $2,\n    'discord_message_id', $3,\n    'message_url', $4,\n    'author_login', $5,\n    'thread_id', $6,\n    'timestamp', $10::timestamptz\n  ),\n  $3,\n  COALESCE((SELECT value FROM config WHERE key = 'timezone'), 'UTC')\n)\nON CONFLICT (event_type, idempotency_key) DO UPDATE\nSET payload = EXCLUDED.payload,\n    timezone = EXCLUDED.timezone\nRETURNING *;`,\n        params: [\n          body.guild_id,\n          body.channel_id,\n          body.message_id,\n          messageUrl,\n          body.author?.login || body.author_login,\n          body.thread_id || null,\n          body.content,\n          parsed.clean_text,\n          parsed.tag || null,\n          body.timestamp,\n          parsed.event_type\n        ]\n      }]\n    },\n    webhook: body,\n    parsed: parsed\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        160
      ],
      "id": "build-message-event-query",
      "name": "Build Message Event Query"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Execute_Queries"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        128,
        160
      ],
      "id": "store-message-event",
      "name": "Store Message Event"
    },
    {
      "parameters": {
        "jsCode": "// Build store reaction query for Execute_Queries\nconst parsed = $json;\nconst body = $('Discord Webhook Entry').item.json.body;\n\nreturn [{\n  json: {\n    ctx: {\n      db_queries: [{\n        key: 'event',\n        sql: `INSERT INTO events (\n  event_type,\n  payload,\n  idempotency_key,\n  timezone\n) VALUES (\n  'discord_reaction',\n  jsonb_build_object(\n    'discord_guild_id', $1,\n    'discord_channel_id', $2,\n    'discord_message_id', $3,\n    'author_login', $4,\n    'thread_id', $5,\n    'emoji', $6,\n    'extraction_index', $7,\n    'action', $8\n  ),\n  $9,\n  COALESCE((SELECT value FROM config WHERE key = 'timezone'), 'UTC')\n)\nRETURNING *;`,\n        params: [\n          body.guild_id,\n          body.channel_id,\n          body.message_id,\n          body.user?.login || body.user_id,\n          body.thread_id || null,\n          parsed.emoji,\n          parsed.extraction_index,\n          body.action,\n          parsed.synthetic_id\n        ]\n      }]\n    },\n    webhook: body,\n    parsed: parsed\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        352
      ],
      "id": "build-reaction-event-query",
      "name": "Build Reaction Event Query"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Execute_Queries"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        128,
        352
      ],
      "id": "store-reaction-event",
      "name": "Store Reaction Event"
    },
    {
      "parameters": {
        "jsCode": "// Initialize ctx.event - all downstream nodes read from $json.ctx.event\nconst ctx = $json.ctx;\nconst dbResult = ctx.db?.event?.row;\nconst webhook = $('Build Message Event Query').first().json.webhook;\nconst parsed = $('Build Message Event Query').first().json.parsed;\n\nreturn [{\n  json: {\n    ctx: {\n      event: {\n        event_id: dbResult.id,\n        event_type: dbResult.event_type,\n        timestamp: webhook.timestamp,\n        timezone: dbResult.timezone || 'UTC',\n        guild_id: webhook.guild_id,\n        channel_id: webhook.channel_id,\n        message_id: webhook.message_id,\n        author_login: webhook.author?.login || webhook.author_login,\n        thread_id: webhook.thread_id || null,\n        message_url: `https://discord.com/channels/${webhook.guild_id}/${webhook.channel_id}/${webhook.message_id}`,\n        raw_text: webhook.content,\n        clean_text: parsed.clean_text,\n        tag: parsed.tag || null,\n        trace_chain: [dbResult.id],\n        trace_chain_pg: `{${dbResult.id}}`\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        160
      ],
      "id": "ebc352f8-4d54-4ecd-9aee-d6e36d191099",
      "name": "Initialize Message Context"
    },
    {
      "parameters": {
        "jsCode": "// Initialize ctx.event - all downstream nodes read from $json.ctx.event\nconst ctx = $json.ctx;\nconst dbResult = ctx.db?.event?.row;\nconst webhook = $('Build Reaction Event Query').first().json.webhook;\nconst parsed = $('Build Reaction Event Query').first().json.parsed;\n\nreturn [{\n  json: {\n    ctx: {\n      event: {\n        event_id: dbResult.id,\n        event_type: 'discord_reaction',\n        timestamp: webhook.timestamp,\n        timezone: dbResult.timezone || 'UTC',\n        guild_id: webhook.guild_id,\n        channel_id: webhook.channel_id,\n        message_id: webhook.message_id,\n        author_login: webhook.user?.login || webhook.user_id,\n        thread_id: webhook.thread_id || null,\n        emoji: parsed.emoji,\n        extraction_index: parsed.extraction_index,\n        action: webhook.action,\n        trace_chain: [dbResult.id],\n        trace_chain_pg: `{${dbResult.id}}`\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        352
      ],
      "id": "9377cd32-3d33-458d-9cb9-bca0ffb63490",
      "name": "Initialize Reaction Context"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "k8ALz60eG7kYqxK9",
          "mode": "list",
          "cachedResultUrl": "/workflow/k8ALz60eG7kYqxK9",
          "cachedResultName": "Route_Reaction"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "inputSource": "passthrough",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        352
      ],
      "id": "a03ea0a9-a9d2-4ce7-bb70-3a12397a5719",
      "name": "Route Reaction"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NMMQUQveF3aitpti",
          "mode": "list",
          "cachedResultUrl": "/workflow/NMMQUQveF3aitpti",
          "cachedResultName": "Route_Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "inputSource": "passthrough",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        160
      ],
      "id": "29f4a14c-4ba5-481b-9ac0-7d8200241a40",
      "name": "Route Message"
    },
    {
      "parameters": {
        "jsCode": "const json = $input.first().json;\nconst content = (json.body.content || \"\").trim();\nconst lowerContent = content.toLowerCase();\n\nconst TAG_TABLE = [\n  [\"!!\", \"act\"],\n  [\"..\", \"note\"],\n  [\"++\", \"chat\"],\n  [\"--\", \"save\"],\n  [\"::\", \"cmd\"],\n  [\"$$\", \"todo\", \"to-do\"]\n];\n\nlet tag = null;\nlet clean_text = content;\n\nfor (const row of TAG_TABLE) {\n  const normalized = row[0];\n  \n  const match = row.find(alias => {\n    const a = alias.toLowerCase();\n    \n    // Check if alias is strictly symbols (no letters or numbers)\n    const isSymbolOnly = !/[a-z0-9]/i.test(a);\n\n    if (isSymbolOnly) {\n      // Symbols match even if glued to text: \"!!task\"\n      return lowerContent.startsWith(a);\n    } else {\n      // Words require a space or exact match: \"act task\" or \"act\"\n      return lowerContent.startsWith(a + \" \") || lowerContent === a;\n    }\n  });\n\n  if (match) {\n    tag = normalized;\n    clean_text = content.slice(match.length).trim();\n    break;\n  }\n}\n\n// Classify event_type: Commands (::) and Save (--) are meta, others are narrative\nconst META_TAGS = [\"::\", \"--\"];\nconst event_type = META_TAGS.includes(tag) ? \"discord_command\" : \"discord_message\";\n\nreturn { ...json.body, tag, clean_text, event_type };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        160
      ],
      "id": "5f108e4e-41d7-4284-be7e-dcd784e855e6",
      "name": "Parse Message"
    }
  ],
  "connections": {
    "Discord Webhook Entry": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nudge Cron (Every 15 Min)": {
      "main": [
        [
          {
            "node": "Execute Generate_Nudge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Cron (Every 5 Min)": {
      "main": [
        [
          {
            "node": "Build Summary Config Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary Config Query": {
      "main": [
        [
          {
            "node": "Get Summary Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Summary Config": {
      "main": [
        [
          {
            "node": "Check Should Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Should Run Summary": {
      "main": [
        [
          {
            "node": "Execute Generate_Daily_Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reaction": {
      "main": [
        [
          {
            "node": "Build Reaction Event Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Build Message Event Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message Event Query": {
      "main": [
        [
          {
            "node": "Store Message Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Message Event": {
      "main": [
        [
          {
            "node": "Initialize Message Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reaction Event Query": {
      "main": [
        [
          {
            "node": "Store Reaction Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Reaction Event": {
      "main": [
        [
          {
            "node": "Initialize Reaction Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Message Context": {
      "main": [
        [
          {
            "node": "Route Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Reaction Context": {
      "main": [
        [
          {
            "node": "Route Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "JOXLqn9TTznBdo7Q"
  },
  "staticData": {
    "node:Nudge Cron (Every 15 Min)": {
      "recurrenceRules": []
    },
    "node:Summary Cron (Every 5 Min)": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "active": false
}