n8n-workflows/Route_Message.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -14800,
        7840
      ],
      "id": "bee1b1f4-9daf-4223-b771-2668d0b0b7aa",
      "name": "Receive Event"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.event.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.event.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.event.message_id }}",
        "emoji": "=🔵"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -14576,
        7744
      ],
      "id": "9075b4aa-5425-4927-a0b0-9dbd18741211",
      "name": "React with 🔵",
      "webhookId": "react-processing",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-tag",
              "leftValue": "={{ $json.event.tag }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -14352,
        8096
      ],
      "id": "b36be63d-0b4c-4ae4-85f8-8e577ca2182e",
      "name": "Has Tag?"
    },
    {
      "parameters": {
        "jsCode": "// Map tag shortcuts to semantic intent names\nconst tagToIntent = {\n  '!!': 'activity',\n  '..': 'note',\n  '++': 'chat',\n  '::': 'command',\n  '--': 'save',\n  '$$': 'todo'\n};\n\nconst event = $json.event;\nconst intent = tagToIntent[event.tag] || 'chat';\n\nreturn [{\n  json: {\n    event: {\n      ...event,\n      intent: intent\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13840,
        8000
      ],
      "id": "96c089f5-aac6-4c34-ab87-c7b292d7fdd7",
      "name": "Map Tag to Intent"
    },
    {
      "parameters": {
        "jsCode": "// Prepare deterministic trace data (Option E schema)\nconst event = $json.event;\n\nreturn [{\n  json: {\n    event_id: event.event_id,\n    input_text: event.clean_text,\n    input_tag: event.tag,\n    result_intent: event.intent,\n    event: event\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13552,
        8000
      ],
      "id": "b09e55dc-0876-459a-b8d5-2db5c62209e9",
      "name": "Prepare Deterministic Trace"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO traces (event_id, step_name, step_order, data, trace_chain)\nVALUES (\n  $1::uuid,\n  'intent_classification',\n  1,\n  jsonb_build_object(\n    'input', jsonb_build_object(\n      'text', $2,\n      'tag', $3\n    ),\n    'prompt', NULL,\n    'completion', NULL,\n    'result', jsonb_build_object(\n      'intent', $4,\n      'confidence', 1.0,\n      'method', 'tag_shortcut'\n    ),\n    'model', NULL,\n    'duration_ms', 0\n  ),\n  $5::uuid[]\n)\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.event_id }},={{ $json.input_text }},={{ $json.input_tag }},={{ $json.result_intent }}, {{ $json.event.trace_stack }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -13328,
        7904
      ],
      "id": "6a5616d5-a5aa-42a9-a39b-a45794b1f77b",
      "name": "Write Deterministic Trace",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pass-event",
              "name": "event",
              "value": "={{ {\n...$json.event,\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -13328,
        8096
      ],
      "id": "9463cb0d-b26f-4de7-a409-93597268f951",
      "name": "Pass Event (Tagged)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "in-thread",
              "leftValue": "={{ $json.event.thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -14576,
        7936
      ],
      "id": "6111b988-3cc8-4b95-b3f4-bcb4c70bc6c1",
      "name": "In Thread?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "start-time",
              "name": "inference_start",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "pass-event",
              "name": "event",
              "value": "={{ $json.event }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14128,
        8480
      ],
      "id": "a240ad25-d0d3-4145-8f71-4208f114950d",
      "name": "Set Inference Start"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -13904,
        8704
      ],
      "id": "b3830af9-38ca-4823-aeaf-3f69f9fbcbbb",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -13776,
        8704
      ],
      "id": "62c5b00c-5d5f-4d92-b310-20d781489559",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_CHANNEL_KAIRON_LOGS }}",
          "mode": "id"
        },
        "content": "=**[Intent Classification]**\n**Message:** {{ $('Set Inference Start').item.json.event.clean_text }}\n**Scores:** [ {{ Object.entries($json.result_all_scores || {}).sort((a, b) => b[1] - a[1]).map(([intent, score]) => `${intent}:${score}%`).join(' | ') }} ]",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -13328,
        8288
      ],
      "id": "a8a05c84-8e30-4c11-a2a1-5a0bc90c204f",
      "name": "Log to #kairon-logs",
      "webhookId": "log-classification",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM classification scores and map to semantic intents (Option E schema)\nconst llmText = $('Intent Classifier').item.json.text;\nconst event = $('Set Inference Start').item.json.event;\nconst inferenceStart = $('Set Inference Start').item.json.inference_start;\nconst durationMs = Date.now() - inferenceStart;\n\n// Tag to semantic intent mapping\nconst tagToIntent = {\n  '!!': 'activity',\n  '..': 'note',\n  '++': 'chat',\n  '::': 'command',\n  '--': 'save',\n  '$$': 'todo'\n};\n\n// Parse scores\nconst tagScores = {};\nconst intentScores = {};\nif (llmText && llmText.includes('|')) {\n  const lines = llmText.split('\\n').filter(line => line.includes('|'));\n  lines.forEach(line => {\n    const [tag, scoreStr] = line.split('|').map(s => s.trim());\n    const score = parseInt(scoreStr);\n    if (!isNaN(score)) {\n      tagScores[tag] = score;\n      const intent = tagToIntent[tag] || tag;\n      intentScores[intent] = score;\n    }\n  });\n}\n\n// Find top tag\nlet topTag = '..';\nlet topScore = 0;\nfor (const [tag, score] of Object.entries(tagScores)) {\n  if (score > topScore) {\n    topScore = score;\n    topTag = tag;\n  }\n}\n\n// Map to semantic intent\nconst intent = tagToIntent[topTag] || 'note';\nconst confidence = topScore / 100;\n\n// Get full prompt text\nconst promptText = `You are an intent classifier for a life-tracking system.\n\nAssign probability scores (0-100) to each intent. Scores must add up to exactly 100.\n\n# Intents\n\n!! → Logging an activity  \nDescribes what **I am personally doing right now** or **just did** (present/recent past tense from first-person perspective).  \nStrong indicators: \"I am\", \"I'm\", \"-ing verbs\" describing my action, \"just [did something]\".\n\n.. → Jotting a note  \nObservations, realizations, facts, ideas, or reflections **not tied to a current action**.  \nStrong indicators: statements about others/things (\"X is Y\", \"A can B\"), general observations, future ideas.\n\n++ → Starting conversation / seeking response  \nExplicit questions or requests for help/advice.  \nStrong indicators: \"?\", \"why\", \"how\", \"should I\", \"what if\".\n\n# Key Distinction\n\n**Activity vs Note - The Person Test:**\n- About ME doing something NOW → !!\n- About ANYTHING ELSE (people, tools, ideas, observations) → ..\n\n# Output EXACTLY these three lines, nothing else:\n!!|X\n..|Y\n++|Z\n\n(X+Y+Z=100, integers only)\n\n# Message to classify:\n${event.clean_text}`;\n\nreturn [{\n  json: {\n    event_id: event.event_id,\n    input_text: event.clean_text,\n    prompt_text: promptText,\n    completion_text: llmText,\n    result_intent: intent,\n    result_confidence: confidence,\n    result_all_scores: intentScores,\n    duration_ms: durationMs,\n    event: {\n      ...event,\n      intent: intent\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13552,
        8480
      ],
      "id": "a86cd2b6-7414-475d-af6c-6860187e6a4b",
      "name": "Prepare Trace Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO traces (\n    event_id, \n    step_name, \n    step_order, \n    data, \n    trace_chain\n)\nVALUES (\n    $1::uuid,\n    'intent_classification',\n    1,\n    jsonb_build_object(\n        'input', jsonb_build_object(\n            'text', $2\n        ),\n        'prompt', $3,\n        'completion', $4,\n        'result', jsonb_build_object(\n            'intent', $5,\n            'confidence', $6::numeric,\n            'all_scores', $7::jsonb\n        ),\n        'model', 'xiaomi/mimo-v2-flash:free',\n        'duration_ms', $8::integer\n    ),\n    $9::uuid[]\n)\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.event_id }},={{ $json.input_text }},={{ $json.prompt_text }},={{ $json.completion_text }},={{ $json.result_intent }},={{ $json.result_confidence }},={{ JSON.stringify($json.result_all_scores) }},={{ $json.duration_ms }}, {{ $json.event.trace_chain }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -13328,
        8480
      ],
      "id": "8814244c-b09e-48f3-9dba-b5f2137f4810",
      "name": "Write Intent Classification Trace",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "add-intent-to-event",
              "name": "event",
              "value": "={{ Object.assign({}, $(\"Prepare Trace Data\").item.json.event, { trace_chain: [...$(\"Prepare Trace Data\").item.json.event.trace_chain, $(\"Write Intent Classification Trace\").item.json.id] }) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -13328,
        8672
      ],
      "id": "1698ab04-d938-47de-9ccd-71723431df20",
      "name": "Add Intent to Event"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "intent-activity",
                    "leftValue": "={{ $json.event.intent }}",
                    "rightValue": "activity",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "activity"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "intent-note",
                    "leftValue": "={{ $json.event.intent }}",
                    "rightValue": "note",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "note"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "intent-chat",
                    "leftValue": "={{ $json.event.intent }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "intent-command",
                    "leftValue": "={{ $json.event.intent }}",
                    "rightValue": "command",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "intent-todo",
                    "leftValue": "={{ $json.event.intent }}",
                    "rightValue": "todo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "todo"
            }
          ]
        },
        "options": {}
      },
      "id": "e992df1e-b97b-4c6f-abff-cc3712a0fe75",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -13104,
        8240
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7Qq2qMUBmnyAhLxg",
          "mode": "list",
          "cachedResultUrl": "/workflow/7Qq2qMUBmnyAhLxg",
          "cachedResultName": "Note_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -12880,
        8192
      ],
      "id": "ca87a559-01e0-47a7-91fc-a02804ab0669",
      "name": "Save Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nsLfmVGA6NeCJJRu",
          "mode": "list",
          "cachedResultUrl": "/workflow/nsLfmVGA6NeCJJRu",
          "cachedResultName": "Thread_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -12880,
        8384
      ],
      "id": "5a96e04d-22e2-437e-aa8a-17e7fbfb6fc8",
      "name": "Start Chat"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "v6t7HCxr2OOXvb2z",
          "mode": "list",
          "cachedResultUrl": "/workflow/v6t7HCxr2OOXvb2z",
          "cachedResultName": "Command_Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -12880,
        8576
      ],
      "id": "0b4611eb-53d5-4cac-9a9e-6a5ae95ebfba",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://discord.com/api/v10/channels/{{ $('Receive Event').item.json.event.channel_id }}/messages/{{ $('Receive Event').item.json.event.message_id }}/reactions/🔵/@me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -12656,
        8384
      ],
      "id": "706a6543-d603-4bd2-9660-2ef670578115",
      "name": "Remove 🔵 Reaction",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "e78T3OMl6pDxTb13",
          "mode": "list",
          "cachedResultUrl": "/workflow/e78T3OMl6pDxTb13",
          "cachedResultName": "Continue_Chat"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -14128,
        7856
      ],
      "id": "5e19d6d5-78fc-4a26-81fe-915483989449",
      "name": "Continue Chat"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZQCULmYAVMN7I6ww",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZQCULmYAVMN7I6ww",
          "cachedResultName": "Save_Activity"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -12880,
        8000
      ],
      "id": "f814b6cc-d011-4cc7-8057-f95e536a123f",
      "name": "Save Activity"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "E4pamfDCwW3ZxHzH",
          "mode": "list",
          "cachedResultUrl": "/workflow/E4pamfDCwW3ZxHzH",
          "cachedResultName": "Save_Chat"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.event }}"
          },
          "matchingColumns": [
            "event"
          ],
          "schema": [
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -14128,
        7664
      ],
      "id": "13360fe2-262b-4b4a-a3ff-155a6f759e33",
      "name": "Save Chat"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intent classifier for a life-tracking system.\n\nAssign probability scores (0-100) to each intent. Scores must add up to exactly 100.\n\n# Intents\n\n!! → Logging an activity  \nDescribes what **I am personally doing right now** or **just did** (present/recent past tense from first-person perspective).  \nStrong indicators: \"I am\", \"I'm\", \"-ing verbs\" describing my action, \"just [did something]\".\n\n.. → Jotting a note  \nObservations, realizations, facts, ideas, or reflections **not tied to a current action**.  \nStrong indicators: statements about others/things (\"X is Y\", \"A can B\"), general observations, future ideas.\n\n++ → Starting conversation / seeking response  \nExplicit questions or requests for help/advice.  \nStrong indicators: \"?\", \"why\", \"how\", \"should I\", \"what if\".\n\n# Key Distinction\n\n**Activity vs Note - The Person Test:**\n- About ME doing something NOW → !!\n- About ANYTHING ELSE (people, tools, ideas, observations) → ..\n\n# Output EXACTLY these three lines, nothing else:\n!!|X\n..|Y\n++|Z\n\n(X+Y+Z=100, integers only)\n\n# Message to classify:\n{{ $('Set Inference Start').item.json.event.clean_text }}",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -13904,
        8480
      ],
      "id": "f816cae4-a7f5-4f12-bf1c-54099451c688",
      "name": "Intent Classifier"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0ceb9e91-e374-4346-8706-97df7d95cfe6",
              "leftValue": "={{ $json.event.tag }}",
              "rightValue": "--",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -14352,
        7760
      ],
      "id": "fa84d6b8-d9d5-4d48-be19-200fe0f65eb4",
      "name": "Tag is --"
    }
  ],
  "connections": {
    "Receive Event": {
      "main": [
        [
          {
            "node": "React with 🔵",
            "type": "main",
            "index": 0
          },
          {
            "node": "In Thread?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tag?": {
      "main": [
        [
          {
            "node": "Map Tag to Intent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Inference Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Tag to Intent": {
      "main": [
        [
          {
            "node": "Prepare Deterministic Trace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Deterministic Trace": {
      "main": [
        [
          {
            "node": "Write Deterministic Trace",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pass Event (Tagged)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Event (Tagged)": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "In Thread?": {
      "main": [
        [
          {
            "node": "Tag is --",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Tag?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inference Start": {
      "main": [
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Trace Data": {
      "main": [
        [
          {
            "node": "Write Intent Classification Trace",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Intent to Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to #kairon-logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Intent to Event": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Save Activity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Note": {
      "main": [
        [
          {
            "node": "Remove 🔵 Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Chat": {
      "main": [
        [
          {
            "node": "Remove 🔵 Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Remove 🔵 Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Activity": {
      "main": [
        [
          {
            "node": "Remove 🔵 Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Prepare Trace Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag is --": {
      "main": [
        [
          {
            "node": "Save Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Receive Event": [
      {
        "event": {
          "event_id": "0af166dd-ad89-47d4-b85c-c5d2081a9169",
          "event_type": "discord_message",
          "guild_id": "754207117157859388",
          "channel_id": "1450406231146496132",
          "message_id": "1451527876351365212",
          "author_login": "chr15",
          "thread_id": null,
          "message_url": "https://discord.com/channels/754207117157859388/1450406231146496132/1451527876351365212",
          "raw_text": ".. claude sonnet degraded hard over this coding session. maybe i need a better harness? probably just need to start a new chat and refresh context window",
          "clean_text": "claude sonnet degraded hard over this coding session. maybe i need a better harness? probably just need to start a new chat and refresh context window",
          "tag": "..",
          "trace_stack": [
            "0af166dd-ad89-47d4-b85c-c5d2081a9169"
          ]
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
