n8n-workflows/Route_Reaction.json
{
  "name": "Route_Reaction",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -380,
        480
      ],
      "id": "trigger-node",
      "name": "ReceiveEvent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-add-reaction",
              "leftValue": "={{ $json.ctx.event.action }}",
              "rightValue": "add",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -160,
        480
      ],
      "id": "check-action",
      "name": "IsAddReaction?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM config WHERE key = 'emoji_mapping';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        60,
        480
      ],
      "id": "get-emoji-config",
      "name": "GetEmojiConfig",
      "credentials": {
        "postgres": {
          "id": "p2SIY25QglSNcDnj"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Determine route based on emoji_mapping config\nconst ctx = $('ReceiveEvent').first().json.ctx;\nconst emoji = ctx.event.emoji;\n\n// Parse config - Postgres returns JSON as string\nconst rawValue = $json.value;\nconst config = typeof rawValue === 'string' ? JSON.parse(rawValue) : (rawValue || {});\n\n// Extraction emojis (number selections + dismiss)\n// These are hardcoded because they're tied to display order logic\nconst extractionEmojis = ['1\ufe0f\u20e3', '2\ufe0f\u20e3', '3\ufe0f\u20e3', '4\ufe0f\u20e3', '5\ufe0f\u20e3', '6\ufe0f\u20e3', '7\ufe0f\u20e3', '8\ufe0f\u20e3', '9\ufe0f\u20e3', '\ud83d\udd1f', '\u274c'];\n\n// Info emojis (show details about the projection)\n// \u2754 = simple view (just projections)\n// \u2753 = detailed view (full prompts, timing)\nconst infoEmojis = ['\u2753', '\u2754'];\n\n// Quality rating emojis (rate projection quality)\nconst qualityEmojis = ['\ud83d\udc4d', '\ud83d\udc4e'];\n\n// Get correction emojis from config (type corrections + void)\nconst corrections = config.corrections || [];\n\n// Get todo status emojis from config\nconst statusEmojis = Object.keys(config.status || {});\n\n// Determine route\nlet route = 'unknown';\n\nif (extractionEmojis.includes(emoji)) {\n  route = 'extraction';\n} else if (infoEmojis.includes(emoji)) {\n  route = 'info';\n} else if (qualityEmojis.includes(emoji)) {\n  route = 'quality';\n} else if (corrections.includes(emoji)) {\n  route = 'correction';\n} else if (statusEmojis.includes(emoji)) {\n  route = 'todo_status';\n}\n\nreturn {\n  ctx,\n  route,\n  emoji,\n  config\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        480
      ],
      "id": "determine-route",
      "name": "DetermineRoute"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "is-extraction",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "extraction",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Extraction"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "is-info",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "info",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Info"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "is-quality",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "quality",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Quality"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "is-correction",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "correction",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Correction"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "is-todo-status",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "todo_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Todo Status"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        500,
        480
      ],
      "id": "route-by-emoji",
      "name": "RouteByEmoji"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Save_Extraction"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        320
      ],
      "id": "save-extraction",
      "name": "SaveExtraction"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Handle_Correction"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        480
      ],
      "id": "handle-correction",
      "name": "HandleCorrection"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Handle_Todo_Status"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        640
      ],
      "id": "handle-todo-status",
      "name": "HandleTodoStatus"
    },
    {
      "parameters": {
        "errorMessage": "=Unknown reaction emoji: {{ $json.emoji }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        720,
        1040
      ],
      "id": "unknown-emoji-error",
      "name": "UnknownEmojiError"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Show_Projection_Details"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        800
      ],
      "id": "show-projection-details",
      "name": "ShowProjectionDetails"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Handle_Quality_Rating"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        880
      ],
      "id": "handle-quality-rating",
      "name": "HandleQualityRating"
    }
  ],
  "connections": {
    "ReceiveEvent": {
      "main": [
        [
          {
            "node": "IsAddReaction?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsAddReaction?": {
      "main": [
        [
          {
            "node": "GetEmojiConfig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetEmojiConfig": {
      "main": [
        [
          {
            "node": "DetermineRoute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DetermineRoute": {
      "main": [
        [
          {
            "node": "RouteByEmoji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RouteByEmoji": {
      "main": [
        [
          {
            "node": "SaveExtraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ShowProjectionDetails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HandleQualityRating",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HandleCorrection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HandleTodoStatus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UnknownEmojiError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "JOXLqn9TTznBdo7Q"
  },
  "staticData": null,
  "meta": null,
  "active": false
}
