n8n-workflows/Save_Activity.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "event",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3152,
        -240
      ],
      "id": "2b835dbd-8ff9-4a80-9273-3735523db47e",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "const event = $json.event;\n\nreturn [{\n  json: {\n    clean_text: event.clean_text,\n    ...event\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2928,
        -240
      ],
      "id": "d3c675eb-dd62-4766-a1f4-8ad4c4862d8f",
      "name": "Prepare LLM Context"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "start-time",
              "name": "inference_start",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "pass-event",
              "name": "event",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2704,
        -240
      ],
      "id": "36d25de9-dc4a-42c1-9406-0361012b78e0",
      "name": "Set Inference Start"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an activity classifier for a life-tracking system.\n\nAssign probability scores (0-100) to each category. Scores must add up to exactly 100.\n\n## Categories\n\nwork → Productive, focused effort on projects, coding, building, debugging, refining systems, testing, or task-oriented development.\nleisure → Relaxed, non-productive enjoyment: scrolling, watching videos, browsing, casual reading, coffee breaks.\nstudy → Intentional learning or skill-building not directly tied to immediate project work.\nhealth → Physical or mental self-care: exercise, eating meals, hygiene, mindfulness.\nsleep → Going to bed, waking up, napping, or sleep transitions.\nrelationships → Social interaction: chatting with friends/family/partners, or personal/social AI conversations.\nadmin → Organizational/maintenance tasks: planning schedules, managing todos, fixing tools/setup, meta work on tracking system.\n\n## Key Guidelines\n- Heavily favor the most dominant theme.\n- Sleep-related messages → give sleep the highest score.\n- Project-related AI chats → work.\n- Eating/drinking → health (split with leisure if combined).\n- Meta work on tracking system → admin (or work if core building).\n- Omit any category with score ≤5 (treat as 0).\n\nOutput ONLY lines for categories with score >5, in any order:\ncategory_name|X\n\n(Printed scores must sum to exactly 100, integers only)\n\n## Examples\nworking on the router agent implementation\nwork|98\nadmin|2\n\nsipping coffee while scrolling social media\nleisure|88\nhealth|12\n\nresearching common data structures for fun\nstudy|82\nwork|18\n\nsolving leetcode puzzles to improve skills\nstudy|90\nleisure|10\n\nwatching history videos about ancient Rome\nleisure|83\nstudy|17\n\ngoing to bed after a long day\nsleep|93\nhealth|7\n\njust woke up and getting coffee\nsleep|70\nhealth|22\nleisure|8\n\nchatting with a friend about weekend plans\nrelationships|87\nleisure|13\n\nhaving lunch\nhealth|92\nleisure|8\n\nrefining the intent classifier prompt\nwork|88\nadmin|12\n\norganizing my todo list and reviewing logs\nadmin|88\nwork|12\n\n## User Message\n{{ $json.clean_text }}",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -2480,
        -240
      ],
      "id": "5fbaa2ab-6462-4ec4-b2b8-9e7b8eff3d10",
      "name": "Activity Classifier"
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM output in pipe format: \"category|score\"\nlet text = $input.first().json.text.trim();\n\nconst event = $('Set Inference Start').first().json.event;\nconst inferenceStart = $('Set Inference Start').first().json.inference_start;\nconst durationMs = Date.now() - inferenceStart;\n\n// Build prompt text for trace logging\nconst promptText = `You are an activity classifier for a life-tracking system.\n\nAssign probability scores (0-100) to each category. Scores must add up to exactly 100.\n\n## Categories\n\nwork → Productive, focused effort on projects, coding, building, debugging, refining systems, testing, or task-oriented development.\nleisure → Relaxed, non-productive enjoyment: scrolling, watching videos, browsing, casual reading, coffee breaks.\nstudy → Intentional learning or skill-building not directly tied to immediate project work.\nhealth → Physical or mental self-care: exercise, eating meals, hygiene, mindfulness.\nsleep → Going to bed, waking up, napping, or sleep transitions.\nrelationships → Social interaction: chatting with friends/family/partners, or personal/social AI conversations.\nadmin → Organizational/maintenance tasks: planning schedules, managing todos, fixing tools/setup, meta work on tracking system.\n\n## Input\n${event.clean_text}`;\n\n// Format trace_chain for PostgreSQL uuid[] type\nconst traceChain = event.trace_chain || [];\nconst traceChainPg = '{' + traceChain.join(',') + '}';\n\ntry {\n  const lines = text.split('\\n').filter(line => line.includes('|'));\n  const scores = {};\n  let topCategory = null;\n  let topScore = 0;\n  \n  lines.forEach(line => {\n    const [category, scoreStr] = line.split('|').map(s => s.trim());\n    const score = parseInt(scoreStr);\n    \n    if (!isNaN(score)) {\n      scores[category] = score;\n      \n      if (score > topScore) {\n        topScore = score;\n        topCategory = category;\n      }\n    }\n  });\n  \n  if (!topCategory) {\n    throw new Error('No valid categories found in LLM response');\n  }\n  \n  return [{\n    json: {\n      input_text: event.clean_text,\n      prompt_text: promptText,\n      completion_text: text,\n      result_category: topCategory,\n      result_confidence: topScore / 100,\n      result_all_scores: scores,\n      duration_ms: durationMs,\n      category: topCategory,\n      confidence: topScore / 100,\n      all_scores: scores,\n      description: event.clean_text,\n      trace_chain_pg: traceChainPg,\n      trace_chain_pg: traceChainPg,\n      ...event\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      input_text: event.clean_text,\n      prompt_text: promptText,\n      result_category: \"admin\",\n      result_confidence: 0.5,\n      result_all_scores: {},\n      duration_ms: durationMs,\n      category: \"admin\",\n      parse_error: error.message,\n      trace_chain_pg: traceChainPg,\n      trace_chain_pg: traceChainPg,\n      ...event\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        -240
      ],
      "id": "b4021dd4-0b5e-4155-a473-d824ec2b70f4",
      "name": "Parse LLM Response"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Parse LLM Response').item.json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_CHANNEL_KAIRON_LOGS }}",
          "mode": "id"
        },
        "content": "=**[Activity Classification]**\n**Message:** {{ $json.clean_text }}\n**Category:** {{ $json.category }}\n**Confidence:** [ {{ Object.entries($json.all_scores || {}).sort((a, b) => b[1] - a[1]).map(([cat, score]) => `${cat}:${score}%`).join(' | ') }} ]",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1904,
        -336
      ],
      "id": "7ba92e2f-ff30-47b9-bd76-349c272f14ce",
      "name": "Log to Kairon Logs",
      "webhookId": "bd9abd19-64d4-4da4-8578-07aa4dedadbf",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH new_trace AS (\n  INSERT INTO traces (event_id, step_name, step_order, data, trace_chain)\n  VALUES (\n    $1::uuid,\n    'activity_extraction',\n    2,\n    jsonb_build_object(\n      'input', jsonb_build_object(\n        'text', $2\n      ),\n      'prompt', $3,\n      'completion', $4,\n      'result', jsonb_build_object(\n        'category', $5,\n        'confidence', $6::numeric,\n        'all_scores', $7::jsonb\n      ),\n      'model', 'xiaomi/mimo-v2-flash:free',\n      'duration_ms', $8::integer\n    ),\n    $9::uuid[]\n  )\n  RETURNING id, event_id\n)\nINSERT INTO projections (\n  trace_id,\n  event_id,\n  trace_chain,\n  projection_type,\n  data,\n  status\n)\nSELECT\n  new_trace.id,\n  new_trace.event_id,\n  $9::uuid[] || new_trace.id,\n  'activity',\n  jsonb_build_object(\n    'timestamp', NOW(),\n    'category', $5,\n    'description', $2,\n    'confidence', $6::numeric,\n    'all_scores', $7::jsonb\n  ),\n  'auto_confirmed'\nFROM new_trace\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.event_id }},={{ $json.input_text }},={{ $json.prompt_text }},={{ $json.completion_text }},={{ $json.result_category }},={{ $json.result_confidence }},={{ JSON.stringify($json.result_all_scores) }},={{ $json.duration_ms }},={{ $json.trace_chain_pg }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1904,
        -144
      ],
      "id": "1f7d0c94-b97a-4806-8f0b-c6e8d87b3c7c",
      "name": "Store Activity",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2344,
        -16
      ],
      "id": "dcf6cbaf-9936-44ba-b29a-4c2a77f84a47",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2472,
        -16
      ],
      "id": "2c93d3fe-9db6-497b-8609-a47894a938f1",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Parse LLM Response').item.json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Parse LLM Response').item.json.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $('Parse LLM Response').item.json.message_id }}",
        "emoji": "=🔘"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1680,
        -144
      ],
      "id": "10c1a424-1a1e-493d-8460-e21a640e2f90",
      "name": "React with 🔘",
      "webhookId": "7d6473eb-7f05-4fc7-ba61-8a8ae16deae0",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare LLM Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Context": {
      "main": [
        [
          {
            "node": "Set Inference Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inference Start": {
      "main": [
        [
          {
            "node": "Activity Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activity Classifier": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Log to Kairon Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Activity": {
      "main": [
        [
          {
            "node": "React with 🔘",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Activity Classifier",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Activity Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
