n8n-workflows/Save_Extraction.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1424,
        240
      ],
      "id": "8738e931-4223-4b8e-a817-482fc3c0a1d1",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Parse emoji to determine action type and extract snippet\nconst event = $input.first().json;\nconst emoji = event.emoji;\nconst messageContent = event.message_content || '';\n\n// Number emoji map\nconst emojiMap = {\n  '1️⃣': 1, '2️⃣': 2, '3️⃣': 3, '4️⃣': 4, '5️⃣': 5,\n  '6️⃣': 6, '7️⃣': 7, '8️⃣': 8, '9️⃣': 9, '🔟': 10\n};\n\nconst displayOrder = emojiMap[emoji];\n\nlet actionType = 'unknown';\nlet extractedSnippet = null;\n\nif (displayOrder) {\n  actionType = 'save_item';\n  \n  // Extract the snippet using regex\n  // Pattern: number emoji followed by text until next emoji or end\n  const snippetRegex = new RegExp(`${emoji}\\\\s*([^\\\\n🔟1️⃣2️⃣3️⃣4️⃣5️⃣6️⃣7️⃣8️⃣9️⃣]+)`, 's');\n  const match = messageContent.match(snippetRegex);\n  \n  if (match && match[1]) {\n    extractedSnippet = match[1].trim();\n  }\n} else if (emoji === '❌') {\n  actionType = 'dismiss';\n} else if (emoji === '🗑️') {\n  actionType = 'delete_thread';\n}\n\nreturn [{\n  json: {\n    ...event,\n    action_type: actionType,\n    display_order: displayOrder,\n    extracted_snippet: extractedSnippet\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        240
      ],
      "id": "260b937a-5f4a-4f4f-a0dd-ab009fa09d52",
      "name": "Parse Emoji Type"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM thread_extractions WHERE summary_message_id = $1 AND display_order = $2 AND saved_as IS NULL LIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.message_id }},={{ $json.display_order }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -752,
        48
      ],
      "id": "45913f0d-c621-49de-97b3-f5d3323a6aeb",
      "name": "Get Extraction Item",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n  INSERT INTO notes (timestamp, category, text, metadata)\n  VALUES (NOW(), $1::note_category, $2, jsonb_build_object('from_thread', true, 'conversation_id', $3::uuid))\n  RETURNING id\n)\nUPDATE thread_extractions \nSET saved_as = 'note', saved_id = (SELECT id FROM inserted)\nWHERE id = $4::uuid\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.item_type }},={{ $json.text }},={{ $json.conversation_id }},={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -80,
        -48
      ],
      "id": "bdee1699-a0c6-47d9-bb25-481d97a9439e",
      "name": "Save as Note",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n  INSERT INTO todos (description, status, metadata)\n  VALUES ($1, 'pending', jsonb_build_object('from_thread', true, 'conversation_id', $2::uuid))\n  RETURNING id\n)\nUPDATE thread_extractions \nSET saved_as = 'todo', saved_id = (SELECT id FROM inserted)\nWHERE id = $3::uuid\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.text }},={{ $json.conversation_id }},={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -80,
        144
      ],
      "id": "3f914f53-4e69-4e2d-a0ee-b99d3f1ef69f",
      "name": "Save as Todo",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        144,
        48
      ],
      "id": "89da6273-0291-4122-b13c-97652fbc111c",
      "name": "Merge Saved Results"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://discord.com/api/v10/channels/{{ $('Parse Emoji Type').item.json.channel_id }}/messages/{{ $('Parse Emoji Type').item.json.message_id }}/reactions/{{ encodeURIComponent($('Parse Emoji Type').item.json.emoji) }}/@me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        48
      ],
      "id": "e4e7ffb6-e6b9-4d95-8af3-9d5db763cb48",
      "name": "Remove Number Emoji",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as unsaved FROM thread_extractions WHERE summary_message_id = $1 AND saved_as IS NULL HAVING COUNT(*) = 0;",
        "options": {
          "queryReplacement": "={{ $('Parse Emoji Type').item.json.message_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        592,
        48
      ],
      "id": "b9a3ce2d-4ee4-40a1-a99b-5b2b5cf7da42",
      "name": "Check Unsaved Count",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://discord.com/api/v10/channels/{{ $('Parse Emoji Type').item.json.channel_id }}/messages/{{ $('Parse Emoji Type').item.json.message_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"content\": \"✅ All items saved!\\n\\n🗑️ Delete thread • ❌ Dismiss\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        48
      ],
      "id": "4e77a8a0-e6aa-40b6-836e-10222a6f6e01",
      "name": "Update Summary (All Saved)",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://discord.com/api/v10/channels/{{ $json.channel_id }}/messages/{{ $json.message_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -688,
        240
      ],
      "id": "cedd0f4b-753e-4420-bffa-3c15bc5e9ed3",
      "name": "Delete Summary (Dismiss)",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT conversation_id, thread_id FROM thread_extractions te JOIN conversations c ON te.conversation_id = c.id WHERE te.summary_message_id = $1 LIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.message_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -752,
        432
      ],
      "id": "0061efdf-4894-47d5-8794-1d3202547ea6",
      "name": "Get Thread Info",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://discord.com/api/v10/channels/{{ $json.thread_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        432
      ],
      "id": "74cb7c01-0a7c-4d7b-b9aa-51df79adac21",
      "name": "Delete Discord Thread",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversations SET status = 'deleted' WHERE id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $('Get Thread Info').item.json.conversation_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -304,
        432
      ],
      "id": "37447d57-913e-494d-9677-98aaa06bd53d",
      "name": "Update Conversation Status",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://discord.com/api/v10/channels/{{ $('Parse Emoji Type').item.json.channel_id }}/messages/{{ $('Parse Emoji Type').item.json.message_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        432
      ],
      "id": "60133715-8c7a-4cfb-b059-ab30bfba5c05",
      "name": "Delete Summary Message",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.item_type }}",
                    "rightValue": "note",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2973db3b-7c6d-4543-b901-0a5519bc1429"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Note"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "48f9c855-7fc2-4d7f-a3f9-05dccd862205",
                    "leftValue": "={{ $json.item_type }}",
                    "rightValue": "todo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Todo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -352,
        48
      ],
      "id": "3cce1bf6-5212-419c-980c-0a13e90410d6",
      "name": "Save As"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "save_item",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "54e06574-e0c8-4af0-a9eb-087988e52cbe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Save"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f6c15010-c1d3-4a8c-89eb-46ef5a2eb3a6",
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "dismiss",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Delete Summary"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2f9ef712-182c-40b7-b550-b66951bdecd2",
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "delete_thread",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Delete Thread"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -976,
        224
      ],
      "id": "200efdee-076f-40fd-acb7-f6c91e6e81d4",
      "name": "What Action"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse Emoji Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Emoji Type": {
      "main": [
        [
          {
            "node": "What Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Extraction Item": {
      "main": [
        [
          {
            "node": "Save As",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save as Note": {
      "main": [
        [
          {
            "node": "Merge Saved Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save as Todo": {
      "main": [
        [
          {
            "node": "Merge Saved Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Saved Results": {
      "main": [
        [
          {
            "node": "Remove Number Emoji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Number Emoji": {
      "main": [
        [
          {
            "node": "Check Unsaved Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Unsaved Count": {
      "main": [
        [
          {
            "node": "Update Summary (All Saved)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Thread Info": {
      "main": [
        [
          {
            "node": "Delete Discord Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Discord Thread": {
      "main": [
        [
          {
            "node": "Update Conversation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation Status": {
      "main": [
        [
          {
            "node": "Delete Summary Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save As": {
      "main": [
        [
          {
            "node": "Save as Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save as Todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "What Action": {
      "main": [
        [
          {
            "node": "Get Extraction Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Summary (Dismiss)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Thread Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
