n8n-workflows/Save_Chat.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "event",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2096,
        448
      ],
      "id": "eab3a9d4-6d3a-4560-8e60-612e6f5c9df3",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM conversations WHERE thread_id = $1;",
        "options": {
          "queryReplacement": "={{ $('Execute Workflow Trigger').item.json.event.thread_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1872,
        544
      ],
      "id": "84595fd7-74f7-468c-992a-388d9bcb1cb0",
      "name": "Get Conversation ID",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  role,\n  text,\n  timestamp\nFROM conversation_messages\nWHERE conversation_id = $1::uuid\nORDER BY timestamp DESC;",
        "options": {
          "queryReplacement": "={{ $('Get Conversation ID').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1648,
        544
      ],
      "id": "837680d8-e710-4699-ae2d-9e1c5fc045c0",
      "name": "Get Thread History",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get conversation ID\nconst conversationId = $('Get Conversation ID').first().json.id;\n\n// Get all thread messages\nconst messages = $input.all().toReversed();\n// Format thread history for LLM\nconst threadHistory = messages.map(msg => {\n  return `${msg.json.role.toUpperCase()}: ${msg.json.text}`;\n}).join('\\n');\n\n// Get original event\nconst event = $('Execute Workflow Trigger').first().json.event;\n\nreturn [{\n  json: {\n    ...event,\n    conversation_id: conversationId,\n    thread_history: threadHistory,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        544
      ],
      "id": "eb096fdc-babc-49e4-9213-36f22ae98b6e",
      "name": "Prepare Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are analyzing a conversation thread to extract key insights and actionable items.\n\n## Thread History\n{{ $json.thread_history }}\n\n## Task\nExtract and classify the most important items from the thread into **exactly one** category each:\n\n**reflection** - Internal knowledge about the user (personal insights, patterns, preferences, decisions, or commitments)  \n**fact** - External knowledge about the world, people, events, or things (objective information not tied to the user's internal state)  \n**todo** - Concrete, actionable tasks or next steps (specific and doable)\n\n## Few-Shot Examples\n\n**Example Thread 1:**\n\"I realized I get my best work done in the mornings right after coffee. My mom\u2019s birthday is coming up on June 12th, I need to get her a gift. John told me he really likes dark roast with no sugar. I've decided to stop scheduling meetings before noon. Also, I should probably block out 2-hour chunks for deep work. Sarah mentioned she's allergic to peanuts.\"\n\n**Good Extraction:**\nreflection|I get my best work done in the mornings right after coffee\nreflection|I've decided to stop scheduling meetings before noon\ntodo|Get mom a gift for her June 12th birthday\ntodo|Block out 2-hour chunks for deep work\nfact|Mom\u2019s birthday is June 12th\nfact|John really likes dark roast with no sugar\nfact|Sarah is allergic to peanuts\n\n**Example Thread 2:**\n\"Maybe I should try walking more, it might help with focus. Dad prefers calls in the evening. I'm going to switch to async updates for the team. Don't forget to send the report by Friday. The office WiFi password is 'guest123'. I tend to lose steam after lunch if I eat carbs.\"\n\n**Good Extraction:**\nreflection|I'm going to switch to async updates for the team\nreflection|I tend to lose steam after lunch if I eat carbs\ntodo|Send the report by Friday\nfact|Dad prefers calls in the evening\nfact|The office WiFi password is 'guest123'\nreflection|Walking more might help with focus\n\n**Example Thread 3:**\n\"I feel drained after back-to-back calls. I should probably book a vacation soon. The team lunch is next Thursday at the Italian place downtown. I've committed to no email checks after 8 PM.\"\n\n**Good Extraction:**\nreflection|I feel drained after back-to-back calls\nreflection|I've committed to no email checks after 8 PM\ntodo|Book a vacation\nfact|The team lunch is next Thursday at the Italian place downtown\n\n## Rules\n- Extract only items **explicitly stated or strongly implied** \u2014 never invent or infer new information.\n- Use the user's own words/phrasing when possible; minor edits only for clarity/conciseness.\n- Be specific and concrete \u2014 skip vague statements.\n- Limit to **maximum 10 items**.\n- Order by **importance/relevance** (most impactful, urgent, or personal first).\n- Prioritize categories: todo > reflection > fact (if something could fit multiple).\n- If unsure between reflection and fact, choose reflection.\n- Edge cases:\n  - \"I should probably...\" or \"Maybe I need to...\" \u2192 reflection unless clear commitment (\"I'm going to...\").\n  - Wishes/hypotheticals \u2192 reflection only if they reveal a pattern; otherwise omit.\n  - Advice from others \u2192 ignore unless user explicitly adopts it.\n  - Repeated ideas \u2192 extract only once (best phrasing).\n  - Negations (e.g., \"I hate early meetings\") \u2192 reflection.\n\n## Output Format\nOutput **only** the extracted lines, one per item, exactly like this (no preamble, no explanations, no extra text):\n\ntype|text\ntype|text\n...\n\nExtract thoughtfully for maximum signal and relevance.",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1200,
        544
      ],
      "id": "f10c50b2-ae2f-463b-8378-6b36c12d2b21",
      "name": "Extract Items LLM"
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM output in pipe format: \"type|text\"\nlet llmOutput = $input.first().json.text.trim();\nconst context = $('Prepare Context').first().json;\n\ntry {\n  const lines = llmOutput.split('\\n').filter(line => line.includes('|'));\n  const extractions = [];\n  let displayOrder = 1;\n  \n  lines.forEach(line => {\n    const parts = line.split('|');\n    if (parts.length < 2) return;\n    \n    const itemType = parts[0].trim();\n    const text = parts.slice(1).join('|').trim(); // Handle pipes in text\n    \n    // Validate item_type\n    if (!['reflection', 'fact', 'todo'].includes(itemType)) {\n      console.error(`Invalid item_type: ${itemType}`);\n      return;\n    }\n    \n    extractions.push({\n      conversation_id: context.conversation_id,\n      item_type: itemType,\n      text: text,\n      display_order: displayOrder++\n    });\n  });\n  \n  // If no extractions, return empty array with context\n  if (extractions.length === 0) {\n    return [{\n      json: {\n        ...context,\n        extractions: [],\n        has_extractions: false\n      }\n    }];\n  }\n  \n  return [{\n    json: {\n      ...context,\n      extractions: extractions,\n      has_extractions: true\n    }\n  }];\n} catch (error) {\n  // On error, return empty extractions\n  return [{\n    json: {\n      ...context,\n      extractions: [],\n      has_extractions: false,\n      parse_error: error.message\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        544
      ],
      "id": "93bcf029-9040-466f-957c-2a9c8d87a451",
      "name": "Parse Extractions"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e3ae6cd9-7b12-406f-b233-afdc77ea403e",
              "leftValue": "={{ $json.extractions }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -624,
        544
      ],
      "id": "3a3d0695-4532-4b46-bbd1-6fc531e8ad12",
      "name": "Has Extractions?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM thread_extractions WHERE conversation_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $json.conversation_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -400,
        448
      ],
      "id": "a3a014f0-33c5-4103-80aa-6b645163d8b2",
      "name": "Clear Old Extractions",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build SQL query to insert all extractions\nconst data = $('Write Thread Extraction Trace').first().json\nconst extractions = $('Has Extractions?').first().json.extractions;
const extractionTraceId = data.trace_id;\nif (!extractions || extractions.length === 0) {\n  return [];\n}\n\n// 1. Adjusted offset to 4 since we only pass 4 variables per row\nconst values = extractions.map((ext, idx) => {\n  const offset = idx * 5; \n  return `($${offset + 1}::uuid, $${offset + 2}, $${offset + 3}, $${offset + 4}::int, $${offset + 5}::uuid)`;\n}).join(', ');\n\nconst query = `\nINSERT INTO thread_extractions (\n  conversation_id,\n  item_type,\n  text,\n  display_order,\n  extraction_trace_id\n)\nVALUES ${values}\nRETURNING *;\n`;\n\n// 2. The params array now correctly matches the $1, $2, $3, $4, $5... sequence\nconst params = [];\nextractions.forEach(ext => {\n  params.push(ext.conversation_id);\n  params.push(ext.item_type);\n  params.push(ext.text);\n  params.push(ext.display_order);
  params.push(extractionTraceId);
  params.push(extractionTraceId);\n});\n\nreturn [{\n  json: {\n    ...data,\n    sql_query: query,\n    sql_params: params\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        448
      ],
      "id": "6f856663-e8d6-4f8c-9c9c-41a6eab0d27b",
      "name": "Build Insert Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.sql_query }}",
        "options": {
          "queryReplacement": "={{ $json.sql_params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        48,
        448
      ],
      "id": "48cebe42-d9c8-4de1-a10a-d1e09935ad25",
      "name": "Save Extractions to DB",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build Discord summary message\nconst data = $('Parse Extractions').first().json;\nconst extractions = $('Has Extractions?').first().json.extractions;
const extractionTraceId = data.trace_id;\n\nconst numberEmojis = ['1\ufe0f\u20e3', '2\ufe0f\u20e3', '3\ufe0f\u20e3', '4\ufe0f\u20e3', '5\ufe0f\u20e3', '6\ufe0f\u20e3', '7\ufe0f\u20e3', '8\ufe0f\u20e3', '9\ufe0f\u20e3', '\ud83d\udd1f'];\n\nconst notes = extractions.filter(e => \n  e.item_type === 'reflection' || e.item_type === 'fact'\n);\nconst todos = extractions.filter(e => e.item_type === 'todo');\n\nlet content = '\ud83d\udcca **Thread Summary**\\n\\n';\n\nif (notes.length > 0) {\n  content += '\ud83d\udca1 **Insights & Facts**\\n';\n  notes.forEach(item => {\n    const emoji = numberEmojis[item.display_order - 1] || '\u2022';\n    content += `${emoji} ${item.text}\\n`;\n  });\n  content += '\\n';\n}\n\nif (todos.length > 0) {\n  content += '\ud83d\udccb **Action Items**\\n';\n  todos.forEach(item => {\n    const emoji = numberEmojis[item.display_order - 1] || '\u2022';\n    content += `${emoji} ${item.text}\\n`;\n  });\n  content += '\\n';\n}\n\ncontent += '---\\n';\ncontent += 'Tap number emoji to save\\n';\ncontent += '\u274c Dismiss \u2022 \ud83d\uddd1\ufe0f Delete thread';\n\nreturn [{\n  json: {\n    ...data,\n    summary_content: content,\n    emoji_count: extractions.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        448
      ],
      "id": "8cfff2da-39dd-4c84-abab-f5a723655499",
      "name": "Build Summary Message"
    },
    {
      "parameters": {
        "jsCode": "// Get summary message ID from Discord response\nconst summaryMessage = $input.first().json;\nconst summaryMessageId = summaryMessage.id;\n\nconst data = $('Build Summary Message').first().json;\nconst extractions = $('Has Extractions?').first().json.extractions;
const extractionTraceId = data.trace_id;\n\nconst numberEmojis = ['1\ufe0f\u20e3', '2\ufe0f\u20e3', '3\ufe0f\u20e3', '4\ufe0f\u20e3', '5\ufe0f\u20e3', '6\ufe0f\u20e3', '7\ufe0f\u20e3', '8\ufe0f\u20e3', '9\ufe0f\u20e3', '\ud83d\udd1f'];\n\n// Build emoji reaction URLs\nconst reactionUrls = [];\n\n// Add number emojis for each extraction\nextractions.forEach(ext => {\n  const emoji = numberEmojis[ext.display_order - 1];\n  if (emoji) {\n    // URL encode the emoji\n    const encoded = encodeURIComponent(emoji);\n    reactionUrls.push({\n      url: `https://discord.com/api/v10/channels/${data.channel_id}/messages/${summaryMessageId}/reactions/${encoded}/@me`,\n      emoji: emoji\n    });\n  }\n});\n\n// Add control emojis\nreactionUrls.push(\n  {\n    url: `https://discord.com/api/v10/channels/${data.channel_id}/messages/${summaryMessageId}/reactions/%E2%9D%8C/@me`,\n    emoji: '\u274c'\n  },\n  {\n    url: `https://discord.com/api/v10/channels/${data.channel_id}/messages/${summaryMessageId}/reactions/%F0%9F%97%91%EF%B8%8F/@me`,\n    emoji: '\ud83d\uddd1\ufe0f'\n  }\n);\n\nreturn reactionUrls.map(r => ({\n  json: {\n    ...data,\n    summary_message_id: summaryMessageId,\n    reaction_url: r.url,\n    emoji: r.emoji\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        448
      ],
      "id": "d7ff0aa4-b3d1-42f5-a10d-37aad4ec2f56",
      "name": "Prepare Emoji Reactions"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.reaction_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        448
      ],
      "id": "124efe0a-5911-42ba-bd1f-4478da67fdff",
      "name": "Add Emoji Reactions",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE thread_extractions SET summary_message_id = $1 WHERE conversation_id = $2;",
        "options": {
          "queryReplacement": "={{ $('Prepare Emoji Reactions').first().json.summary_message_id }},={{ $('Prepare Emoji Reactions').first().json.conversation_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1168,
        256
      ],
      "id": "cc84e221-84fb-49bb-b72b-e0589a531893",
      "name": "Update Summary Message ID",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://discord.com/api/v10/channels/{{ $('Prepare Context').first().json.channel_id }}/messages/{{ $('Prepare Context').first().json.message_id }}/reactions/\ud83d\udcad/@me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        256
      ],
      "id": "3a889796-3250-4fef-af78-7b779e545595",
      "name": "Remove \ud83d\udcad Reaction",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Execute Workflow Trigger').item.json.event.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Execute Workflow Trigger').item.json.event.thread_id }}",
          "mode": "id"
        },
        "content": "\u274c No items extracted from this thread. You must have had quite an interesting conversation.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -400,
        640
      ],
      "id": "db0c5fb7-27f3-460d-b931-d0610a934431",
      "name": "Post No Extractions Message",
      "webhookId": "no-extractions-webhook",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1072,
        768
      ],
      "id": "1021e602-7ef3-4c22-bc16-74a99d6e8c30",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {
          "timeout": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1200,
        768
      ],
      "id": "aff3ef03-d804-40a6-98d9-b498298f4b69",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.event.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.event.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.event.message_id }}",
        "emoji": "\ud83d\udcad"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1872,
        352
      ],
      "id": "ee2bc94f-b03b-4d5c-a04e-3e80e8e3acf1",
      "name": "React with \ud83d\udcad",
      "webhookId": "2af02bbb-3f0b-490a-b0c9-234c0e9013ae",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.summary_content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        496,
        448
      ],
      "id": "59068362-0e97-4e90-90c3-98373b60e25f",
      "name": "Send a message",
      "webhookId": "b9ec412c-e54b-4542-a3ad-41a388512da2",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        944,
        448
      ],
      "id": "ebfeb17a-a211-4a67-adf9-ec9c26e418cc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1392,
        528
      ],
      "id": "9a504ad1-2ee7-435b-9c81-ff106ef75821",
      "name": "Wait 1 s",
      "webhookId": "1803ab0e-bd94-42cf-8843-a2178b590fa6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "start-time",
              "name": "inference_start",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "pass-context",
              "name": "context",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        544
      ],
      "id": "set-inference-start-save-chat",
      "name": "Set Inference Start"
    },
    {
      "parameters": {
        "jsCode": "// Prepare trace data for thread extraction (Option E schema)\nconst context = $('Set Inference Start').first().json.context;\nconst event = $('Execute Workflow Trigger').first().json.event;\nconst inferenceStart = $('Set Inference Start').first().json.inference_start;\nconst durationMs = Date.now() - inferenceStart;\nconst llmOutput = $('Extract Items LLM').first().json.text;\nconst parsedData = $input.first().json;\n\n// Build filled prompt\nconst promptText = `You are analyzing a conversation thread to extract key insights and actionable items.\n\n## Thread History\n${context.thread_history}\n\n## Task\nExtract and classify the most important items from the thread...`;\n\nreturn [{\n  json: {\n    // Option E schema for trace\n    input_thread_history: context.thread_history,\n    input_conversation_id: context.conversation_id,\n    prompt_text: promptText,\n    completion_text: llmOutput,\n    result_extraction_count: parsedData.extractions?.length || 0,\n    result_has_extractions: parsedData.has_extractions,\n    duration_ms: durationMs,\n    event_id: event.event_id || event.id,\n    trace_chain: event.trace_chain || [],\n    ...parsedData  // Pass through parsed extractions\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        544
      ],
      "id": "prepare-trace-data-save-chat",
      "name": "Prepare Trace Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH new_trace AS (\n  INSERT INTO traces (event_id, parent_trace_id, step_name, step_order, data, trace_chain)\n  VALUES (\n    $1::uuid,\n    ($7::uuid[])[array_upper($7::uuid[], 1)],\n    'thread_extraction',\n    2,\n    jsonb_build_object(\n      'input', jsonb_build_object(\n        'thread_history', $2,\n        'conversation_id', $3::text\n      ),\n      'prompt', $4,\n      'completion', $5,\n      'result', jsonb_build_object(\n        'extraction_count', $6::integer,\n        'has_extractions', true\n      ),\n      'model', 'nvidia/nemotron-nano-9b-v2:free',\n      'duration_ms', $6::integer
    ),
    $7::uuid[]
  )
  RETURNING id\n)\nSELECT \n  new_trace.id as trace_id,\n  $7::uuid[] || new_trace.id as updated_trace_chain\nFROM new_trace;",
        "options": {
          "queryReplacement": "={{ $json.event_id }},={{ $json.input_thread_history }},={{ $json.input_conversation_id }},={{ $json.prompt_text }},={{ $json.completion_text }},={{ $json.result_extraction_count }},={{ JSON.stringify($json.trace_chain) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -512,
        544
      ],
      "id": "write-thread-extraction-trace",
      "name": "Write Thread Extraction Trace",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Conversation ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "React with \ud83d\udcad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation ID": {
      "main": [
        [
          {
            "node": "Get Thread History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Thread History": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Set Inference Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Items LLM": {
      "main": [
        [
          {
            "node": "Parse Extractions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Extractions": {
      "main": [
        [
          {
            "node": "Prepare Trace Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Extractions?": {
      "main": [
        [
          {
            "node": "Clear Old Extractions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post No Extractions Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Old Extractions": {
      "main": [
        [
          {
            "node": "Build Insert Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Insert Query": {
      "main": [
        [
          {
            "node": "Save Extractions to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Extractions to DB": {
      "main": [
        [
          {
            "node": "Build Summary Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary Message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Emoji Reactions": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Emoji Reactions": {
      "main": [
        [
          {
            "node": "Wait 1 s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Summary Message ID": {
      "main": [
        [
          {
            "node": "Remove \ud83d\udcad Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Items LLM",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Items LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "React with \ud83d\udcad": {
      "main": [
        []
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Prepare Emoji Reactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Update Summary Message ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Emoji Reactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 s": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inference Start": {
      "main": [
        [
          {
            "node": "Extract Items LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Trace Data": {
      "main": [
        [
          {
            "node": "Write Thread Extraction Trace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Thread Extraction Trace": {
      "main": [
        [
          {
            "node": "Has Extractions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  },
  "name": "Save_Chat"
}