n8n-workflows/Start_Chat.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "event",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        5216,
        -1008
      ],
      "id": "ea67b05a-13cb-49e9-98eb-43a7b93efc9b",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.event.channel_id }}/messages/{{ $json.event.message_id }}/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"name\": $json.event.clean_text.slice(0, 100) } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5440,
        -1104
      ],
      "id": "01899cad-56b1-48dc-a003-e5f0adf60713",
      "name": "Create Discord Thread",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM config WHERE key = 'north_star';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        5440,
        -912
      ],
      "id": "59555e64-4af7-4120-9ae3-8b45d1679831",
      "name": "Get North Star",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5664,
        -1008
      ],
      "id": "1b4e2de0-a091-485f-9780-425010fca9b4",
      "name": "Wait for Both"
    },
    {
      "parameters": {
        "jsCode": "// Get event from trigger\nconst event = $('Execute Workflow Trigger').first().json.event;\n\n// Access thread creation result (first input to merge)\nconst threadResult = $input.first().json;\nconst threadId = threadResult.id;\n\n// Access north star result (second input to merge)\nconst northStarItems = $input.all();\nlet northStar = 'Not set';\nconst northStarResult = northStarItems.find(item => item.json.value !== undefined);\nif (northStarResult) {\n  northStar = northStarResult.json.value;\n}\n\nreturn [{\n  json: {\n    ...event,\n    north_star: northStar,\n    thread_id: threadId,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5888,
        -1008
      ],
      "id": "40b61d55-d475-4e00-bf05-caf8c63a86a3",
      "name": "Prepare Context"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (\n  thread_id,\n  created_from_raw_event_id,\n  status,\n  topic,\n  metadata\n)\nVALUES (\n  $1,\n  $2::uuid,\n  'active',\n  $3,\n  '{\"initial_message\": true}'::jsonb\n)\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.thread_id }},={{ $json.raw_event_id }},={{ $json.clean_text }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        6112,
        -1008
      ],
      "id": "58f151b8-100c-47c3-a9b7-485d5f3564ee",
      "name": "Store Conversation",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_messages (\n  conversation_id,\n  raw_event_id,\n  timestamp,\n  role,\n  text\n)\nVALUES (\n  $1::uuid,\n  $2::uuid,\n  NOW(),\n  'user',\n  $3\n)\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $('Store Conversation').item.json.id }},={{ $('Prepare Context').item.json.raw_event_id }},={{ $('Prepare Context').item.json.clean_text }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        6336,
        -1008
      ],
      "id": "3db5c532-888f-48cc-aeee-0e32b7d62426",
      "name": "Store User Message",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI life coach helping the user reflect, plan, and think deeply.\n\n## Context Available\n\n**User's Guiding Principle:** {{ $('Prepare Context').item.json.north_star }}\n\nKeep this in mind when helping them, but don't mention it unless directly relevant to the conversation.\n\n## Current Situation\n\nThe user just started a conversation thread with: {{ $('Prepare Context').item.json.clean_text }}\n\nThey are coming to you for help thinking through something.\n\n## Instructions\n\n**Assess the question type:**\n\n**Simple/direct question** (what's X?, how do I Y?) → Answer directly if you can. Be concise (2-3 sentences).\n\n**Planning/reflection/decision** (what should I focus on?, help me think about X) → Signal that you're gathering context, then ask 1 clarifying question. Total 2-3 sentences.\n\n## Style\n\n- Warm and conversational\n- Natural and specific to their words\n- Not robotic or generic\n- Don't force connections to the guiding principle\n- Focus on what they're asking, not on fitting everything into a grand narrative\n\n## Example Responses (for planning/reflection questions)\n\n**User:** what should I focus on today?\n**Good response:** Let me check what you've been working on lately. Are you thinking about what to prioritize right now, or planning for the whole day?\n\n**User:** help me think through this project decision\n**Good response:** I'll look at your recent activities to give you a grounded perspective. What's the core tradeoff you're trying to navigate?\n\n**User:** feeling scattered, what's going on?\n**Good response:** Let me pull up your week so far. When did you first notice feeling scattered - today or has it been building?\n\n**User:** am I making progress on my goals?\n**Good response:** Looking at your recent work to see the patterns. Which goal are you most curious about?\n\nNotice how each response:\n1. Signals gathering context in a natural, varied way\n2. Asks a clarifying question that shows you're listening\n3. Uses different phrasing each time (not robotic)\n4. Matches the user's tone and energy\n\nRespond now to the user's message.",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        6560,
        -1008
      ],
      "id": "cc4cf1a6-5ddb-4653-ab5e-d212f5982ecf",
      "name": "Generate Initial Response"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        6576,
        -784
      ],
      "id": "642fbb2b-d5f7-42fc-8f79-55a2b5754f45",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        6704,
        -784
      ],
      "id": "ae744853-9d6f-4842-a9d4-e8387530c090",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Prepare Context').item.json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Prepare Context').item.json.thread_id }}",
          "mode": "id"
        },
        "content": "={{ $json.text.trim().replace(/^[\"']|[\"']$/g, '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        6912,
        -1008
      ],
      "id": "176ca2df-5bcb-414e-9445-979810318abe",
      "name": "Send Response to Thread",
      "webhookId": "b265fcc0-4670-437b-9913-59b5d32bc95b",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_messages (\n  conversation_id,\n  timestamp,\n  role,\n  text\n)\nVALUES (\n  $1::uuid,\n  NOW(),\n  'assistant',\n  $2\n)\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $('Store Conversation').item.json.id }},={{ $('Generate Initial Response').item.json.text.trim().replace(/^[\"']|[\"']$/g, '') }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        7136,
        -1008
      ],
      "id": "56fe3237-412a-4ac4-af29-4e146d5bcdf6",
      "name": "Store Assistant Response",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Prepare Context').item.json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Prepare Context').item.json.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $('Prepare Context').item.json.message_id }}",
        "emoji": "=🗨️"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        7360,
        -1008
      ],
      "id": "1c119a24-8b4b-4ce3-ba74-edbe7142c75d",
      "name": "React with 🗨️",
      "webhookId": "d9babcdf-8243-4adb-83c8-bbaf038fbfc7",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Create Discord Thread",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get North Star",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Discord Thread": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get North Star": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Store Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Conversation": {
      "main": [
        [
          {
            "node": "Store User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store User Message": {
      "main": [
        [
          {
            "node": "Generate Initial Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Initial Response": {
      "main": [
        [
          {
            "node": "Send Response to Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Initial Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Initial Response",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Send Response to Thread": {
      "main": [
        [
          {
            "node": "Store Assistant Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Assistant Response": {
      "main": [
        [
          {
            "node": "React with 🗨️",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
