n8n-workflows/Start_Chat.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "event",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        12208,
        -1392
      ],
      "id": "f010b5a9-aa6b-4689-b7e2-2af6e60ff6b7",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.event.channel_id }}/messages/{{ $json.event.message_id }}/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"name\": $json.event.clean_text.slice(0, 100) } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12432,
        -1488
      ],
      "id": "6dd5af61-2ec3-48fd-a745-2e0d9ef0e595",
      "name": "Create Discord Thread",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM config WHERE key = 'north_star';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        12432,
        -1296
      ],
      "id": "cbcbe37c-f4a5-4fa0-b1de-cda9d2940f77",
      "name": "Get North Star",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        12656,
        -1392
      ],
      "id": "e4ad150a-aeb6-4497-b15e-45d701097a51",
      "name": "Wait for Both"
    },
    {
      "parameters": {
        "jsCode": "// Get event from trigger\nconst event = $('Execute Workflow Trigger').first().json.event;\n\n// Access thread creation result (first input to merge)\nconst threadResult = $input.first().json;\nconst threadId = threadResult.id;\n\n// Access north star result (second input to merge)\nconst northStarItems = $input.all();\nlet northStar = 'Not set';\nconst northStarResult = northStarItems.find(item => item.json.value !== undefined);\nif (northStarResult) {\n  northStar = northStarResult.json.value;\n}\n\nreturn [{\n  json: {\n    ...event,\n    north_star: northStar,\n    thread_id: threadId,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12880,
        -1392
      ],
      "id": "2d2e8bce-d0e0-490b-bf8e-530f3e8e800b",
      "name": "Prepare Context"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (\n  thread_id,\n  created_from_raw_event_id,\n  status,\n  topic,\n  metadata\n)\nVALUES (\n  $1,\n  $2::uuid,\n  'active',\n  $3,\n  '{\"initial_message\": true}'::jsonb\n)\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.thread_id }},={{ $json.raw_event_id }},={{ $json.clean_text }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        13104,
        -1392
      ],
      "id": "258eb5dd-9e28-4638-90d1-6a86bcff7384",
      "name": "Store Conversation",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_messages (\n  conversation_id,\n  raw_event_id,\n  timestamp,\n  role,\n  text\n)\nVALUES (\n  $1::uuid,\n  $2::uuid,\n  NOW(),\n  'user',\n  $3\n)\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $('Store Conversation').item.json.id }},={{ $('Prepare Context').item.json.raw_event_id }},={{ $('Prepare Context').item.json.clean_text }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        13328,
        -1392
      ],
      "id": "bedb9896-41d0-498e-ab90-85f23ccd3a86",
      "name": "Store User Message",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI life coach helping the user reflect, plan, and think deeply.\n\n## Context Available\n\n**User's Guiding Principle:** {{ $('Prepare Context').item.json.north_star }}\n\nKeep this in mind when helping them, but don't mention it unless directly relevant to the conversation.\n\n## Current Situation\n\nThe user just started a conversation thread with: {{ $('Prepare Context').item.json.clean_text }}\n\nThey are coming to you for help thinking through something.\n\n## Instructions\n\n**Assess the question type:**\n\n**Simple/direct question** (what's X?, how do I Y?) → Answer directly if you can. Be concise (2-3 sentences).\n\n**Planning/reflection/decision** (what should I focus on?, help me think about X) → Signal that you're gathering context, then ask 1 clarifying question. Total 2-3 sentences.\n\n## Style\n\n- Warm and conversational\n- Natural and specific to their words\n- Not robotic or generic\n- Don't force connections to the guiding principle\n- Focus on what they're asking, not on fitting everything into a grand narrative\n\n## Example Responses (for planning/reflection questions)\n\n**User:** what should I focus on today?\n**Good response:** Let me check what you've been working on lately. Are you thinking about what to prioritize right now, or planning for the whole day?\n\n**User:** help me think through this project decision\n**Good response:** I'll look at your recent activities to give you a grounded perspective. What's the core tradeoff you're trying to navigate?\n\n**User:** feeling scattered, what's going on?\n**Good response:** Let me pull up your week so far. When did you first notice feeling scattered - today or has it been building?\n\n**User:** am I making progress on my goals?\n**Good response:** Looking at your recent work to see the patterns. Which goal are you most curious about?\n\nNotice how each response:\n1. Signals gathering context in a natural, varied way\n2. Asks a clarifying question that shows you're listening\n3. Uses different phrasing each time (not robotic)\n4. Matches the user's tone and energy\n\nRespond now to the user's message.",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        13776,
        -1392
      ],
      "id": "10f47a34-6399-48ad-9311-296664f53a05",
      "name": "Generate Initial Response"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        13792,
        -1168
      ],
      "id": "525d71d0-3908-40eb-86ac-ee62991572dd",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        13920,
        -1168
      ],
      "id": "3f756936-935a-4a16-81be-bd847f80490f",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r79IBN16aZtPIN8T",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Prepare Context').item.json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Prepare Context').item.json.thread_id }}",
          "mode": "id"
        },
        "content": "={{ $json.text.trim().replace(/^[\"']|[\"']$/g, '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        14576,
        -1392
      ],
      "id": "3d3eaa20-0766-4d8d-9d4c-5afb74042241",
      "name": "Send Response to Thread",
      "webhookId": "b265fcc0-4670-437b-9913-59b5d32bc95b",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_messages (\n  conversation_id,\n  timestamp,\n  role,\n  text\n)\nVALUES (\n  $1::uuid,\n  NOW(),\n  'assistant',\n  $2\n)\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $('Store Conversation').item.json.id }},={{ $('Generate Initial Response').item.json.text.trim().replace(/^[\"']|[\"']$/g, '') }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        14800,
        -1392
      ],
      "id": "367f02e9-d6e2-4bb0-b7bf-ac8fe179a376",
      "name": "Store Assistant Response",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Prepare Context').item.json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Prepare Context').item.json.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $('Prepare Context').item.json.message_id }}",
        "emoji": "=🗨️"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        15024,
        -1392
      ],
      "id": "32e62f7f-1240-4b72-b4b8-6944f58bca4d",
      "name": "React with 🗨️",
      "webhookId": "d9babcdf-8243-4adb-83c8-bbaf038fbfc7",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "start-time",
              "name": "inference_start",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "pass-context",
              "name": "context",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13552,
        -1392
      ],
      "id": "cddccac4-df06-4ee0-8b90-1e6e0d93d5a2",
      "name": "Set Inference Start"
    },
    {
      "parameters": {
        "jsCode": "// Prepare trace data after LLM inference (Option E schema)\nconst context = $('Set Inference Start').first().json.context;\nconst event = $('Execute Workflow Trigger').first().json.event;\nconst inferenceStart = $('Set Inference Start').first().json.inference_start;\nconst durationMs = Date.now() - inferenceStart;\nconst response = $input.first().json.text;\n\n// Build filled prompt (reconstructed from template)\nconst promptText = `You are an AI life coach helping the user reflect, plan, and think deeply.\n\n## Context Available\n\n**User's Guiding Principle:** ${context.north_star}\n\nKeep this in mind when helping them, but don't mention it unless directly relevant to the conversation.\n\n## Current Situation\n\nThe user just started a conversation thread with: ${context.clean_text}\n\nThey are coming to you for help thinking through something.\n\n## Instructions\n...\n\nRespond to their initial message now.`;\n\nreturn [{\n  json: {\n    // Option E schema for trace\n    input_text: context.clean_text,\n    input_conversation_id: context.thread_id,\n    prompt_text: promptText,\n    completion_text: response,\n    result_response_length: response.length,\n    duration_ms: durationMs,\n    event_id: event.id,\n    trace_chain: event.trace_chain || [],\n    ...context  // Pass through all context fields\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14128,
        -1392
      ],
      "id": "322696a6-e896-48dd-9be2-27fe4851ab7f",
      "name": "Prepare Trace Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH new_trace AS (\n  INSERT INTO traces (event_id, step_name, step_order, data, trace_chain)\n  VALUES (\n    $1::uuid,\n    'thread_initial_response',\n    2,\n    jsonb_build_object(\n      'input', jsonb_build_object(\n        'text', $2,\n        'conversation_id', $3::text\n      ),\n      'prompt', $4,\n      'completion', $5,\n      'result', jsonb_build_object(\n        'response_length', $6::integer\n      ),\n      'model', 'nvidia/nemotron-nano-9b-v2:free',\n      'duration_ms', $6::integer\n    ),\n    $7::uuid[]\n  )\n  RETURNING id\n)\nSELECT \n  new_trace.id as trace_id,\n  $7::uuid[] || new_trace.id as updated_trace_chain\nFROM new_trace;",
        "options": {
          "queryReplacement": "={{ $json.event_id }},={{ $json.input_text }},={{ $json.input_conversation_id }},={{ $json.prompt_text }},={{ $json.completion_text }},={{ $json.duration_ms }},={{ JSON.stringify($json.trace_chain) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        14352,
        -1392
      ],
      "id": "61a9e1d0-309b-45a2-a79c-03a250e6032c",
      "name": "Write Thread Initial Trace",
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Create Discord Thread",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get North Star",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Discord Thread": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get North Star": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Store Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Conversation": {
      "main": [
        [
          {
            "node": "Store User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store User Message": {
      "main": [
        [
          {
            "node": "Set Inference Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Initial Response": {
      "main": [
        [
          {
            "node": "Prepare Trace Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Initial Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Initial Response",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Send Response to Thread": {
      "main": [
        [
          {
            "node": "Store Assistant Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Assistant Response": {
      "main": [
        [
          {
            "node": "React with 🗨️",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inference Start": {
      "main": [
        [
          {
            "node": "Generate Initial Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Trace Data": {
      "main": [
        [
          {
            "node": "Write Thread Initial Trace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Thread Initial Trace": {
      "main": [
        [
          {
            "node": "Send Response to Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  }
}
