n8n-workflows/Start_Thread.json
{
  "name": "Start_Thread",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        18496,
        -2320
      ],
      "id": "a929c09f-94de-42dc-a2ff-923accc5e9ab",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.ctx.event.channel_id }}/messages/{{ $json.ctx.event.message_id }}/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"name\": $json.ctx.event.clean_text.slice(0, 100) } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        18720,
        -2320
      ],
      "id": "85fce562-824f-47c1-83cf-ea4d7e807ea4",
      "name": "Create Discord Thread",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "discordBotApi": {
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI life coach helping the user reflect, plan, and think deeply.\n\n## Context Available\n\n**User's Guiding Principle:** {{ $json.ctx.db.north_star }}\n\nKeep this in mind when helping them, but don't mention it unless directly relevant to the conversation.\n\n## Current Situation\n\nThe user just started a conversation thread with: {{ $json.ctx.event.clean_text }}\n\nThey are coming to you for help thinking through something.\n\n## Instructions\n\n**Assess the question type:**\n\n**Simple/direct question** (what's X?, how do I Y?) → Answer directly if you can. Be concise (2-3 sentences).\n\n**Planning/reflection/decision** (what should I focus on?, help me think about X) → Signal that you're gathering context, then ask 1 clarifying question. Total 2-3 sentences.\n\n## Style\n\n- Warm and conversational\n- Natural and specific to their words\n- Not robotic or generic\n- Don't force connections to the guiding principle\n- Focus on what they're asking, not on fitting everything into a grand narrative\n\n## Example Responses (for planning/reflection questions)\n\n**User:** what should I focus on today?\n**Good response:** Let me check what you've been working on lately. Are you thinking about what to prioritize right now, or planning for the whole day?\n\n**User:** help me think through this project decision\n**Good response:** I'll look at your recent activities to give you a grounded perspective. What's the core tradeoff you're trying to navigate?\n\n**User:** feeling scattered, what's going on?\n**Good response:** Let me pull up your week so far. When did you first notice feeling scattered - today or has it been building?\n\n**User:** am I making progress on my goals?\n**Good response:** Looking at your recent work to see the patterns. Which goal are you most curious about?\n\nNotice how each response:\n1. Signals gathering context in a natural, varied way\n2. Asks a clarifying question that's conversational and specific, not generic\n\nRespond to their initial message now.",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        19616,
        -2320
      ],
      "id": "f6f390a8-c453-4cee-8d6d-2b9a415e3a29",
      "name": "Generate Initial Response"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        19624,
        -2096
      ],
      "id": "0c6a309d-86ff-4aa3-b02f-33230ae4f092",
      "name": "nemotron-nano-9b",
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        19752,
        -2096
      ],
      "id": "60963dec-c78a-4918-8b32-12e1a0f25d8b",
      "name": "mimo-v2-flash",
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare db_queries for trace + projection storage\nconst ctx = $json.ctx || {};\n\nconst response = ctx.llm?.completion_text || '';\nconst inferenceStart = ctx.llm?.inference_start || Date.now();\nconst durationMs = Date.now() - inferenceStart;\n\n// Build filled prompt (reconstructed from template)\nconst northStar = ctx.llm?.north_star || '(not set)';\nconst cleanText = ctx.event?.clean_text || '';\nconst promptText = `You are an AI life coach...\\n\\nUser's Guiding Principle: ${northStar}\\n\\nThe user started with: ${cleanText}`;\n\n// Prepare db_queries for Execute_Queries\nconst db_queries = [\n  {\n    key: 'trace',\n    sql: `WITH new_trace AS (\n            INSERT INTO traces (event_id, step_name, data, trace_chain)\n            VALUES ($1::uuid, 'thread_initial_response',\n              jsonb_build_object(\n                'input', jsonb_build_object('text', $2, 'thread_id', $3::text),\n                'prompt', $4,\n                'completion', $5,\n                'result', jsonb_build_object('response_length', $6::integer),\n                'model', 'nvidia/nemotron-nano-9b-v2:free',\n                'duration_ms', $7::integer\n              ), $8::uuid[])\n            RETURNING id\n          )\n          SELECT new_trace.id as trace_id, $8::uuid[] || new_trace.id as updated_trace_chain\n          FROM new_trace`,\n    params: [\n      ctx.event?.event_id,\n      cleanText,\n      ctx.thread?.id,\n      promptText,\n      response,\n      response.length,\n      durationMs,\n      ctx.event?.trace_chain || []\n    ]\n  },\n  {\n    key: 'projection',\n    sql: `INSERT INTO projections (event_id, trace_id, trace_chain, projection_type, status, data, timezone)\n          VALUES ($1::uuid, $2::uuid, $3::uuid[], 'thread_response', 'auto_confirmed',\n            jsonb_build_object(\n              'thread_id', $4,\n              'response_text', $5,\n              'role', 'assistant',\n              'timestamp', $6::timestamptz\n            ), $7)\n          RETURNING id`,\n    params: [\n      ctx.event?.event_id,\n      '$results.trace.row.trace_id',\n      '$results.trace.row.updated_trace_chain',\n      ctx.thread?.id,\n      response,\n      ctx.event?.timestamp,\n      ctx.event?.timezone\n    ]\n  }\n];\n\nreturn [{\n  json: {\n    ctx: {\n      ...ctx,\n      db_queries\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20288,
        -2320
      ],
      "id": "prepare-write-queries",
      "name": "Prepare Write Queries"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.ctx.event.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.ctx.thread.id }}",
          "mode": "id"
        },
        "content": "={{ $json.ctx.llm.completion_text.trim().replace(/^[\"']|[\"']$/g, '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        20064,
        -2320
      ],
      "id": "a5785f29-feef-42f4-8da5-d5eaeb9fd055",
      "name": "Send Response to Thread",
      "webhookId": "b265fcc0-4670-437b-9913-59b5d32bc95b",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "discordBotApi": {
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.ctx.event.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.ctx.event.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.ctx.event.message_id }}",
        "emoji": "=🗨️"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        18720,
        -2560
      ],
      "id": "1e7b0d2a-54ee-4607-bcd9-7872585cb7c1",
      "name": "React with 🗨️",
      "webhookId": "d9babcdf-8243-4adb-83c8-bbaf038fbfc7",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "discordBotApi": {
          "name": "Discord Bot account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://discord.com/api/v10/channels/{{ $json.ctx.event.channel_id }}/messages/{{ $json.ctx.event.message_id }}/reactions/🔵/@me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        18720,
        -2080
      ],
      "id": "remove-blue-reaction-start-chat",
      "name": "Remove 🔵 Reaction",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "discordBotApi": {
          "name": "Discord Bot account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Execute_Queries"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        20512,
        -2320
      ],
      "id": "execute-write-queries",
      "name": "Execute_Queries (Write)"
    },
    {
      "parameters": {
        "jsCode": "// Prepare north_star query and build initial ctx\nconst triggerData = $json;\nconst ctx = triggerData.ctx || {};\n\nconst db_queries = [\n  {\n    key: 'north_star',\n    sql: \"SELECT value FROM config WHERE key = 'north_star'\"\n  }\n];\n\nreturn [{\n  json: {\n    ctx: {\n      ...ctx,\n      db_queries\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18944,
        -2320
      ],
      "id": "prepare-read-queries",
      "name": "Prepare Read Queries"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WILL_BE_FIXED_BY_DEPLOY",
          "mode": "list",
          "cachedResultName": "Execute_Queries"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        19168,
        -2320
      ],
      "id": "execute-read-queries",
      "name": "Execute_Queries (Read)"
    },
    {
      "parameters": {
        "jsCode": "// Build context for LLM from thread and db results\nconst ctx = $json.ctx || {};\nconst threadData = $('Create Discord Thread').first().json;\n\n// Get north_star from Execute_Queries result\nconst northStar = ctx.db?.north_star?.row?.value || '(not set)';\n\n// Preserve all ctx.event fields and add thread + llm context\nreturn [{\n  json: {\n    ctx: {\n      event: {\n        event_id: ctx.event?.event_id,\n        channel_id: ctx.event?.channel_id,\n        message_id: ctx.event?.message_id,\n        guild_id: ctx.event?.guild_id,\n        clean_text: ctx.event?.clean_text,\n        timestamp: ctx.event?.timestamp,\n        timezone: ctx.event?.timezone,\n        trace_chain: ctx.event?.trace_chain\n      },\n      thread: {\n        id: threadData.id\n      },\n      db: {\n        north_star: northStar\n      },\n      llm: {\n        inference_start: Date.now(),\n        north_star: northStar\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19392,
        -2320
      ],
      "id": "build-llm-context",
      "name": "Build LLM Context"
    },
    {
      "parameters": {
        "jsCode": "// Add LLM response to ctx\nconst prevData = $('Build LLM Context').first().json;\nconst ctx = prevData.ctx;\nconst llmResponse = $json.text || '';\n\nreturn [{\n  json: {\n    ctx: {\n      ...ctx,\n      llm: {\n        ...ctx.llm,\n        completion_text: llmResponse\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19840,
        -2320
      ],
      "id": "set-llm-response",
      "name": "Set LLM Response"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Create Discord Thread",
            "type": "main",
            "index": 0
          },
          {
            "node": "React with 🗨️",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove 🔵 Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Discord Thread": {
      "main": [
        [
          {
            "node": "Prepare Read Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Read Queries": {
      "main": [
        [
          {
            "node": "Execute_Queries (Read)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute_Queries (Read)": {
      "main": [
        [
          {
            "node": "Build LLM Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Context": {
      "main": [
        [
          {
            "node": "Generate Initial Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Initial Response": {
      "main": [
        [
          {
            "node": "Set LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set LLM Response": {
      "main": [
        [
          {
            "node": "Send Response to Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Response to Thread": {
      "main": [
        [
          {
            "node": "Prepare Write Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Write Queries": {
      "main": [
        [
          {
            "node": "Execute_Queries (Write)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "React with 🗨️": {
      "main": [
        []
      ]
    },
    "Remove 🔵 Reaction": {
      "main": [
        []
      ]
    },
    "nemotron-nano-9b": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Initial Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "mimo-v2-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Initial Response",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "JOXLqn9TTznBdo7Q"
  },
  "staticData": null,
  "meta": null,
  "active": false
}
