n8n-workflows-transformed/Start_Thread.json
{
  "updatedAt": "2025-12-24T08:53:16.587Z",
  "createdAt": "2025-12-23T09:30:32.352Z",
  "id": "9z0gv8DzdPC76trq",
  "name": "Start_Thread",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        18496,
        -2320
      ],
      "id": "a929c09f-94de-42dc-a2ff-923accc5e9ab",
      "name": "ExecuteWorkflowTrigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.ctx.event.channel_id }}/messages/{{ $json.ctx.event.message_id }}/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"name\": $json.ctx.event.clean_text.slice(0, 100) } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        18720,
        -2320
      ],
      "id": "85fce562-824f-47c1-83cf-ea4d7e807ea4",
      "name": "CreateDiscordThread",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "discordBotApi": {
          "id": "HzhURrgtJQZuwPMZ",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mock LLM Chain node: GenerateInitialResponse\nconst input = $input.first().json;\nconst inputText = input.ctx?.event?.clean_text \n  || input.text \n  || input.prompt \n  || \"\";\n\n// Check for specific keywords to provide more realistic mocks\nlet response = \"[MOCK LLM] I processed your request.\";\n\nif (inputText.includes(\"!!\") || inputText.toLowerCase().includes(\"act\")) {\n  response = \"[MOCK LLM] Activity recorded: \" + inputText.replace(/!!|act/i, \"\").trim();\n} else if (inputText.includes(\"..\") || inputText.toLowerCase().includes(\"note\")) {\n  response = \"[MOCK LLM] Note saved.\";\n} else if (inputText.includes(\"$$\") || inputText.toLowerCase().includes(\"todo\")) {\n  response = \"[MOCK LLM] Added to your todo list.\";\n} else if (inputText.includes(\"++\")) {\n  response = \"[MOCK LLM] I am starting a new thread for you. How can I help?\";\n} else if (inputText.includes(\"--\")) {\n  response = \"[MOCK LLM] Thread summarized and closed.\";\n}\n\nreturn [{ \n  json: { \n    text: response,\n    _mock: true,\n    _original_node: \"GenerateInitialResponse\",\n    _input_preview: inputText.substring(0, 200)\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19616,
        -2320
      ],
      "id": "f6f390a8-c453-4cee-8d6d-2b9a415e3a29",
      "name": "GenerateInitialResponse"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        19624,
        -2096
      ],
      "id": "0c6a309d-86ff-4aa3-b02f-33230ae4f092",
      "name": "NemotronNano9b",
      "credentials": {
        "openRouterApi": {
          "id": "nB20cMgvlwePo3oC",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        19752,
        -2096
      ],
      "id": "60963dec-c78a-4918-8b32-12e1a0f25d8b",
      "name": "MimoV2Flash",
      "credentials": {
        "openRouterApi": {
          "id": "nB20cMgvlwePo3oC",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare db_queries for trace + projection storage\nconst ctx = $json.ctx || {};\n\nconst response = ctx.llm?.completion_text || '';\nconst inferenceStart = ctx.llm?.inference_start || Date.now();\nconst durationMs = Date.now() - inferenceStart;\n\n// Build filled prompt (reconstructed from template)\nconst northStar = ctx.llm?.north_star || '(not set)';\nconst cleanText = ctx.event?.clean_text || '';\nconst promptText = `You are an AI life coach...\\n\\nUser's Guiding Principle: ${northStar}\\n\\nThe user started with: ${cleanText}`;\n\n// Prepare db_queries for Execute_Queries\nconst db_queries = [\n  {\n    key: 'trace',\n    sql: `WITH new_trace AS (\n            INSERT INTO traces (event_id, step_name, data, trace_chain)\n            VALUES ($1::uuid, 'thread_initial_response',\n              jsonb_build_object(\n                'input', jsonb_build_object('text', $2, 'thread_id', $3::text),\n                'prompt', $4,\n                'completion', $5,\n                'result', jsonb_build_object('response_length', $6::integer),\n                'model', 'nvidia/nemotron-nano-9b-v2:free',\n                'duration_ms', $7::integer\n              ), $8::uuid[])\n            RETURNING id\n          )\n          SELECT new_trace.id as trace_id, $8::uuid[] || new_trace.id as updated_trace_chain\n          FROM new_trace`,\n    params: [\n      ctx.event?.event_id,\n      cleanText,\n      ctx.thread?.id,\n      promptText,\n      response,\n      response.length,\n      durationMs,\n      ctx.event?.trace_chain || []\n    ]\n  },\n  {\n    key: 'projection',\n    sql: `INSERT INTO projections (event_id, trace_id, trace_chain, projection_type, status, data, timezone)\n          VALUES ($1::uuid, $2::uuid, $3::uuid[], 'thread_response', 'auto_confirmed',\n            jsonb_build_object(\n              'thread_id', $4,\n              'response_text', $5,\n              'role', 'assistant',\n              'timestamp', $6::timestamptz\n            ), $7)\n          RETURNING id`,\n    params: [\n      ctx.event?.event_id,\n      '$results.trace.row.trace_id',\n      '$results.trace.row.updated_trace_chain',\n      ctx.thread?.id,\n      response,\n      ctx.event?.timestamp,\n      ctx.event?.timezone\n    ]\n  }\n];\n\nreturn {\n  json: {\n    ctx: {\n      ...ctx,\n      db_queries\n    }\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20288,
        -2320
      ],
      "id": "prepare-write-queries",
      "name": "PrepareWriteQueries"
    },
    {
      "parameters": {
        "jsCode": "// Mock Discord node: SendResponseToThread\n// Returns fake Discord API response for dev testing\nconst input = $input.first().json;\nreturn [{ \n  json: { \n    id: \"mock-discord-\" + Date.now(),\n    channel_id: input.channelId || \"mock-channel\",\n    content: input.content || \"\",\n    success: true,\n    _mock: true,\n    _original_node: \"SendResponseToThread\"\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20064,
        -2320
      ],
      "id": "a5785f29-feef-42f4-8da5-d5eaeb9fd055",
      "name": "SendResponseToThread",
      "webhookId": "b265fcc0-4670-437b-9913-59b5d32bc95b",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "// Mock Discord node: ReactWith\ud83d\udde8\ufe0f\n// Returns fake Discord API response for dev testing\nconst input = $input.first().json;\nreturn [{ \n  json: { \n    id: \"mock-discord-\" + Date.now(),\n    channel_id: input.channelId || \"mock-channel\",\n    content: input.content || \"\",\n    success: true,\n    _mock: true,\n    _original_node: \"ReactWith\ud83d\udde8\ufe0f\"\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18720,
        -2560
      ],
      "id": "1e7b0d2a-54ee-4607-bcd9-7872585cb7c1",
      "name": "ReactWith\ud83d\udde8\ufe0f",
      "webhookId": "d9babcdf-8243-4adb-83c8-bbaf038fbfc7",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://discord.com/api/v10/channels/{{ $json.ctx.event.channel_id }}/messages/{{ $json.ctx.event.message_id }}/reactions/\ud83d\udd35/@me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        18720,
        -2080
      ],
      "id": "remove-blue-reaction-start-chat",
      "name": "Remove\ud83d\udd35Reaction",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "discordBotApi": {
          "id": "HzhURrgtJQZuwPMZ",
          "name": "Discord Bot account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CgUAxK0i4YhrZ2Wp",
          "mode": "list",
          "cachedResultName": "Execute_Queries",
          "cachedResultUrl": "/workflow/CgUAxK0i4YhrZ2Wp"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ctx": "={{ $json.ctx }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        20512,
        -2320
      ],
      "id": "execute-write-queries",
      "name": "ExecuteQueries(write)"
    },
    {
      "parameters": {
        "jsCode": "// Prepare north_star query and build initial ctx\nconst triggerData = $json;\nconst ctx = triggerData.ctx || {};\n\nconst db_queries = [\n  {\n    key: 'north_star',\n    sql: \"SELECT value FROM config WHERE key = 'north_star'\"\n  }\n];\n\nreturn {\n  json: {\n    ctx: {\n      ...ctx,\n      db_queries\n    }\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18944,
        -2320
      ],
      "id": "prepare-read-queries",
      "name": "PrepareReadQueries"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CgUAxK0i4YhrZ2Wp",
          "mode": "list",
          "cachedResultName": "Execute_Queries",
          "cachedResultUrl": "/workflow/CgUAxK0i4YhrZ2Wp"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ctx": "={{ $json.ctx }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        19168,
        -2320
      ],
      "id": "execute-read-queries",
      "name": "ExecuteQueries(read)"
    },
    {
      "parameters": {
        "jsCode": "// Build context for LLM from thread and db results\nconst ctx = $json.ctx || {};\nconst threadData = $('CreateDiscordThread').first().json;\n\n// Get north_star from Execute_Queries result\nconst northStar = ctx.db?.north_star?.row?.value || '(not set)';\n\n// Preserve all ctx.event fields and add thread + llm context\nreturn {\n  json: {\n    ctx: {\n      event: {\n        event_id: ctx.event?.event_id,\n        channel_id: ctx.event?.channel_id,\n        message_id: ctx.event?.message_id,\n        guild_id: ctx.event?.guild_id,\n        clean_text: ctx.event?.clean_text,\n        timestamp: ctx.event?.timestamp,\n        timezone: ctx.event?.timezone,\n        trace_chain: ctx.event?.trace_chain\n      },\n      thread: {\n        id: threadData.id\n      },\n      db: {\n        north_star: northStar\n      },\n      llm: {\n        inference_start: Date.now(),\n        north_star: northStar\n      }\n    }\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19392,
        -2320
      ],
      "id": "build-llm-context",
      "name": "BuildLlmContext"
    },
    {
      "parameters": {
        "jsCode": "// Add LLM response to ctx\nconst prevData = $('BuildLlmContext').first().json;\nconst ctx = prevData.ctx;\nconst llmResponse = $json.text || '';\n\nreturn {\n  json: {\n    ctx: {\n      ...ctx,\n      llm: {\n        ...ctx.llm,\n        completion_text: llmResponse\n      }\n    }\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19840,
        -2320
      ],
      "id": "set-llm-response",
      "name": "SetLlmResponse"
    }
  ],
  "connections": {
    "ExecuteWorkflowTrigger": {
      "main": [
        [
          {
            "node": "CreateDiscordThread",
            "type": "main",
            "index": 0
          },
          {
            "node": "ReactWith\ud83d\udde8\ufe0f",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove\ud83d\udd35Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateDiscordThread": {
      "main": [
        [
          {
            "node": "PrepareReadQueries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareReadQueries": {
      "main": [
        [
          {
            "node": "ExecuteQueries(read)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExecuteQueries(read)": {
      "main": [
        [
          {
            "node": "BuildLlmContext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildLlmContext": {
      "main": [
        [
          {
            "node": "GenerateInitialResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenerateInitialResponse": {
      "main": [
        [
          {
            "node": "SetLlmResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetLlmResponse": {
      "main": [
        [
          {
            "node": "SendResponseToThread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendResponseToThread": {
      "main": [
        [
          {
            "node": "PrepareWriteQueries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareWriteQueries": {
      "main": [
        [
          {
            "node": "ExecuteQueries(write)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReactWith\ud83d\udde8\ufe0f": {
      "main": [
        []
      ]
    },
    "Remove\ud83d\udd35Reaction": {
      "main": [
        []
      ]
    },
    "NemotronNano9b": {
      "ai_languageModel": [
        [
          {
            "node": "GenerateInitialResponse",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MimoV2Flash": {
      "ai_languageModel": [
        [
          {
            "node": "GenerateInitialResponse",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "NOJ7FqVhVLqw0n8D",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "transformedForDev": true
  },
  "versionId": "cf643934-0e4c-47b4-b881-746d6b5443e1",
  "activeVersionId": null,
  "versionCounter": 184,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-23T09:30:32.352Z",
      "createdAt": "2025-12-23T09:30:32.352Z",
      "role": "workflow:owner",
      "workflowId": "9z0gv8DzdPC76trq",
      "projectId": "erM3nntdLL53noWi",
      "project": {
        "updatedAt": "2025-12-23T09:23:39.658Z",
        "createdAt": "2025-12-23T09:16:56.460Z",
        "id": "erM3nntdLL53noWi",
        "name": "Chris Irineo <chriskevini@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-23T09:16:56.460Z",
            "createdAt": "2025-12-23T09:16:56.460Z",
            "userId": "2a851a2d-b7e5-4b3c-aefb-6eaaa79e0659",
            "projectId": "erM3nntdLL53noWi",
            "user": {
              "updatedAt": "2025-12-24T08:40:46.063Z",
              "createdAt": "2025-12-23T09:16:54.881Z",
              "id": "2a851a2d-b7e5-4b3c-aefb-6eaaa79e0659",
              "email": "chriskevini@gmail.com",
              "firstName": "Chris",
              "lastName": "Irineo",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-23T09:23:43.723Z",
                "personalization_survey_n8n_version": "1.123.5"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "CgUAxK0i4YhrZ2Wp",
                "userActivatedAt": 1766487000077,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}