backup/n8n-workflows/Handle_Error.json
{
  "name": "Handle_Error",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        240
      ],
      "id": "error-trigger-handle-error",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Extract error details from n8n error trigger\nconst errorData = $input.first().json;\n\n// n8n provides: execution, workflow, error\nconst execution = errorData.execution || {};\nconst workflow = errorData.workflow || {};\nconst error = execution.error || {};\n\n// Get the node that failed\nconst failedNode = error.node?.name || 'Unknown Node';\nconst errorMessage = error.message || 'No error message';\nconst errorStack = error.stack || '';\n\n// Get workflow info\nconst workflowName = workflow.name || 'Unknown Workflow';\nconst workflowId = workflow.id || 'N/A';\n\n// Get execution info\nconst executionId = execution.id || 'N/A';\nconst executionMode = execution.mode || 'N/A';\n\n// Try to extract channel_id from the execution data for context\nlet channelId = null;\nlet messagePreview = '';\n\ntry {\n  // Look through execution data to find channel_id\n  const executionData = execution.data?.resultData?.runData || {};\n  for (const nodeName of Object.keys(executionData)) {\n    const nodeRuns = executionData[nodeName];\n    if (nodeRuns && nodeRuns[0]?.data?.main?.[0]?.[0]?.json) {\n      const json = nodeRuns[0].data.main[0][0].json;\n      // Check various places where channel_id might be\n      channelId = json.ctx?.event?.channel_id || json.channel_id || json.body?.channel_id;\n      if (json.ctx?.event?.clean_text) {\n        messagePreview = json.ctx.event.clean_text.substring(0, 100);\n      }\n      if (channelId) break;\n    }\n  }\n} catch (e) {\n  // Ignore errors in extraction\n}\n\n// Build Discord message\nlet content = `🚨 **Workflow Error**\\n\\n`;\ncontent += `**Workflow:** ${workflowName}\\n`;\ncontent += `**Failed Node:** ${failedNode}\\n`;\ncontent += `**Error:** ${errorMessage}\\n`;\n\nif (messagePreview) {\n  content += `**Message:** \"${messagePreview}\"\\n`;\n}\n\ncontent += `\\n**Execution ID:** \\`${executionId}\\`\\n`;\ncontent += `**Mode:** ${executionMode}`;\n\n// Truncate if too long for Discord (2000 char limit)\nif (content.length > 1900) {\n  content = content.substring(0, 1900) + '\\n... (truncated)';\n}\n\nreturn [{\n  json: {\n    content: content,\n    workflow_name: workflowName,\n    workflow_id: workflowId,\n    failed_node: failedNode,\n    error_message: errorMessage,\n    execution_id: executionId,\n    channel_id: channelId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        240
      ],
      "id": "format-error-handle-error",
      "name": "Format Error Message"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_GUILD_ID }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $env.DISCORD_CHANNEL_KAIRON_LOGS }}",
          "mode": "id"
        },
        "content": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        48,
        240
      ],
      "id": "send-error-discord-handle-error",
      "name": "Send Error to Discord",
      "webhookId": "error-notification-webhook",
      "credentials": {
        "discordBotApi": {
          "id": "hvetTjtpeKFB1V0I",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Message": {
      "main": [
        [
          {
            "node": "Send Error to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "active": false
}
