backup/n8n-workflows/Route_Reaction.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        512
      ],
      "id": "trigger-node",
      "name": "Receive Event"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-add-reaction",
              "leftValue": "={{ $json.action }}",
              "rightValue": "add",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -144,
        512
      ],
      "id": "check-action",
      "name": "Is Add Reaction?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT conversation_id FROM thread_extractions WHERE summary_message_id = $1;",
        "options": {
          "queryReplacement": "={{ $json.message_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        80,
        512
      ],
      "id": "check-summary",
      "name": "Check if Summary Message",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MdnYzEgjzWRujz2v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-conversation-id",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        304,
        512
      ],
      "id": "check-result",
      "name": "Is Summary Message?"
    },
    {
      "parameters": {
        "jsCode": "// Merge original flat event data with conversation_id from DB query\nconst originalEvent = $('Receive Event').item.json;\nconst conversationId = $json.conversation_id;\n\nreturn [{\n  json: {\n    ...originalEvent,\n    conversation_id: conversationId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        512
      ],
      "id": "add-conversation",
      "name": "Add Conversation ID"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "po34MNNwDBJKdf4N",
          "mode": "list",
          "cachedResultUrl": "/workflow/po34MNNwDBJKdf4N",
          "cachedResultName": "Save_Extraction"
        },
        "inputSource": "passthrough",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        752,
        512
      ],
      "id": "save-extraction",
      "name": "Save Extraction"
    }
  ],
  "connections": {
    "Receive Event": {
      "main": [
        [
          {
            "node": "Is Add Reaction?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Add Reaction?": {
      "main": [
        [
          {
            "node": "Check if Summary Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Summary Message": {
      "main": [
        [
          {
            "node": "Is Summary Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Summary Message?": {
      "main": [
        [
          {
            "node": "Add Conversation ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Conversation ID": {
      "main": [
        [
          {
            "node": "Save Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "71ef632b3ea0984c927b7776c61fb9a372c4b6670ebd74c359a3b7c4a8989adc"
  },
  "name": "Route_Reaction"
}
