backup/n8n-workflows/Route_Reaction.json
{
  "name": "Route_Reaction",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        512
      ],
      "id": "trigger-node",
      "name": "Receive Event"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-add-reaction",
              "leftValue": "={{ $json.ctx.event.action }}",
              "rightValue": "add",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -144,
        512
      ],
      "id": "check-action",
      "name": "Is Add Reaction?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "is-number-emoji",
                    "leftValue": "={{ $json.ctx.event.emoji }}",
                    "rightValue": "1️⃣,2️⃣,3️⃣,4️⃣,5️⃣,6️⃣,7️⃣,8️⃣,9️⃣,🔟,❌,🗑️",
                    "operator": {
                      "type": "string",
                      "operation": "containedIn"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Extraction"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        80,
        512
      ],
      "id": "route-by-emoji",
      "name": "Route by Emoji"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "po34MNNwDBJKdf4N",
          "mode": "list",
          "cachedResultUrl": "/workflow/po34MNNwDBJKdf4N",
          "cachedResultName": "Save_Extraction"
        },
        "inputSource": "passthrough",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        304,
        512
      ],
      "id": "save-extraction",
      "name": "Save Extraction"
    }
  ],
  "connections": {
    "Receive Event": {
      "main": [
        [
          {
            "node": "Is Add Reaction?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Add Reaction?": {
      "main": [
        [
          {
            "node": "Route by Emoji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Emoji": {
      "main": [
        [
          {
            "node": "Save Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "JOXLqn9TTznBdo7Q"
  },
  "staticData": null,
  "meta": null,
  "active": false
}
